<div class="Container Max-width">
	<div class="section-video-reviews__wrapper">
		<div class="Title">
			<div class="Title__wrapper--theme-m Title__wrapper--quartz">
				<h2>Видеообзоры</h2>
			</div>
		</div>
		
		<div class="swiper-container section-video-reviews__swiper-container">
			<div class="swiper-wrapper section-video-reviews__wrapper">


				<div class="swiper-slide section-video-reviews__slide">
					<div class="Video-reviews__block-video  section-video-reviews">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="">
						<a href="#popup-video-reviews" data-fancybox-window="">
						<div class="Video-reviews__icon">
							<svg class="Video-reviews__icon-svg">
								<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
							</svg>
						</div>
						</a>
						</div>
				</div>
				<div class="swiper-slide section-video-reviews__slide">
					<div class="Video-reviews__block-video  section-video-reviews">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="">
						<a href="#popup-video-reviews" data-fancybox-window="">
						<div class="Video-reviews__icon">
							<svg class="Video-reviews__icon-svg">
								<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
							</svg>
						</div>
						</a>
						</div>
				</div>
				<div class="swiper-slide section-video-reviews__slide">
					<div class="Video-reviews__block-video  section-video-reviews">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="">
						<a href="#popup-video-reviews" data-fancybox-window="">
						<div class="Video-reviews__icon">
							<svg class="Video-reviews__icon-svg">
								<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
							</svg>
						</div>
						</a>
						</div>
				</div>
				<div class="swiper-slide section-video-reviews__slide">
					<div class="Video-reviews__block-video  section-video-reviews">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="">
						<a href="#popup-video-reviews" data-fancybox-window="">
						<div class="Video-reviews__icon">
							<svg class="Video-reviews__icon-svg">
								<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
							</svg>
						</div>
						</a>
						</div>
				</div>
				<div class="swiper-slide section-video-reviews__slide">
					<div class="Video-reviews__block-video  section-video-reviews">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="">
						<a href="#popup-video-reviews" data-fancybox-window="">
						<div class="Video-reviews__icon">
							<svg class="Video-reviews__icon-svg">
								<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
							</svg>
						</div>
						</a>
						</div>
				</div>
				<div class="swiper-slide section-video-reviews__slide">
					<div class="Video-reviews__block-video  section-video-reviews">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="">
						<a href="#popup-video-reviews" data-fancybox-window="">
						<div class="Video-reviews__icon">
							<svg class="Video-reviews__icon-svg">
								<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
							</svg>
						</div>
						</a>
						</div>
				</div>
				<div class="swiper-slide section-video-reviews__slide">
					<div class="Video-reviews__block-video  section-video-reviews">
						<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="">
						<a href="#popup-video-reviews" data-fancybox-window="">
						<div class="Video-reviews__icon">
							<svg class="Video-reviews__icon-svg">
								<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
							</svg>
						</div>
						</a>
						</div>
				</div>





			</div>

			<div class="Swiper-button-next-video-reviews Swiper-button-default">
	
					<svg class="Swiper-button-default__svg">
						<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
					</svg>

			</div>

			<div class="Swiper-button-prev-video-reviews Swiper-button-default">

					<svg class="Swiper-button-default__svg">
						<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
					</svg>

			</div>

			
		</div>

		<div class="section-video-reviews__button">
		<a class="Button Button--gray-light Button--theme-s Button--theme-s-w" href="#">
			<span class="Button__text">Посмотреть все</span>
			<span class="Button__icon">
				<svg class="Button__icon-svg">
					<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
				</svg>
			</span>
		</a>
	</div>
	
	</div>
</div>