<div class="swiper-container popup-selection-master__swiper-container _bs" id="popup-selection-master-one"
	style="display: none">
	<div class="swiper-wrapper popup-selection-master__wrapper-slide">

		<div class="swiper-slide popup-selection-master__slide">
			<div class="popup-selection-master popup-selection-master--two">
				<div class="popup-selection-master__wrapper">
					<div class="popup-selection-master__header">
						<div class="popup-selection-master__header-title Title">
							<div class="Title__wrapper--theme-m Title__wrapper--quartz">
								<h2>Выберите тип ручки</h2>
							</div>
						</div>
					</div>
					<div class="popup-selection-master__body">
						<div class="popup-selection-master__left">
							<div class="popup-selection-master__heading">
								<div class="popup-selection-master__left-title">
									<h3 class="popup-selection-master__left-title-text">
										Добро пожаловать в мастер подбора!
									</h3>
								</div>
								<div class="popup-selection-master__subtitle">
									<span class="popup-selection-master__subtitle-text">
										Выберите тип ручки для выбранной Вами двери
									</span>
								</div>
							</div>
							<form action="" class="popup-selection-master__form-specification">
								<div class="popup-selection-master__type-specification">
									<span>test1</span>
									<!-- FROM DATA.JSON -->
								</div>
							</form>
						</div>
						<div class="popup-selection-master__middle">
							<div class="popup-selection-master__block-img">
								<img src="img/default.jpg" alt="" class="popup-selection-master__img Bgi">
							</div>
							<div class="popup-selection-master__middle-content">
								<div class="popup-selection-master__middle-heading">
									<div class="popup-selection-master__middle-title">
										<h3 class="popup-selection-master__middle-title-text">...</h3>
									</div>
									<div class="popup-selection-master__middle-subtitle">
										<span class="popup-selection-master__middle-subtitle-text">

										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="popup-selection-master__right">
							<ul class="popup-selection-master__list">
								<li class="popup-selection-master__item popup-selection-master__item--active">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text">Тип ручки: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											...
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="popup-selection-master__footer">
						<div class="popup-selection-master__btn">
							<a class="Button Button--lime Button--theme-xs Button--theme-xs-w popup-swiper-btn-next-js popup__disabled"
								href="#">
								<span class="Button__text">Ручки</span>
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide popup-selection-master__slide">
			<div class="popup-selection-master popup-selection-master--four">
				<div class="popup-selection-master__wrapper">
					<div class="popup-selection-master__header">
						<div class="popup-selection-master__header-title Title">
							<div class="Title__wrapper--theme-m Title__wrapper--quartz">
								<h2>Выберите ручку</h2>
							</div>
						</div>
					</div>
					<div class="popup-selection-master__body">
						<div class="popup-selection-master__left">

							<form action="" class="popup-selection-master__form-specification">
								<div class="popup-selection-master__type-specification">
									<span>test2</span>
									<!-- from Data.Json -->
								</div>
							</form>
						</div>
						<div class="popup-selection-master__middle">
							<div class="popup-selection-master__block-img">
								<img src="img/default.jpg" alt="" class="popup-selection-master__img Bgi">
							</div>
							<div class="popup-selection-master__middle-content">
								<div class="popup-selection-master__middle-heading">
									<div class="popup-selection-master__middle-title">
										<h3 class="popup-selection-master__middle-title-text">...</h3>
									</div>
								</div>

							</div>
						</div>
						<div class="popup-selection-master__right">
							<ul class="popup-selection-master__list">
								<li class="popup-selection-master__item popup-selection-master__item">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text">Тип ручки: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											...
										</span>
									</div>
								</li>
								<li class="popup-selection-master__item popup-selection-master__item--active">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text"> <span
												data-popup-counter>1550</span> ₽Ручка: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											Ручка Кноб-Assil/Mix ЗШ-01 ключ-фиксатор /Золото/
											<span class="popup-selection-master__desc-text-decor">
												<span data-popup-counter>1550</span> ₽
											</span>
											2 шт.
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="popup-selection-master__footer">
						<div class="popup-selection-master__btn">
							<a class="Button Button--gray-light Button--theme-xs Button--theme-xs-w popup-swiper-btn-prev-js"
								href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
									</svg>
								</span>
								<span class="Button__text">Тип ручки</span>
							</a>
							<a class="Button Button--lime Button--theme-xs Button--theme-xs-w popup-swiper-btn-next-js popup__disabled"
								href="#">
								<span class="Button__text">Петли</span>
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide popup-selection-master__slide">
			<div class="popup-selection-master popup-selection-master--six">
				<div class="popup-selection-master__wrapper">
					<div class="popup-selection-master__header">
						<div class="popup-selection-master__header-title Title">
							<div class="Title__wrapper--theme-m Title__wrapper--quartz">
								<h2>Выберите петли</h2>
							</div>
						</div>
					</div>
					<div class="popup-selection-master__body">
						<div class="popup-selection-master__left">

							<form action="" class="popup-selection-master__form-specification">
								<div class="popup-selection-master__type-specification">
									<span>test3</span>
									<!-- from Data.json -->
								</div>
							</form>
						</div>
						<div class="popup-selection-master__middle">
							<div class="popup-selection-master__block-img">
								<img src="img/default.jpg" alt="" class="popup-selection-master__img Bgi">
							</div>
							<div class="popup-selection-master__middle-content">
								<div class="popup-selection-master__middle-heading">
									<div class="popup-selection-master__middle-title">
										<h3 class="popup-selection-master__middle-title-text">...</h3>
									</div>
								</div>

							</div>
						</div>
						<div class="popup-selection-master__right">
							<ul class="popup-selection-master__list">
								<li class="popup-selection-master__item popup-selection-master__item">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text">Тип ручки: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											...
										</span>
									</div>
								</li>
								<li class="popup-selection-master__item popup-selection-master__item">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text">Ручка: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											Ручка Кноб-Assil/Mix ЗШ-01 ключ-фиксатор /Золото/
											<span class="popup-selection-master__desc-text-decor">
												1 550 ₽
											</span>
											2 шт.
										</span>
									</div>
								</li>
								<li class="popup-selection-master__item popup-selection-master__item--active">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text"><span
												data-popup-counter>1200</span>Петли: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											Петля накладная Bussare BO-20U/Золото
											<span class="popup-selection-master__desc-text-decor">
												<span data-popup-counter>1200</span> ₽
											</span>
											2 шт.
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="popup-selection-master__footer">
						<div class="popup-selection-master__btn">
							<a class="Button Button--gray-light Button--theme-xs Button--theme-xs-w popup-swiper-btn-prev-js"
								href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
									</svg>
								</span>
								<span class="Button__text">Ручки</span>
							</a>
							<a class="Button Button--lime Button--theme-xs Button--theme-xs-w popup-swiper-btn-next-js popup__disabled"
								href="#">
								<span class="Button__text">Доводчики</span>
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide popup-selection-master__slide">
			<div class="popup-selection-master popup-selection-master--eight">
				<div class="popup-selection-master__wrapper">
					<div class="popup-selection-master__header">
						<div class="popup-selection-master__header-title Title">
							<div class="Title__wrapper--theme-m Title__wrapper--quartz">
								<h2>Выберите доводчик для двери</h2>
							</div>
						</div>
					</div>
					<div class="popup-selection-master__body">
						<div class="popup-selection-master__left">

							<form action="" class="popup-selection-master__form-specification">
								<div class="popup-selection-master__type-specification">
									<span>test4</span>
									<!-- from Data.json -->
								</div>
							</form>
						</div>
						<div class="popup-selection-master__middle">
							<div class="popup-selection-master__block-img">
								<img src="img/default.jpg" alt="" class="popup-selection-master__img Bgi">
							</div>
							<div class="popup-selection-master__middle-content">
								<div class="popup-selection-master__middle-heading">
									<div class="popup-selection-master__middle-title">
										<h3 class="popup-selection-master__middle-title-text">...</h3>
									</div>
								</div>

							</div>
						</div>
						<div class="popup-selection-master__right">
							<ul class="popup-selection-master__list">
								<li class="popup-selection-master__item popup-selection-master__item">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text">Тип ручки: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											...
										</span>
									</div>
								</li>
								<li class="popup-selection-master__item popup-selection-master__item">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text">Ручка: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											Ручка Кноб-Assil/Mix ЗШ-01 ключ-фиксатор /Золото/
											<span class="popup-selection-master__desc-text-decor">
												1 550 ₽
											</span>
											2 шт.
										</span>
									</div>
								</li>
								<li class="popup-selection-master__item popup-selection-master__item">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text">Петли: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											Петля накладная Bussare BO-20U/Золото/
											<span class="popup-selection-master__desc-text-decor">
												1 550 ₽
											</span>
											2 шт.
										</span>
									</div>
								</li>
								<li class="popup-selection-master__item popup-selection-master__item--active">
									<div class="popup-selection-master__item-title">
										<h3 class="popup-selection-master__item-title-text"><span
												data-popup-counter>1200</span>Доводчик: </h3>
									</div>
									<div class="popup-selection-master__desc">
										<span class="popup-selection-master__desc-text">
											Доводчик Trodos TD-60 (60 кг)/Белый

											<span class="popup-selection-master__desc-text-decor">
												/<span data-popup-counter>1200</span> ₽
											</span>
											2 шт.
										</span>
									</div>
								</li>
							</ul>

							<div class="popup-selection-master__price">
								<div class="Border"></div>
								<div class="popup-selection-master__amount">
									<div class="popup-selection-master__amount-title">
										<h3 class="popup-selection-master__amount-title-text">
											Кол-во товаров:
										</h3>
									</div>
									<div class="popup-selection-master__amount-value">
										<span class="popup-selection-master__amount-value-text">
											<span data-popup-namount>1200</span> шт.
										</span>
									</div>
								</div>
								<div class="popup-selection-master__total">
									<div class="popup-selection-master__total-title">
										<h3 class="popup-selection-master__total-title-text">
											Итого:
										</h3>
									</div>
									<div class="popup-selection-master__total-value">
										<span class="popup-selection-master__total-value-text">
											<span data-popup-ntotal>1200</span> ₽
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popup-selection-master__footer">
						<div class="popup-selection-master__btn">
							<a class="Button Button--gray-light Button--theme-xs Button--theme-xs-w popup-swiper-btn-prev-js"
								href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
									</svg>
								</span>
								<span class="Button__text">Петли</span>
							</a>
							<a class="Button Button--lime Button--theme-xs Button--theme-xs-w popup__disabled"
								href="#popup-product-added" data-fancybox-window="">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#basket-2"></use>
									</svg>
								</span>
								<span class="Button__text">В корзину</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>