.popup-form {
  border-radius: 25.834px;
  width: 100%;
  max-width: 1110px;
  background: #f7f4fc;

  &__inner {
  }

  &__svg {
    position: absolute;
    right: 28px;
    top: 26px;
    z-index: 401;
    max-width: 37.13px;
    max-height: 37.13px;
    background: transparent;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  &__body {
  }

  &__block-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include adaptiv-value("font-size", 31, 24, 1);

    font-weight: 500;
    line-height: 22px;
    text-align: center;
  }

  &__subtitle {
    @include adaptiv-value("font-size", 15, 16, 1);

    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #7f838d;
  }

  &__form {
  }

  &__input {
    position: relative;
  }

  &__inp {
    outline: none;
    border: 1px solid #000;
    border-radius: 8.6px;
    padding: 13px 23px;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 9px;
  }

  &__placeholder {
    @include adaptiv-value("font-size", 12, 11, 1);

    position: absolute;
    left: 0;
    top: -15px;
    font-weight: 500;
    line-height: 9px;
    color: #7f838d;
  }

  &__text-policy {
    @include adaptiv-value("font-size", 12, 11, 1);

    line-height: 17px;
    color: #919191;

    a {
      border-bottom: 1px solid #3d98e5;
      color: #3d98e5;
      transition: 0.3s all;

      &:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
      }
    }
  }

  .input-validation__message {
    @include adaptiv-font(11, 9);
  }

  .input-validation {
    @include adaptiv-value("font-size", 13, 9, 1);
  }
}
