<div class="range-slider">
    <div class="range-slider__block-inputs">
        <input type="text" id="input-with-keypress-0" data-range-start="5000" class="range-slider__input">
        <div class="range-slider__decor-line"></div>
        <input type="text" id="input-with-keypress-1" data-range-end="20000" class="range-slider__input">
    </div>
    <div id="steps-slider" data-range-min="1000" data-range-max="25000" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr range-slider__slider-line"></div>
    <div class="range-slider__block-values">
        <span class="range-slider__value range-slider__value--min-js"></span>
        <span class="range-slider__value range-slider__value--max-js"></span>
    </div>
</div>
