<div class="Card-advanced">

	<div class="Card-advanced__wrapper">
		<a href="#test" class="Card-advanced__link">
			<div class="Card-advanced__heading">
				<div class="Card-advanced__heading-title">
					<h3 class="Card-advanced__heading-title-text">Петля накладная и не только, этот текст не виден Стёпа
					</h3>
				</div>
				<div class="Card-advanced__heading-desc">
					<span class="Card-advanced__heading-desc-tex">Бронза</span>
					<span class="Card-advanced__heading-desc-tex">Петли универсальные врезные</span>
				</div>
			</div>
		</a>
		<div class="Card-advanced__block-img">

			<div class="Badges">
				<div class="Badges__offer">

					<span class="Badges__offer-discount">-25%</span>
					<a class="Icon Icon--lime Icon--theme-m" href="#">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#new"></use>
							</svg>
						</div>
					</a>
					<a class="Icon Icon--gray  Icon--theme-m" href="#">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#bestseller"></use>
							</svg>
						</div>
					</a>
					<a class="Icon Icon--gray  Icon--theme-m" href="#">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#flame"></use>
							</svg>
						</div>
					</a>


					<div class="Badges__offer-last">
						<a class="Icon  Icon--gray Icon--theme-m" href="#">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#video-card"></use>
								</svg>
							</div>
						</a>
					</div>

				</div>
				<div class="Badges__interaction">

					<a class="Icon Icon--gray Icon--theme-m">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#like"></use>
							</svg>
						</div>
					</a>
					<a class="Icon Icon--gray Icon--theme-m">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#scales"></use>
							</svg>
						</div>
					</a>




				</div>
			</div>
			<a href="#test" class="Card-advanced__link">
				<img src="https://natalyland.ru/wp-content/uploads/3/0/3/303d6fe69816a269e97dc81d126ebc4f.jpg" alt=""
					class="Card-advanced__img Bgi">
			</a>
			<div class="Card-product__have">
				<span class="Card-product__have-text">В наличии: &gt;100 </span>

				<button class="Card-product__have-icon Icon Icon--gray  Icon--theme-m Card-product__have-icon-js">
					<div class="Icon__content">
						<svg class="Icon__svg">
							<use class="Icon__svg-use" xlink:href="#information-have"></use>
						</svg>
					</div>
				</button>

			</div>
		</div>
		<div class="Card-product__block-info">

			<div class="Card-product__price">

				<div class="Card-product__retail-price">
					<div class="Card-product__retail-price-title">
						<h4 class="Card-product__retail-price-title-text">
							Розничная цена
						</h4>
					</div>
					<div class="Card-product__block-retail-price-value">
						<span class="Card-product__retail-price-value"> 1 145 ₽ </span>
						<span class="Card-product__retail-price-value-old"> 18 818₽ </span>
					</div>
				</div>


				<div class="Card-product__trade-price">
					<div class="Card-product__trade-price-title">
						<h4 class="Card-product__trade-price-title-text">
							Оптовая цена
						</h4>
					</div>
					<div class="Card-product__block-trade-price-value">
						<span class="Card-product__trade-price-value"> 1 145 ₽ </span>
						<span class="Card-product__trade-price-value-old"> 18 818₽ </span>
					</div>
				</div>

				<div class="Card-product__your-price">
					<div class="Card-product__your-price-title">
						<h4 class="Card-product__your-price-title-text">
							Ваша цена
						</h4>
					</div>
					<div class="Card-product__block-your-price-value">
						<span class="Card-product__your-price-value"> 1 145 ₽ </span>
						<span class="Card-product__your-price-value-old"> 18 818₽ </span>
					</div>
				</div>

			</div>
			<div class="Card-product__btn-basket">
				<a class="Button Button--lime Button--theme-l" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#basket"></use>
						</svg>
					</span>
					<span class="Button__text">В корзину</span>
				</a>
			</div>

			<div class="Card-product__block-instruments-mobile instruments-mobile-Card-product">

				<div class="instruments-mobile-Card-product__block-left">
					<a class="Icon Icon--gray Icon--theme-m">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#like"></use>
							</svg>
						</div>
					</a>
					<a class="Icon Icon--gray Icon--theme-m">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#scales"></use>
							</svg>
						</div>
					</a>
				</div>

				<div class="instruments-mobile-Card-product__block-right">

					<a class="Button Button--lime-light Button--theme-s  " href="#">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#feature"></use>
							</svg>
						</span>
					</a>

					<a class="Button Button--lime-light Button--theme-s  " href="#">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#basket"></use>
							</svg>
						</span>
					</a>

				</div>

			</div>


		</div>
	</div>

</div>