.Card-advanced {
  &__block-img {
    position: relative;
    padding-bottom: 100%;
    margin-top: 20px;
  }
  .Badges {
    &__btn-video {
    }
    &__offer {
    }
    &__offer-discount {
    }
    &__interaction {
    }
  }
  &__heading {
  }
  &__heading-desc {
    @include adaptiv-value("font-size", 16, 12, 1);
    line-height: 118%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__heading-title {
    text-align: center;
    color: $black;
    font-weight: 600;
    @include adaptiv-value("font-size", 22, 14, 1);
    line-height: 118%;
  }
  &__heading-title-text,
  &__heading-desc-tex {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__img {
  }
  .Icon {
    &__content {
    }
    &__svg {
    }
    &__svg-use {
    }
    &--gray {
    }
    &--lime {
    }
    &--theme-m {
    }
  }
  &__wrapper {
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    background: $bg;
    padding: 16px 30px 11px 30px;
    transition: $transition;
    width: 100%;
    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
      filter: brightness(1.05);
    }
  }
}