.Card-simple {
  &__block-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 53%;
    transition: $transition;
  }

  &__content {
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-template-rows: 2.4fr 100%;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    text-overflow: ellipsis;
    transition: $transition;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .Card-simple__block-img {
      filter: brightness(1.1);
    }
  }

  &__item-title {
    padding: 33px 20px;
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 22, 18, 1);
    @include adaptiv-value("line-height", 26, 21, 1);

    font-weight: 600;
    text-align: left;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 0, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}