<div class="swiper-container section-directory__swiper-container">
	<div class="swiper-wrapper section-directory__wrapper-slide">

		<div class="swiper-slide section-directory__slide">
			<a class="section-directory__link Link Link--gray-lime-decor" href="#">Все двери</a>
		</div>
		<div class="swiper-slide section-directory__slide">
			<a class="section-directory__link Link Link--gray-lime-decor" href="#">Ламинированные двери</a>
		</div>
		<div class="swiper-slide section-directory__slide">
			<a class="section-directory__link Link Link--gray-lime-decor" href="#">Грунтовые двери</a>
		</div>
		<div class="swiper-slide section-directory__slide">
			<a class="section-directory__link Link Link--gray-lime-decor" href="#">Доп ссылка 1</a>
		</div>
		<div class="swiper-slide section-directory__slide">
			<a class="section-directory__link Link Link--gray-lime-decor" href="#">Доп ссылка 2</a>
		</div>

	</div>


	<div class="Swiper-button-next-video-reviews Swiper-button-default">

		<svg class="Swiper-button-default__svg">
			<use class="Swiper-button-default__use" xlink:href="#arrow-right"></use>
		</svg>



	</div>

	<div class="Swiper-button-prev-video-reviews Swiper-button-default">

		<svg class="Swiper-button-default__svg">
			<use class="Swiper-button-default__use" xlink:href="#arrow-left"></use>
		</svg>

	</div>

</div>