<div class="popup-img" id="popup-img">
    <div class="popup-img__wrapper">
        <div class="popup-img__title">Описание изображения</div>
        <div class="popup-img__header">
            <div class="popup-img__block-img">
                <textarea class="popup-img__textarea"></textarea>
            </div>
        </div>
        <div class="popup-img__body">
            <div class="img__body-wrapper">
                <div class="popup-img__img-desc">
                    <div class="popup-img__img-desc-icon">
                        <button class="Icon Icon--gray  Icon--theme-m">
                            <div class="Icon__content">
                                <svg class="Icon__svg">
                                    <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                    <p class="popup-img__img-desc-text error-format">
                        Описание должно соответсвовать изображению
                    </p>
                </div>
                <div class="popup-img__img-desc">
                    <div class="popup-img__img-desc-icon">
                        <button class="Icon Icon--gray  Icon--theme-m">
                            <div class="Icon__content">
                                <svg class="Icon__svg">
                                    <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                    <p class="popup-img__img-desc-text error-size">
                        Ссылки на сторонние сайты не допускаются!
                    </p>
                </div>
            </div>
        </div>
        <div class="popup-img__footer">
            <div class="popup-img__footer-btn">
                <div class="Button Button Button--lime Button--theme-m" href="#">
                    <span class="Button__text">Вернуться назад</span>
                </div>
                <div class="Button Button Button--lime Button--theme-m mg-crop" href="#">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use" xlink:href="#file-clear"></use>
                        </svg>
                    </span>
                    <span class="Button__text" id="crop_and_upload">Добавить</span>
                </div>
            </div>
        </div>

    </div>
</div>