<div class="popup-img" id="popup-img">
    <!-- Slider main container -->
    <div class="swiper-container mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" style>
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="popup-img__wrapper popup-img__wrapper-edit">
                    <div class="popup-img__header">
                        <div class="popup-img__block-img">
                            <img style="max-width:100%; height:100%; display:block" class="popup-img__img"
                                src="img/contacts-page-img-2.jpg" alt="" id="img-area-modal-slider">
                        </div>
                        <div class="popup-img__edit-block">
                            <div class="popup-img__edit-block__edit" data-method="crop" data-option="0"
                                data-second-option="10">
                                <svg class="Icon__svg">
                                    <use class="Icon__svg-use" xlink:href="#mg-img-edit"></use>
                                </svg>
                            </div>
                            <div class="popup-img__edit-block__crop" data-method="rotate" data-option="0"
                                data-second-option="10">
                                <svg class="Icon__svg">
                                    <use class="Icon__svg-use" xlink:href="#mg-img-crop"></use>
                                </svg>
                            </div>
                            <div class="popup-img__edit-block__filter" data-method="scaleX" data-option="1"
                                data-second-option="10">
                                <svg class="Icon__svg">
                                    <use class="Icon__svg-use" xlink:href="#mg-img-window"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="popup-img__body">
                        <div class="img__body-wrapper">
                            <div class="popup-img__img-desc">
                                <div class="popup-img__img-desc-icon">
                                    <button class="Icon Icon--gray  Icon--theme-m">
                                        <div class="Icon__content">
                                            <svg class="Icon__svg">
                                                <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                                <p class="popup-img__img-desc-text error-format">
                                    Изображение должно быть в формате: <strong>.jpg</strong> или <strong>.png</strong>
                                </p>
                            </div>
                            <div class="popup-img__img-desc">
                                <div class="popup-img__img-desc-icon">
                                    <button class="Icon Icon--gray  Icon--theme-m">
                                        <div class="Icon__content">
                                            <svg class="Icon__svg">
                                                <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                                <p class="popup-img__img-desc-text error-size">
                                    Максимальный размер файла <strong>100 Мб.</strong>
                                </p>
                            </div>
                            <img src="" id="dsdsd" alt="">
                        </div>
                    </div>
                    <div class="popup-img__footer">
                        <div class="popup-img__footer-btn">
                            <div class="Button Button Button--lime Button--theme-m mg-cancel" href="#">
                                <span class="Button__text">Отменить загрузку</span>
                            </div>
                            <div class="Button Button Button--lime Button--theme-m swiper-button-edit-text-next"
                                href="#">
                                <span class="Button__icon">
                                    <svg class="Button__icon-svg">
                                        <use class="Button__icon-svg-use" xlink:href="#file-clear"></use>
                                    </svg>
                                </span>
                                <span class="Button__text " id="crop_and_upload">Добавить описание</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="popup-img__wrapper popup-img__wrapper-description">
                    <div class="popup-img__title">Описание изображения</div>
                    <div class="popup-img__header">
                        <div class="popup-img__block-img">
                            <!-- <input type="text" class="popup-img__textarea" value="" /> -->
                            <textarea class="popup-img__textarea"></textarea>
                        </div>
                    </div>
                    <div class="popup-img__body">
                        <div class="img__body-wrapper">
                            <div class="popup-img__img-desc">
                                <div class="popup-img__img-desc-icon">
                                    <button class="Icon Icon--gray  Icon--theme-m">
                                        <div class="Icon__content">
                                            <svg class="Icon__svg">
                                                <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                                <p class="popup-img__img-desc-text error-format">
                                    Описание должно соответсвовать изображению
                                </p>
                            </div>
                            <div class="popup-img__img-desc">
                                <div class="popup-img__img-desc-icon">
                                    <button class="Icon Icon--gray  Icon--theme-m">
                                        <div class="Icon__content">
                                            <svg class="Icon__svg">
                                                <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                                <p class="popup-img__img-desc-text error-size">
                                    Ссылки на сторонние сайты не допускаются!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="popup-img__footer">
                        <div class="popup-img__footer-btn">
                            <div class="Button Button Button--lime Button--theme-m swiper-button-edit-photo-prev"
                                href="#">
                                <span class="Button__text">Вернуться назад</span>
                            </div>
                            <div class="Button Button Button--lime Button--theme-m mg-crop" href="#"
                                id="mg-add-img-des">
                                <span class="Button__icon">
                                    <svg class="Button__icon-svg">
                                        <use class="Button__icon-svg-use" xlink:href="#file-clear"></use>
                                    </svg>
                                </span>
                                <span class="Button__text" id="crop_and_upload">Добавить</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <!-- <div class="swiper-pagination"></div> -->

        <!-- If we need navigation buttons -->
        <div class="swiper-button-edit-text-next"></div>
        <div class="swiper-button-edit-photo-prev"></div>

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->

    </div>

    <!-- <div>
        <div class="popup-img__wrapper popup-img__wrapper-edit">
            <div class="popup-img__header">
                <div class="popup-img__block-img">
                    <img style="max-width:100%; height:100%; display:block" class="popup-img__img" src="img/contacts-page-img-2.jpg" alt="" id="img-area-modal">
                </div>
            </div>
            <div class="popup-img__body">
                <div class="img__body-wrapper">
                    <div class="popup-img__img-desc">
                        <div class="popup-img__img-desc-icon">
                            <button class="Icon Icon--gray  Icon--theme-m">
                                <div class="Icon__content">
                                    <svg class="Icon__svg">
                                        <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <p class="popup-img__img-desc-text error-format">
                            Изображение должно быть в формате: <strong>.jpg</strong> или <strong>.png</strong>
                        </p>
                    </div>
                    <div class="popup-img__img-desc">
                        <div class="popup-img__img-desc-icon">
                            <button class="Icon Icon--gray  Icon--theme-m">
                                <div class="Icon__content">
                                    <svg class="Icon__svg">
                                        <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <p class="popup-img__img-desc-text error-size">
                            Максимальный размер файла <strong>100 Мб.</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="popup-img__footer">
                <div class="popup-img__footer-btn">
                    <div class="Button Button Button--lime Button--theme-m" href="#">
                        <span class="Button__text">Отменить загрузку</span>
                    </div>
                    <div class="Button Button Button--lime Button--theme-m mg-crop" href="#">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#file-clear"></use>
                            </svg>
                        </span>
                        <span class="Button__text" id="crop_and_upload">Добавить описание</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="popup-img__wrapper popup-img__wrapper-description">
            <div class="popup-img__title">Описание изображения</div>
            <div class="popup-img__header">
                <div class="popup-img__block-img">
                    <textarea class="popup-img__textarea"></textarea>
                </div>
            </div>
            <div class="popup-img__body">
                <div class="img__body-wrapper">
                    <div class="popup-img__img-desc">
                        <div class="popup-img__img-desc-icon">
                            <button class="Icon Icon--gray  Icon--theme-m">
                                <div class="Icon__content">
                                    <svg class="Icon__svg">
                                        <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <p class="popup-img__img-desc-text error-format">
                            Описание должно соответсвовать изображению
                        </p>
                    </div>
                    <div class="popup-img__img-desc">
                        <div class="popup-img__img-desc-icon">
                            <button class="Icon Icon--gray  Icon--theme-m">
                                <div class="Icon__content">
                                    <svg class="Icon__svg">
                                        <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <p class="popup-img__img-desc-text error-size">
                            Ссылки на сторонние сайты не допускаются!
                        </p>
                    </div>
                </div>
            </div>
            <div class="popup-img__footer">
                <div class="popup-img__footer-btn">
                    <div class="Button Button Button--lime Button--theme-m" href="#">
                        <span class="Button__text">Вернуться назад</span>
                    </div>
                    <div class="Button Button Button--lime Button--theme-m mg-crop" href="#">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#file-clear"></use>
                            </svg>
                        </span>
                        <span class="Button__text" id="crop_and_upload">Добавить</span>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
</div>