.Card-intermediate {
  &__block-img {
    position: relative;
    padding-bottom: 30%;
    transition: $transition;
  }

  &__content {
    @include adaptiv-value("padding-top", 40, 20, 1);
    @include adaptiv-value("padding-right", 30, 20, 1);
    @include adaptiv-value("padding-bottom", 40, 20, 1);
    @include adaptiv-value("padding-left", 40, 20, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Button {
      @include adaptiv-value("margin-top", 40, 20, 1);

      &__icon {
        margin-left: auto;
      }

      &__icon-svg {
        width: 22px;
        height: 12px;
      }

      &--theme-s {
        padding: 10px 20px;
        width: 153px;
        min-height: 42px;
      }
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  &__item-description {
    margin-top: 20px;
  }

  &__item-description-text {
    @include adaptiv-value("font-size", 18, 16, 1);
  }

  &__item-title {
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 22, 18, 1);
    @include adaptiv-value("line-height", 26, 21, 1);

    font-weight: 600;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    align-items: stretch;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 0.41fr);
  }

  &__list-item {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .partners-page__block-img {
      filter: brightness(1.1);
    }
  }

  &__wrapper {
    @include adaptiv-value("padding-right", 80, -20, 1);
    @include adaptiv-value("padding-left", 80, -20, 1);

    display: flex;
    flex-direction: column;
  }
}