<div class="Container Max-width">
	<div class="section-order-measurement__wrapper">
		<div class="section-order-measurement__content">
			<div class="section-order-measurement__block-img">
				<img class="section-order-measurement__img-roulette" src="/img/roulette.png" alt="roulette" />
			</div>
			<div class="section-order-measurement__block-info">
				<div class="section-order-measurement__title">
					<h2 class="section-order-measurement__title-text">
						Заказать <span>бесплатный</span> замер!
					</h2>
				</div>
				<div class="section-order-measurement__subtitle">
					<p class="section-order-measurement__subtitle-text">
						Профессиональный замер. При заказе дверей в нашем магазине — замер бесплатно!
					</p>
				</div>
			</div>
			<div class="section-order-measurement__block-input-form">
				<form class="section-order-measurement__form js-form-validation" action="" novalidate="novalidate">
					<div class="section-order-measurement__block-inputs">
						<div class="Input  input">
							<label class="Input__label">ФИО<input class="Input__inp" type="text" name="name" placeholder="Ваше ФИО..."
									data-index-input="1" required=""></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>
						<div class="Input input">
							<label class="Input__label">E-mail<input class="Input__inp" type="email" name="mail"
									placeholder="Введите ваш e-mail... " data-index-input="2" required=""></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>
						<div class="Input input">
							<label class="Input__label">Телефон<input class="Input__inp mask-phone-js" type="tel" name="tel"
									data-index-input="3" required=""></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>
					</div>
					<div class="Privacy-policy">
						<label class="Privacy-policy__checkbox checkbox">
							<input class="Privacy-policy__input" type="checkbox" name="checkbox" required="">
							<span class="Privacy-policy__label">
								<span class="Privacy-policy__text Privacy-policy__text--policy">
									Согласен с <a href="##" target="_blank">политикой</a> обработки персональных данных
								</span>
							</span>
							<span class="input-validation__message input-validation__message-mod"></span>
						</label>
					</div>
					<button class="Button Button--lime Button--theme-xs Button--theme-xs-w">
						<span class="Button__text">Заказать</span>
					</button>
				</form>
			</div>
		</div>
	</div>
	<div>
	</div>
</div>