<section class="gui-mg__buttons-svg">
    <!-- drop down -->
    <span class="mg-drop-down">
        <svg class="mg-buttons mg-buttons__bottom-svg">
            <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
        </svg>
    </span>

    <!-- map svg -->
    <span class="mg-country__svg">
        <svg class="mg-buttons mg-buttons__map-svg">
            <use class="mg-buttons__map-use" xlink:href="#cil_drop"></use>
        </svg>
    </span>

    <!-- checkbox -->
    <div class="mg-checkbox">
        <label class="mg-checkbox__label">
            <a href="/" class="mg-avatar__link">Режим розницы</a>
            <span class="mg-checkbox-ios">
                <input type="checkbox" class="mg-checkbox__input">
                <div class="checkbox-on-off checkbox-on-off-round">
                    <span class="mg-checkbox-on">Вкл</span>
                    <span class="mg-checkbox-off">Выкл</span>
                </div>
            </span>
        </label>
    </div>

    <!-- mg-button kpi-->
    <div class="mg-btn mg-button-kpi">
        <span class="mg-kpi__svg">
            <svg class="mg-buttons mg-buttons__kpi-svg">
                <use class="mg-buttons__kpi-use" xlink:href="#kpi-box1"></use>
            </svg>
        </span>
    </div>

    <!-- mg-table -->
    <span class="mg-buttons mg-buttons--unique">
        <svg class="mg-buttons">
            <use class="mg-buttons__bottom-use" xlink:href="#mg-uneque-doors"></use>
        </svg>
    </span>
    <!-- mg-table-edit -->
    <span class="mg-buttons mg-buttons--edit">
        <svg class="mg-buttons">
            <use class="mg-buttons__bottom-use" xlink:href="#mg-edit"></use>
        </svg>
    </span>
    <!-- mg-calendar -->
    <span class="mg-calendar">
        <svg class="mg-buttons">
            <use class="mg-buttons__bottom-use" xlink:href="#mg-calendar"></use>
        </svg>
    </span>
    <!-- mg-calendar -->
    <span class="mg-check-svg">
        <svg class="mg-buttons">
            <use class="mg-buttons__bottom-use" xlink:href="#mg-check-svg"></use>
        </svg>
    </span>
    <!-- mg-calendar -->
    <span class="mg-mg-download">
        <svg class="mg-buttons">
            <use class="mg-buttons__bottom-use" xlink:href="#mg-download"></use>
        </svg>
    </span>



</section>

<section class="section-mg-buttons">

    <!-- Buttons -->
    <div class="mg-btn">
        <div class="mg-btn--theme--basic">
            <span class="mg-download">
                <svg class="mg-buttons">
                    <use class="mg-buttons__bottom-use" xlink:href="#mg-download"></use>
                </svg>
            </span>
            <span class="mg-download-title">
                Скачать форму заявки
            </span>
        </div>
    </div>

</section>