.mg-attendance {
    display: block;
    width: 100%;
    // max-width: 355px;
    // min-height: 396px;
    border: 1px solid $gray-border;
    border-radius: 6px;
    color: $black;
    &__header {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $gray-border;
        .title {
            padding: 0 10px;
        }
        .add-attendance {
            max-width: 181px;
            height: 32px;
            width: 100%;
            display: flex;
            .Button {
                width: 100%;
                min-height: 32px;
                max-width: 181px;
                &__text {
                    display: flex;
                    align-items: center;
                }
                &__icon-svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    &__body {
        padding: 10px;
        overflow-y: scroll;
        height: 300px;
        scrollbar-color: #6969dd #e0e0e0;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }
        &::-webkit-scrollbar-track {
            // background-color: darkgrey;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
    }
}

.attendance-photo {
    &__wrapper {}
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 6px;
        grid-auto-rows: 107px;
    }
    &__list {
        position: relative;
        width: 107px;
        height: 107px;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            .att-edit-block {
                top: 50%;
            }
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.att-edit-block {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 152%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 0.7;
    transition: all 0.7s ease;
    & span {
        width: 24px;
        height: 24px;
        display: flex;
        cursor: pointer;
        & svg {
            fill: $white;
        }
    }
}