.mg-portfolio-box {
    &__container {
        padding: 30px 0 60px 0;
    }
    &__block {
        width: 81.777%;
        margin: 0 auto;
        justify-content: space-between;
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-auto-rows: 355px;
    }
    &__item {
        display: flex;
        width: 100%;
    }
}