.popup-check-create {
  padding: 35px 28px 28px 28px;
	@include adaptiv-value("padding-top", 35, 10, 1);
	@include adaptiv-value("padding-bottom", 28, 10, 1);
	@include adaptiv-value("padding-left", 28, 10, 1);
	@include adaptiv-value("padding-right", 28, 10, 1);
  max-width: 480px;
  min-height: 160px;
  max-height: 660px;
  background: $gray-bg;
  &__form {
  }
  &__form-footer {
  }
  &__form-footer-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
		margin-top: 23px;
		.Button {
      &--theme-s-n {
				width: 100%;
				min-height: 52px;
      }
			&__icon {
				margin-right: 10px;
			}
    }
  }
  &__form-footer-btns-left {
    flex: 1 1 70%;
		margin-right: 30px;
  }
  &__form-footer-btns-right {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Button {
			&__icon {
				margin: 0;
			}
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &__form-list {
		max-height: 476px;
		overflow-y: auto;
		padding-right: 5px;
  }
  &__form-list-item {
		&:not(:last-child) > * {
			border-bottom: 1px solid $gray-border;
			margin-top: 23px;
			padding-bottom: 23px;
		}
		&:last-child {
			padding-top: 23px;
		}
		.form-list-item {
			&__inp {
				.Input {
					width: 100%;
					&--fix {
						.Input {
							&__inp {
								@include adaptiv-value("width", 190, 70, 1);
							}
							&__label-text {
								margin-right: 10px;
							}
						}
					}
					&__inp {
						flex: 1 1 60%;
						margin-left: 10px;
						width: 100%;
					}
					&__label {
						// word-break: break-all;
						justify-content: space-between;
					}
					&__label-text {
						flex: 1 1 40%;
						text-align: start;
					}
				}
			}
			&__price {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.mg-checkbox-ios {
					margin-right: 10px;
				}
			}
		}
  }
  &__heading {
  }
  &__subtitle {
    color: $black;
    text-align: center;
  }
  &__subtitle-text {
  }
  &__title {
    @include adaptiv-value("font-size", 28, 22, 1);
    color: $black;
    font-weight: 600;
    text-align: center;
  }
  &__title-text {
  }
  &__wrapper {
  }
}