<div class="popup-check-create _bs" id="popup-check-create" style="display: none">

	<div class="popup-check-create__wrapper">
		<div class="popup-check-create__heading">
			<div class="popup-check-create__title">
				<h3 class="popup-check-create__title-text">
					Новый ценник
				</h3>
			</div>
			<div class="popup-check-create__subtitle">
				<h4 class="popup-check-create__subtitle-text">
					Межкомнатные двери
				</h4>
			</div>
		</div>

		<form class="popup-check-create__form" action="">

			<ul class="popup-check-create__form-list">
				<li class="popup-check-create__form-list-item form-list-item">
					<div class="form-list-item__inp">
						<div class="Input input">
							<label class="Input__label"><span class="Input__label-text">Название товара</span> <input
									class="Input__inp" type="text" name="inn" placeholder="Название товара... " data-index-input="2"
									required=""></label>
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
						<div class="Input Input--fix input">

							<label class="Input__label"><span class="Input__label-text">Акционный товар</span>
								<div class="mg-checkbox">
									<label class="mg-checkbox__label">
										<span class="mg-checkbox-ios">
											<input type="checkbox" class="mg-checkbox__input">
											<div class="checkbox-on-off checkbox-on-off-round">
												<span class="mg-checkbox-on">Да</span>
												<span class="mg-checkbox-off">Нет</span>
											</div>
										</span>
									</label>
								</div>
								<input class="Input__inp" type="text" name="inn" placeholder="Акционный товар... " data-index-input="2"
									required="">
							</label>

							<span class="input-validation__message input-validation__message-mod"></span>
						</div>

					</div>

				</li>
				<li class="popup-check-create__form-list-item form-list-item">
					<div class="form-list-item__inp">
						<div class="Input input">
							<label class="Input__label"><span class="Input__label-text">Материал</span> <input class="Input__inp"
									type="text" name="inn" placeholder="Введите материал... " data-index-input="2" required=""></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>
						<div class="Input input">
							<label class="Input__label"><span class="Input__label-text">Производитель</span> <input class="Input__inp"
									type="text" name="inn" placeholder="Введите производителя... " data-index-input="2"
									required=""></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>
						<div class="Input input">
							<label class="Input__label"><span class="Input__label-text">Толщина</span> <input class="Input__inp"
									type="text" name="inn" placeholder="Введите значение...... " data-index-input="2" required=""></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>
						<div class="Input input">
							<label class="Input__label"><span class="Input__label-text">Цвет</span> <input class="Input__inp"
									type="text" name="inn" placeholder="Введите цвет... " data-index-input="2" required=""></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>
					</div>

				</li>
				<li class="popup-check-create__form-list-item form-list-item">
					<div class="form-list-item__inp">
						<div class="form-list-item__price">
							<div class="mg-checkbox">
								<label class="mg-checkbox__label">
									<span class="mg-checkbox-ios">
										<input type="checkbox" class="mg-checkbox__input">
										<div class="checkbox-on-off checkbox-on-off-round">
											<span class="mg-checkbox-on"></span>
											<span class="mg-checkbox-off"></span>
										</div>
									</span>
									<a href="/" class="mg-avatar__link">Гладкая Глухая</a>

								</label>
							</div>
							<div class="Counter">
								<div class="Counter__content">
									<button class="Counter__button Counter__button--js-reduction" data-decrement="">
										<svg class="Counter__svg">
											<use xlink:href="#arrow-left" class="Counter__use"></use>
										</svg>
									</button>
									<div class="Counter__block-input">
										<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
										<span class="Counter__dimension">₽</span>
									</div>
									<button class="Counter__button Counter__button--js-increase" data-increment="">
										<svg class="Counter__svg">
											<use xlink:href="#arrow-right" class="Counter__use"></use>
										</svg>
									</button>
								</div>
							</div>
						</div>

					</div>
				</li>
			</ul>

			<div class="popup-check-create__form-footer">
				<div class="popup-check-create__form-footer-btns">
					<div class="popup-check-create__form-footer-btns-left">
						<button class="Button Button--lime Button--theme-s Button--theme-s-n" href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#basket-2"></use>
								</svg>
							</span>
							<span class="Button__text">Сохранить ценник (.pdf)</span>
						</button>
					</div>
					<div class="popup-check-create__form-footer-btns-right">
						<button class="Button Button--gray-light Button--theme-s Button--theme-s-n" href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#img"></use>
								</svg>
							</span>
						</button>
						<button class="Button Button--gray-light Button--theme-s Button--theme-s-n" href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#print"></use>
								</svg>
							</span>
						</button>
					</div>

				</div>
			</div>
		</form>


	</div>


</div>