<div class="mg-requisites">
    <div class="mg-requisites__container mg-table-container--border">
        <div class="mg-table__header mg-table--theme--grid">
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Физ./Юр. лицо</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">ИНН</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">ОГРН</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Телефон</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Опции</span>
                </div>
            </div>
        </div>
        <div class="mg-table__body-container mg-colors--default">
            <div class="mg-table__body mg-table--theme--grid" href="#popup-information--info-org" data-fancybox-window>
                <div class="mg-table__subtitle mg-bold">
                    <!-- span сделат через дата атрибути data-basic-company='true||false' -->
                    <div class="mg-table__title">ООО Ромашка <span style="display: none">dfdsfsd</span></div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">34568890234</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">657849004565</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid" href="#popup-information--info-org" data-fancybox-window>
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">ИП Ирис</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">34568890234</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">657849004565</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid" href="#popup-information--info-org" data-fancybox-window>
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">ООО Ирис & Папоротник</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">34568890234</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">657849004565</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid" href="#popup-information--info-org" data-fancybox-window>
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">ООО Винни-Пух</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">34568890234</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">657849004565</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid" href="#popup-information--info-org" data-fancybox-window>
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">ООО Ромашка</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">34568890234</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">657849004565</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>