.popup-slider{
	max-width: 1050px;
	width: 100%;
	min-height: 600px;
	background: $white;

	&__slider {
		flex: 1 1 70%;
	}
	&__desc {
		flex: 1 1 25%;
	}

  &__wrapper {
		height: 100%;
		display: grid;
		grid-template-columns: 6fr 2.25fr;
  }
}

.mg-modal-edit{
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
	.popup-slider{
		min-height: auto;
		max-height: 600px;
		height: 100%;
	}
}