<div class="popup-slider _bs" id="popup-slider" style="display: none">
	<div class="popup-slider__wrapper">
		<div class="popup-slider__slider">
			@include('../../blocks/slider/slider.html')
		</div>
		<div class="popup-slider__desc">
			@include('../../blocks/desc/desc.html')
		</div>
	</div>
</div>