<div class="popup-slider _bs" id="popup-slider">
    <div class="popup-slider__wrapper">
        <div class="popup-slider__slider">
            @include('../../blocks/slider/slider.html')
        </div>
        <div class="popup-slider__desc">
            @include('../../blocks/desc/desc--submit-mix.html')
        </div>
    </div>
</div>