<div class="working-mode">
	<div class="working-mode__wrapper">
		<div class="working-mode__title">
			<h4 class="working-mode__title-text">
				Режим работы
			</h4>
		</div>

		<div class="working-mode__content">

			<div class="working-mode__works-time">
				<div class="works-time works-time--one">
					<div class="works-time__title works-time__title--left">
						<h4 class="working-mode__works-time-title-text">
							д/н
						</h4>
					</div>
					<ul class="works-time__list">
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>

					</ul>

				</div>

			</div>

			<div class="working-mode__works-time ">
				<div class="works-time">
					<div class="works-time__title">
						<h4 class="working-mode__works-time-title-text">
							Рабочие часы
						</h4>
					</div>
					<ul class="works-time__list">
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="working-mode__works-time ">
				<div class="works-time">
					<div class="works-time__title">
						<h4 class="working-mode__works-time-title-text">
							Рабочие часы
						</h4>
					</div>
					<ul class="works-time__list">
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
							<div class="works-time__inp-time">
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
								<div class="works-time__separate">
									:
								</div>
								<div class="Input input">
									<input class="Input__inp" type="text" name="inn" value="8" placeholder="" data-index-input="2"
										required="">
									<span class="input-validation__message input-validation__message-mod"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>

			</div>

			<div class="working-mode__works-time">
				<div class="works-time works-time--one">
					<div class="works-time__title">
						<h4 class="working-mode__works-time-title-text">
							Перерыв
						</h4>
					</div>
					<ul class="works-time__list">
						<li class="works-time__item">
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
									</span>
								</label>
							</div>
						</li>
						<li class="works-time__item">
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
									</span>
								</label>
							</div>
						</li>
						<li class="works-time__item">
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
									</span>
								</label>
							</div>
						</li>
						<li class="works-time__item">
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
									</span>
								</label>
							</div>
						</li>
						<li class="works-time__item">
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
									</span>
								</label>
							</div>
						</li>
						<li class="works-time__item">
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
									</span>
								</label>
							</div>
						</li>
						<li class="works-time__item">
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
									</span>
								</label>
							</div>
						</li>
					</ul>
				</div>

			</div>

		</div>

	</div>


</div>