<div class="working-mode working-mode--result">
	<div class="working-mode__wrapper">

		<div class="working-mode__content">

			<div class="working-mode__works-time">
				<div class="works-time works-time--one">
					<div class="works-time__title works-time__title--left">
						<h4 class="working-mode__works-time-title-text">
							д/н
						</h4>
					</div>
					<ul class="works-time__list">
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__desc">
								<h4 class="works-time__desc-text">
									ПН
								</h4>
							</div>
						</li>

					</ul>

				</div>

			</div>

			<div class="working-mode__works-time ">
				<div class="works-time">
					<div class="works-time__title">
						<h4 class="working-mode__works-time-title-text">
							Рабочие часы
						</h4>
					</div>
					<ul class="works-time__list">
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									Выходной
								</span>
							</div>
						</li>

					</ul>
				</div>
			</div>
			<div class="working-mode__works-time ">
				<div class="works-time">
					<div class="works-time__title">
						<h4 class="working-mode__works-time-title-text">
							Перерыв
						</h4>
					</div>
					<ul class="works-time__list">
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									18
								</span>
								<div class="works-time__separate">
									:
								</div>
								<span class="works-time__inp-time-text">
									18
								</span>
							</div>
						</li>
						<li class="works-time__item">
							<div class="works-time__inp-time">
								<span class="works-time__inp-time-text">
									Выходной
								</span>
							</div>
						</li>

					</ul>
				</div>
			</div>


		</div>

	</div>


</div>