.working-mode {
  &--result {
    max-width: 320px;
    // height: 260px;
    .working-mode {
			&__content {
				grid-template-columns: 1fr 3fr 3fr;
				@include adaptiv-value("gap", 20, 1, 1);
			}
      &__works-time {
				padding: 0;
        border: none;
				@include adaptiv-value("font-size", 18, 14, 1);
        .works-time {
          &--one {
            .works-time {
              &__item {
                &:not(:first-child) {
                  margin-top: 0.8rem; 
                }
                color: $gray;
              }
							&__list {
								margin-top: 25px;
							}
            }
          }
          &__item {
            color: $black;
						gap: 4px;
						height: 30px;
            &:not(:first-child) {
							margin-top: 0.8rem;
            }
          }
					&__inp-time {
						height: 30px;
						// @include adaptiv-value("width", 50, 40, 1);
						width: 40px;
						&:not(:last-child) {
						margin-right: 10px;

						}
					}
        }
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    @include adaptiv-value("gap", 10, 2, 1);
    @include adaptiv-value("margin-top", 24, 12, 1);
  }
  &__title {
    @include adaptiv-value("font-size", 22, 18, 1);
    color: $black;
    text-align: center;
  }
  &__title-text {
  }
  &__weeks {
  }
  &__weeks-item {
  }
  &__weeks-item-title {
  }
  &__weeks-item-title-text {
  }
  &__weeks-list {
  }
  &__works-time {
    @include adaptiv-value("font-size", 16, 14, 1);
    border-right: 1px solid $gray-border;
    padding-right: 10px;
  }
  &__works-time-title-text {
  }
  &__wrapper {
  }
}
.works-time {
  .Input__inp {
    margin-left: 0 !important;
  }
  &--one {
    .works-time {
      &__title {
        min-width: 32px;
      }
      &__item {
        grid-template-columns: 1fr;

        .Checkbox {
          @include adaptiv-value("height", 32, 26, 1);
          display: flex;
          align-items: center;
          justify-content: center;

          &--default {
            .Checkbox__input ~ .Checkbox__inner-text::before {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  //! Общие стили
  &__desc {
    height: 32px;
    @include adaptiv-value("height", 32, 29, 1);
    @include adaptiv-value("width", 32, 22, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
		height: 30px;
    // gap: 10px;
    &:not(:first-child) {
      @include adaptiv-value("margin-top", 30, 2, 1);
    }

    .Input {
      position: relative;
      &:not(:first-child) {
        margin: 0;
      }
      &__inp {
        @include adaptiv-value("font-size", 16, 12, 1);
        @include adaptiv-value("width", 32, 22, 1);
        @include adaptiv-value("min-height", 32, 22, 1);
        min-height: 32px;
        padding: 3px;
        text-align: center;
      }
    }
  }
  &__list {
    margin-top: 25px;
  }
  &__separate {
  }
  &__title {
    &--left {
      text-align-last: left;
    }
    text-align: center;
  }
  &__inp-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:not(:first-child) {
      &::before {
				position: absolute;
        content: "-";
				left: -15px;
      }
    }
  }
}
