<div class="popup-order-generated popup-order-generated--simple _bs" id="popup-order-generated" style="display: none">
	<div class="popup-order-generated__wrapper">
		<div class="popup-order-generated__heading">
			<div class="popup-order-generated__title">
				<h3 class="popup-order-generated__title-text">Ваш заказ №004 отменён</h3>

			</div>
		</div>


		<div class="popup-order-generated__btn">
			<a class="Button Button--lime Button--theme-s Button--theme-s-n" href="#">
				<span class="Button__text">Перейти в Мои заказы</span>
			</a>
		</div>
	</div>
</div>