<div class="popup" data-modal="1">
  <a href="##" class="popup__close"></a>
  <div class="popup__block-content"></div>
</div>

<!-- <div class="popup__overlay popup-overlay-modal"></div> встраивать в конец той страницы, в которой будет popup -->
