<div class="compares-parameter">
	<div class="compares-parameter__title">
		<h3 class="compares-parameter__title-text">
			Параметры сравнения
		</h3>
	</div>
	<ul class="compares-parameter__list">

		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Материал
			</span>
		</li>

		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Особенность
			</span>
		</li>

		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Покрытие
			</span>
		</li>

		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Покрытие двери
			</span>
		</li>

		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Страна (производитель)
			</span>
		</li>

		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Тип двери
			</span>
		</li>

		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Стекло
			</span>
		</li>

		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Толщиа полотна, мм
			</span>
		</li>
		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Цвет
			</span>
		</li>
		<li class="compares-parameter__item">
			<span class="compares-parameter__item-text">
				Цветовая гамма
			</span>
		</li>
	</ul>
</div>