<div class="desc desc--submit">
	<div class="desc__wrapper">

		<div class="desc__header">
			<div class="desc__profile">
				@include('../profile/profile.html')
			</div>

		</div>
		<form action="" class="desc__form  _fx-col">

			<div class="desc__body">
				<textarea class="Text-area" name="comment"></textarea>
			</div>
			<div class="desc__footer _fx-row-fe">
				<div class="desc__btns _fx-row-center">
					<button class="Button Button--gray-light Button--theme-m" type="submit">
						<span class="Button__icon">
							<span class="Button__text">Отменить</span>
						</span>
					</button>
					<button class="Button Button--lime-light Button--theme-m" type="submit">
						<span class="Button__icon">
							<span class="Button__text">Сохранить</span>
						</span>
					</button>
				</div>
			</div>
		</form>
	</div>


</div>

<!-- <a href="#" class="Button Button--gray-light Button--theme-m  ">
	<span class="Button__icon">
		<svg class="Button__icon-svg">
			<use class="Button__icon-svg-use" xlink:href="#edit"></use>
		</svg>
	</span>
</a>
<a class="Button Button--gray-light Button--theme-m " href="#" data-fancybox-window="">
	<span class="Button__icon">
		<svg class="Button__icon-svg">
			<use class="Button__icon-svg-use" xlink:href="#trash"></use>
		</svg>
	</span>
</a> -->