.desc{
  height: 100%;
  padding: 20px;
  overflow: hidden;
  &--submit {
    .desc{
      &__form{
        &>div{
          &:nth-child(2){
            display: block;
          }
          &:nth-child(3){
            display: none;
          }
        }
      }
      &__body {
        .Text-area{
          border:2px solid #e3e6f3;
          pointer-events:auto;
        }
      }
      &__footer {        
        flex: 1 1 15%;
        .desc {
          &__btns {
            width: 100%;
            .Button {
              &:not(:last-child) {
                margin-right: 10px;
              }
              &--theme-m {
                width: 100%;
                min-height: 42px;
              }
              &__icon-svg {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  &__body {
    height: 100%;
		flex: 1 1 100%;
    & textarea{
      border: 0;
      pointer-events: none;
    }
		.desc {
			&__item {
				&:not(:first-child) {
					margin-top: 20px;


					
				}
				&-text  {
					color: $black;
				}
			}
		}
  }
  &__header {
    flex: 1 1 15%;
  }
  &__footer {
    flex: 1 1 15%;
    .desc {
      &__btns {
        width: 95px;
        .Button {
          &:not(:last-child) {
            margin-right: 10px;
          }
          &--theme-m {
            width: 100%;
            min-height: 42px;
          }
          &__icon-svg {
            margin: 0;
          }
        }
      }
    }
  }
  &__form {
    flex: 1 1 100%;
    height: 100%;    
    &>div{
        &:nth-child(2){
          display: none;
        }
        &:nth-child(3){
          display: flex;
        }
     }    
    & > * {
      position: relative;
      &:not(:first-child) {
        padding-top: 20px;
      }
      &:not(:last-child) {
        padding-bottom: 20px;
        &::before {
          content: "";
          position: absolute;
          width: 140%;
          left: 50%;
          transform: translate(-50%);
          border-bottom: 1px solid $gray-border;
          bottom: 0;
        }
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    & > * {
      position: relative;
      &:not(:first-child) {
        padding-top: 20px;
      }
      &:not(:last-child) {
        padding-bottom: 20px;
        &::before {
          content: "";
          position: absolute;
          width: 140%;
          left: 50%;
          transform: translate(-50%);
          border-bottom: 1px solid $gray-border;
          bottom: 0;
        }
      }
    }
  }
	&__list {
		@include adaptiv-value("max-height", 398, 150, 1);
		overflow-y: auto;
		::-webkit-scrollbar {
			width: 3px; /* ширина для вертикального скролла */
			height: 3px; /* высота для горизонтального скролла */
			background-color: transparent;
			
		}
	}
	&__item {
		padding-right: 10px;
	}
  .profile {
  }
}
