<div class="desc">
	<div class="desc__wrapper">

		<div class="desc__header">
			<div class="desc__profile">
				@include('../profile/profile.html')
			</div>

		</div>


		<div class="desc__body">

			<ul class="desc__list">
				<li class="desc__item">
					<p class="desc__item-text">
						Межкомнатные дверь “Донжуан” в цвете Интальянский орех.
					</p>
				</li>
				<li class="desc__item">
					<p class="desc__item-text">
						Дверь имеется в 2 цветах: Итальянский орех и Беленый дуб
					</p>
				</li>
			</ul>



		</div>
		<div class="desc__footer _fx-row-fe">
			<div class="desc__btns _fx-row-center">
				<a href="#" class="Button Button--gray-light Button--theme-m  ">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#edit"></use>
						</svg>
					</span>
				</a>
				<a class="Button Button--gray-light Button--theme-m " href="#" data-fancybox-window="">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#trash"></use>
						</svg>
					</span>
				</a>
			</div>
		</div>



	</div>


</div>