.Info {
	@include adaptiv-value("font-size", 16, 13, 1);
  &__count {
		color: $black;
		display: flex; 
		align-items: center;
		justify-content: center;
		font-weight: 600;
		&-value {

		}
		&-icon {
			margin-right: 6px;
			display: flex;
			align-items: center;
			.Icon {
				&__svg {
					width: 17px;
					height: 17px;
				}
			}
		}
  }
  &__title {
		color: $black;
		margin-right: 10px;
		display: flex;
		align-items: center;
		&-icon {
			.Icon {
				margin-right: 10px;
				pointer-events: none;
					&__svg {
						width: 18px;
						height: 18px;
					}
			}
		}
		&-text {
		}
  }
	&__wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		// line-height: 118%;
	}
	&__link {
		.Link {
			font-weight: 600;
		}
	}
}
