<div class="Info">
	<div class="Info__wrapper">
		<div class="Info__title">
			<h3 class="Info__title-text">
				ИНН
			</h3>

		</div>
		<div class="Info__count">
			<span class="Info__count-value">
				6565463765
			</span>
		</div>
	</div>
</div>