<div class="popup-beginner popup-change-password _bs" id="popup-change-password" style="display: none">
  <div class="popup-beginner__wrapper">

    <div class="Title">
      <div class="Title__wrapper--theme-l Title__wrapper--black">
        <h2>Изменить свой пароль</h2>
      </div>
    </div>

    <div class="popup-beginner__block-input-form">
      <form class="popup-beginner__form js-form-validation" action="" novalidate="novalidate">
        <div class="popup-beginner__block-inputs">
          <div class="Input input Input--hidden-content">
            <label class="Input__label Input__label--js">
              <span class="Input__label-text">Текущий пароль</span>
              <span class="Input__block-inp">
                <input class="Input__inp--js" type="password" name="password1" placeholder=""/>
                  <span class="Input__block-icon">
                    <svg class="Input__icon Input__icon--js">
                      <use xlink:href="#eye-hidden"></use>
                    </svg>
                  </span>
              </span>
            </label>
            <span class="input-validation__message input-validation__message-mod"></span>
          </div>
          <div class="Input input Input--hidden-content">
            <label class="Input__label Input__label--js">
              <span class="Input__label-text">Новый пароль</span>
              <span class="Input__block-inp">
                <input class="Input__inp--js" type="password" name="password2" placeholder=""/>
                  <span class="Input__block-icon">
                    <svg class="Input__icon Input__icon--js">
                      <use xlink:href="#eye-hidden"></use>
                    </svg>
                  </span>
              </span>
            </label>
            <span class="input-validation__message input-validation__message-mod"></span>
          </div>
        </div>
        <button type="submit" class="Button Button--lime Button--theme-xl">
          <span class="Button__text">Изменить пароль</span>
        </button>
      </form>
    </div>

  </div>
</div>
