<div class="Card-buy">
	<div class="Card-buy__settings">
		<div class="Checkbox Checkbox--default">
			<label class="Checkbox__label">
				<input type="checkbox" class="Checkbox__input" checked="">
				<span class="Checkbox__inner-text">
					<span class="Checkbox__text">Выбрать все</span>
				</span>
			</label>
		</div>
		<div class="Card-buy__btns">
			<div class="Card-buy__btns-left">
				<button class="Button Button--lime-light  Button--theme-s Button--theme-s-n">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#orders-down"></use>
						</svg>
					</span>
				</button>
				<button class="Button Button--gray-light  Button--theme-s Button--theme-s-n">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#trash"></use>
						</svg>
					</span>
				</button>
			</div>
			<div class="Card-buy__btns-right">
				<button class="Button Button--lime-light  Button--theme-s Button--theme-s-n">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#basket-3"></use>
						</svg>
					</span>
				</button>
			</div>
		</div>
	</div>
	<div class="Card-buy__list-products">
		<div class="Card-buy__wrapper-item-products">
			<div class="Card-buy__item-products item-Card-buy">
				<div class="item-Card-buy__content">
					<div class="item-Card-buy__badges">
						<span class="item-Card-buy__badges-discount">-25%</span>
						<span class="Icon Icon--black Icon--theme-m">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#bestseller"></use>
								</svg>
							</div>
						</span>
					</div>
					<div class="Card-buy__block-img">
						<img class="Card-buy__img" src="/img/Card-buy-door-1.png" alt="page-door" />
					</div>
				</div>

				<div class="item-Card-buy__block-info">
					<div class="item-Card-buy__info">
						<div class="item-Card-buy__title">
							<h3 class="item-Card-buy__title-text">Гладкая</h3>
						</div>
						<div class="item-Card-buy__desc">
							<p class="item-Card-buy__desc-text">Беленый дуб</p>
							<p class="item-Card-buy__desc-text">
								Ламинированные двери
							</p>
						</div>

						<div class="
									item-Card-buy__info-icon
									item-Card-buy__remove-product-js
								">
							<span class="Icon Icon--black Icon--theme-m">
								<div class="Icon__content">
									<svg class="Icon__svg">
										<use class="Icon__svg-use" xlink:href="#trash"></use>
									</svg>
								</div>
							</span>
						</div>
					</div>

					<div class="item-Card-buy__amount">
						<div class="item-Card-buy__amount-desc">
							<p class="item-Card-buy__amount-desc-text">
								Полотно (10 шт):
								<span class="item-Card-buy__amount-desc-text-decoration">5 890 ₽</span>
							</p>
							<p class="item-Card-buy__amount-desc-text">
								Погонаж (1 шт):
								<span class="item-Card-buy__amount-desc-text-decoration">4 935 ₽</span>
							</p>
						</div>

						<div class="item-Card-buy__amount-btn">
							<a class="
										Button
										Button--gray-light
										Button--theme-s
										Button--theme-s-w
									" href="#">
								<span class="Button__text">Подробнее</span>
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item-Card-buy__detailed">
				<ul class="item-Card-buy__list-detailed">
					<li class="item-Card-buy__item-detailed">
						<div class="item-Card-buy__item-detailed-title">
							<h3 class="item-Card-buy__item-detailed-title-text">
								Беленый дуб 2000х800 Глухая
							</h3>
						</div>

						@include('../../elements/receipt-date/receipt-date.html')
						<div class="item-Card-buy__info-detailed">
							<div class="item-Card-buy__price">
								<span class="item-Card-buy__price-text">75 535 ₽</span>
							</div>

							@include('../../elements/counter/counter--lacks.html')

							<div class="
										item-Card-buy__item-detailed-icon
										item-Card-buy__remove-item-js
									">
								<span class="Icon Icon--black Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#close"></use>
										</svg>
									</div>
								</span>
							</div>
						</div>
					</li>

					<li class="item-Card-buy__item-detailed">
						<div class="item-Card-buy__item-detailed-title">
							<h3 class="item-Card-buy__item-detailed-title-text">
								Беленый дуб 2000х600 Глухая
							</h3>
						</div>

						<div class="item-Card-buy__info-detailed">
							<div class="item-Card-buy__price">
								<span class="item-Card-buy__price-text">0 ₽</span>
							</div>

							<div class="Counter">
								<button class="
											Counter__button Counter__button--js-reduction
										" data-decrement="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-left" class="Counter__use"></use>
									</svg>
								</button>
								<div class="Counter__block-input">
									<input class="Counter__input Counter__input--js" type="text" value="1" min="0" max="99" step="1" />
									<span class="Counter__dimension">
										/ 0 в наличии</span>
								</div>
								<button class="Counter__button Counter__button--js-increase" data-increment="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-right" class="Counter__use"></use>
									</svg>
								</button>
							</div>

							<div class="
										item-Card-buy__item-detailed-icon
										item-Card-buy__remove-item-js
									">
								<span class="Icon Icon--black Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#close"></use>
										</svg>
									</div>
								</span>
							</div>
						</div>
					</li>

					<li class="item-Card-buy__item-detailed">
						<div class="item-Card-buy__item-detailed-title">
							<h3 class="item-Card-buy__item-detailed-title-text">
								Добор 150х8х2070
							</h3>
						</div>

						<div class="item-Card-buy__info-detailed">
							<div class="item-Card-buy__price">
								<span class="item-Card-buy__price-text">1 567 ₽</span>
							</div>

							<div class="Counter">
								<button class="
											Counter__button Counter__button--js-reduction
										" data-decrement="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-left" class="Counter__use"></use>
									</svg>
								</button>
								<div class="Counter__block-input">
									<input class="Counter__input Counter__input--js" type="text" value="1" min="0" max="99" step="1" />
									<span class="Counter__dimension">
										/ 5 в наличии</span>
								</div>
								<button class="Counter__button Counter__button--js-increase" data-increment="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-right" class="Counter__use"></use>
									</svg>
								</button>
							</div>

							<div class="
										item-Card-buy__item-detailed-icon
										item-Card-buy__remove-item-js
									">
								<span class="Icon Icon--black Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#close"></use>
										</svg>
									</div>
								</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="Card-buy__wrapper-item-products">
			<div class="Card-buy__item-products item-Card-buy">
				<div class="item-Card-buy__content">
					<div class="item-Card-buy__badges">
						<span class="Icon Icon--black Icon--theme-m">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#flame"></use>
								</svg>
							</div>
						</span>
					</div>
					<div class="Card-buy__block-img">
						<img class="Card-buy__img" src="/img/Card-buy-door-2.png" alt="page-door" />
					</div>
				</div>

				<div class="item-Card-buy__block-info">
					<div class="item-Card-buy__info">
						<div class="item-Card-buy__title">
							<h3 class="item-Card-buy__title-text">Гладкая</h3>
						</div>
						<div class="item-Card-buy__desc">
							<p class="item-Card-buy__desc-text">Беленый дуб</p>
							<p class="item-Card-buy__desc-text">
								Ламинированные двери
							</p>
						</div>

						<div class="
									item-Card-buy__info-icon
									item-Card-buy__remove-product-js
								">
							<span class="Icon Icon--black Icon--theme-m">
								<div class="Icon__content">
									<svg class="Icon__svg">
										<use class="Icon__svg-use" xlink:href="#trash"></use>
									</svg>
								</div>
							</span>
						</div>
					</div>

					<div class="item-Card-buy__amount">
						<div class="item-Card-buy__amount-desc">
							<p class="item-Card-buy__amount-desc-text">
								Полотно (10 шт):
								<span class="item-Card-buy__amount-desc-text-decoration">5 890 ₽</span>
							</p>
							<p class="item-Card-buy__amount-desc-text">
								Погонаж (1 шт):
								<span class="item-Card-buy__amount-desc-text-decoration">4 935 ₽</span>
							</p>
						</div>

						<div class="item-Card-buy__amount-btn">
							<a class="
										Button
										Button--gray-light
										Button--theme-s
										Button--theme-s-w
									" href="#">
								<span class="Button__text">Подробнее</span>
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item-Card-buy__detailed">
				<ul class="item-Card-buy__list-detailed">
					<li class="item-Card-buy__item-detailed">
						<div class="item-Card-buy__item-detailed-title">
							<h3 class="item-Card-buy__item-detailed-title-text">
								Беленый дуб 2000х800 Глухая
							</h3>
						</div>

						<div class="
									item-Card-buy__info-detailed
									item-Card-buy__info-detailed--active
								">
							<div class="item-Card-buy__price">
								<span class="item-Card-buy__price-text">75 535 ₽</span>
							</div>

							<div class="Counter">
								<button class="
											Counter__button Counter__button--js-reduction
										" data-decrement="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-left" class="Counter__use"></use>
									</svg>
								</button>
								<div class="Counter__block-input">
									<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1" />
									<span class="Counter__dimension">
										/ 10 в наличии</span>
								</div>
								<button class="Counter__button Counter__button--js-increase" data-increment="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-right" class="Counter__use"></use>
									</svg>
								</button>
							</div>

							<div class="
										item-Card-buy__item-detailed-icon
										item-Card-buy__remove-item-js
									">
								<span class="Icon Icon--black Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#close"></use>
										</svg>
									</div>
								</span>
							</div>
						</div>
					</li>

					<li class="item-Card-buy__item-detailed">
						<div class="item-Card-buy__item-detailed-title">
							<h3 class="item-Card-buy__item-detailed-title-text">
								Беленый дуб 2000х600 Глухая
							</h3>
						</div>

						<div class="item-Card-buy__info-detailed">
							<div class="item-Card-buy__price">
								<span class="item-Card-buy__price-text">0 ₽</span>
							</div>

							<div class="Counter">
								<button class="
											Counter__button Counter__button--js-reduction
										" data-decrement="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-left" class="Counter__use"></use>
									</svg>
								</button>
								<div class="Counter__block-input">
									<input class="Counter__input Counter__input--js" type="text" value="1" min="0" max="99" step="1" />
									<span class="Counter__dimension">
										/ 0 в наличии</span>
								</div>
								<button class="Counter__button Counter__button--js-increase" data-increment="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-right" class="Counter__use"></use>
									</svg>
								</button>
							</div>

							<div class="
										item-Card-buy__item-detailed-icon
										item-Card-buy__remove-item-js
									">
								<span class="Icon Icon--black Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#close"></use>
										</svg>
									</div>
								</span>
							</div>
						</div>
					</li>

					<li class="item-Card-buy__item-detailed">
						<div class="item-Card-buy__item-detailed-title">
							<h3 class="item-Card-buy__item-detailed-title-text">
								Добор 150х8х2070
							</h3>
						</div>

						<div class="item-Card-buy__info-detailed">
							<div class="item-Card-buy__price">
								<span class="item-Card-buy__price-text">1 567 ₽</span>
							</div>

							<div class="Counter">
								<button class="
											Counter__button Counter__button--js-reduction
										" data-decrement="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-left" class="Counter__use"></use>
									</svg>
								</button>
								<div class="Counter__block-input">
									<input class="Counter__input Counter__input--js" type="text" value="1" min="0" max="99" step="1" />
									<span class="Counter__dimension">
										/ 5 в наличии</span>
								</div>
								<button class="Counter__button Counter__button--js-increase" data-increment="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-right" class="Counter__use"></use>
									</svg>
								</button>
							</div>

							<div class="
										item-Card-buy__item-detailed-icon
										item-Card-buy__remove-item-js
									">
								<span class="Icon Icon--black Icon--theme-m">
									<div class="Icon__content">
										<svg class="Icon__svg">
											<use class="Icon__svg-use" xlink:href="#close"></use>
										</svg>
									</div>
								</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="Card-buy__wrapper-item-products">
			<div class="Card-buy__item-products item-Card-buy">
				<div class="item-Card-buy__content">
					<div class="item-Card-buy__badges">
						<span class="Icon Icon--black Icon--theme-m">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#flame"></use>
								</svg>
							</div>
						</span>
					</div>
					<div class="Card-buy__block-img">
						<img class="Card-buy__img" src="/img/Card-buy-handle-1.png" alt="page-door" />
					</div>
				</div>

				<div class="item-Card-buy__block-info">
					<div class="item-Card-buy__info">
						<div class="item-Card-buy__title">
							<h3 class="item-Card-buy__title-text">
								Ручка дверная Palidore A-403 BCF
							</h3>
						</div>
						<div class="item-Card-buy__desc">
							<p class="item-Card-buy__desc-text">Миланский орех</p>
							<p class="item-Card-buy__desc-text">Дверные ручки</p>
						</div>

						<div class="
									item-Card-buy__info-icon
									item-Card-buy__remove-product-js
								">
							<span class="Icon Icon--black Icon--theme-m">
								<div class="Icon__content">
									<svg class="Icon__svg">
										<use class="Icon__svg-use" xlink:href="#trash"></use>
									</svg>
								</div>
							</span>
						</div>
					</div>

					<div class="item-Card-buy__amount">
						<div class="item-Card-buy__amount-desc">
							<p class="item-Card-buy__amount-desc-text">
								Кол-во (1 шт):
								<span class="item-Card-buy__amount-desc-text-decoration">345 ₽</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>