.Card-buy {
	// box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);

  &__block-img {
    height: 140px;
  }
	&__btns {
		display: flex;
		justify-content: center;
		.Button--theme-s {
			width: 42px;
		}
	}
	&__btns-left {
		margin-right: 30px;
		.Button {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-products {
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  }
	&__settings {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 30px;
	}
  &__list-products {
		margin-top: 20px;
    .hidden {
      display: none !important;
      opacity: 0;
      visibility: hidden;
    }

    .item-Card-buy {
			transition: $transition;
			&--active {
				box-shadow: none;
				
			}
      &__amount {
        @include adaptiv-value("padding-top", 24, 16, 1);
        @include adaptiv-value("padding-bottom", 24, 16, 1);
        @include adaptiv-value("padding-left", 13, 0, 1);
        @include adaptiv-value("padding-right", 17, 4, 1);

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $gray-border;

        .Button {
          &__icon-svg {
            margin-left: 15px;
            transform: rotate(270deg);
          }

          &:hover > .Button__icon > .Button__icon-svg {
            transform: rotate(90deg);
          }

          &--theme-s {
            @include adaptiv-value("width", 140, 130, 1);

            min-height: 32px;
          }
        }
      }

      &__amount-btn {
        padding-left: 20px;

        &--active {
          .Button--gray-light {
            outline: none;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            background-color: $gray;
          }
					.Button__icon .Button__icon-svg  {
						fill: $white;
					}
					.Button__text {
						color: $white;
					}
					.Button__icon-svg {
            transform: rotate(90deg);
          }
					.Card-buy__item-products {
						box-shadow: none;
					}
        }
      }

      &__amount-desc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &__amount-desc-text {
        @include adaptiv-value("font-size", 16, 12, 1);
        @include adaptiv-value("line-height", 19, 14, 1);

        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &:nth-child(2) {
          margin-right: 0;
        }
      }

      &__amount-desc-text-decoration {
        @include adaptiv-value("font-size", 16, 12, 1);
        @include adaptiv-value("line-height", 19, 14, 1);

        margin-left: 5px;
        font-weight: 600;
        color: $black;
      }

      &__badges {
        position: absolute;
        left: 9px;
        top: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        pointer-events: none;

        :not(:first-child) {
          margin-top: 10px;
        }

        .Icon {
          &__svg {
            fill: $gray;
          }
        }
      }

      &__badges-discount {
        border-radius: 2px;
        padding: 5px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: $white;
        background: $red;
      }

      &__block-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid $gray-border;
      }

      &__content {
        position: relative;
        padding: 15px 9px;
      }

      &__desc {
        margin-top: 5px;
      }

      &__desc-text {
        @include adaptiv-value("font-size", 16, 12, 1);
        @include adaptiv-value("line-height", 19, 14, 1);
      }

      &__item-detailed {
        @include adaptiv-value("padding-top", 13, 15, 1);
        @include adaptiv-value("padding-bottom", 13, 15, 1);
        @include adaptiv-value("padding-left", 25, 10, 1);
        @include adaptiv-value("padding-right", 25, 10, 1);
				align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gray-border;
      }

      &__item-detailed-icon {
        margin-left: 10px;

        .Icon__svg {
          fill: $gray;
        }
      }

      &__item-detailed-title-text {
        color: $black;
      }

      &__info-detailed {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;

        .Counter {
          margin-left: 20px;
        }
      }

      &__info {
        @include adaptiv-value("padding-top", 16, 20, 1);
        @include adaptiv-value("padding-bottom", 9, 20, 1);
        @include adaptiv-value("padding-left", 13, 0, 1);
        @include adaptiv-value("padding-right", 17, 20, 1);

        position: relative;
      }

      &__info-icon {
        position: absolute;
        right: 17px;
        top: 17px;

        .Icon__svg {
          fill: $gray;
        }
      }

      &__title {
				width: 90%;
      }

      &__title-text {
        @include adaptiv-value("font-size", 22, 14, 1);
        @include adaptiv-value("line-height", 26, 16, 1);

        font-weight: 600;
        color: $black;
      }

      &__price-text {
        font-weight: 600;
        color: $black;
      }

      &__detailed {
        display: none;
      }
    }
  }

  &__wrapper-item-products {
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }
}