<div class="condition condition--disable">
	<div class="condition__wrapper">
		<div class="condition__item Pn Pn--centerXY">
			<span class="condition__item-text">
				1
			</span>
			<span class="Icon Icon--lime Icon--theme-m">
				<div class="Icon__content">
					<svg class="Icon__svg">
						<use class="Icon__svg-use" xlink:href="#success"></use>
					</svg>
				</div>
			</span>
		</div>
	</div>
</div>