<div class="condition">
	<div class="condition__wrapper">
		<div class="condition__item Pn Pn--centerXY">
			<span class="condition__item-text" data-condition-number>
				1
			</span>
			<div class="condition__success">
				<span class="Icon Icon--lime Icon--theme-m">
					<div class="Icon__content">
						<svg class="Icon__svg">
							<use class="Icon__svg-use" xlink:href="#success"></use>
						</svg>
					</div>
				</span>
			</div>
			<div class="condition__error">
				<span class="Icon Icon--red Icon--theme-m">
					<div class="Icon__content">
						<svg class="Icon__svg">
							<use class="Icon__svg-use" xlink:href="#close"></use>
						</svg>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>