.condition {

  &__item {
    pointer-events: none;
  }
  &__item-text {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  &__wrapper {
    width: 48px;
    height: 48px;
    border: 1px solid $lime;
    border-radius: 50%;
    position: relative;
  }

  &--disable{
    .ordering-page {
      &__list-title-text {
          color: $gray;
      }
    }
  //   .condition {
  //     &__item-text {
  //         font-size: 16px;
  //         font-weight: 600;
  //         line-height: 19px;
  //         display: block;
  //         opacity: 1;
  //         visibility: visible;
  //     }
  //     &__item {
  //         .Icon {
  //             display: none;
  //             opacity: 0;
  //             visibility: hidden;
  //         }
  //     }
  //     &__wrapper {
  //         border: 1px solid $gray-border;
  //     }
  // }
  }
  &--active{
    
  }
  &--error{}
}
