.Video-reviews {
  &__swiper-container {
    @include adaptiv-value("margin-top", 30, 20, 1);

    position: relative;
    margin-bottom: 30px;
  }

  &__block-video {
    position: relative;
    overflow: hidden;
    padding-bottom: 65%;
    filter: grayscale(10%) sepia(15%);
    transition: $transition;

    &:hover {
      filter: none;
      cursor: pointer;
    }
  }

  &__block-video-size {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    outline: none;
    transform: translate(-50%, -50%);
    transition: 0.3s all;

    :hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  &__icon-svg {
    max-width: 40px;
    max-height: 40px;
  }

  &__block-info {
    margin-top: 10px;
  }

  &__title-text {
    color: $black-default;
  }

  &__block-publication-time {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
  }

  &__button {
    @include adaptiv-value("margin-top", 30, 20, 1);

    display: flex;
    justify-content: center;
  }

  .Swiper-button-default {
    @include adaptiv-value("top", 110, 50, 1);
  }
}
