<div class="Video-reviews">
	<div class="Video-reviews__block-video">
		<img class="Video-reviews__block-video-size" src="/img/video-preview.jpg" alt="" />
		<a href="#popup-video-reviews" data-fancybox-window="">
			<div class="Video-reviews__icon">
				<svg class="Video-reviews__icon-svg">
					<use class="Video-reviews__icon-svg-use" xlink:href="#play"></use>
				</svg>
			</div>
		</a>
	</div>
	<div class="Video-reviews__block-info">
		<div class="Video-reviews__title">
			<h4 class="Video-reviews__title-text">
				Монтаж межкомнатной двери
			</h4>
		</div>
		<div class="Video-reviews__block-publication-time">
			<span class="Video-reviews__block-publication-time-value">12.09.2021 12:56</span>
		</div>
	</div>
</div>