.profile {
  &__avatar {
    border-radius: 50%;
    border: 1px solid $gray;
    overflow: hidden;
		width: 40px;
		height: 40px;
		flex-shrink: 0;

    .Img {
      &__item {
      }
    }
  }
  &__date-visit {
    font-size: 12px;
  }
  &__date-visit-text {
  }
  &__info {
  }
  &__login {
    color: $quartz;
    @include adaptiv-value("font-size", 18, 16, 1);
  }
  &__login-text {
  }
  &__wrapper {
		max-width: 200px;
    & > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
