<div class="profile">
	<div class="profile__wrapper _fx-row-fs">

		<div class="profile__avatar">
			<div class="Img">
				<img class="Img__item" src="img/test.jpg" alt="">
			</div>
		</div>

		<div class="profile__info">
			<div class="profile__login">
				<span class="profile__login-text">
					mihail.hlebnikov
				</span>

			</div>
			<div class="profile__date-visit">
				<span class="profile__date-visit-text">
					вчера 24 августа 2020
				</span>
			</div>
		</div>

	</div>

</div>
