<?xml version="1.0" encoding="utf-8"?><svg viewBox="0 0 110 110" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <style>
        :root>svg {
            display: none
        }

        :root>svg:target {
            display: block
        }
    </style><svg fill="none" viewBox="0 0 24 24" id="add-basket" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M20.086 4.502v1.5h1.664v2.97l-1.664 5.28H7.028L5.153.75H.75v1.5h3.097l1.875 13.502h15.464l2.064-6.55v-4.7h-3.164zM8.296 17.266a3.003 3.003 0 00-3 3 3 3 0 103-3zm0 4.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zM18.796 17.266a3.004 3.004 0 00-3 3 3 3 0 103-3zm0 4.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
            fill="#fff" />
        <path d="M14.993 8.573V0h-1.5v8.573L11.06 6.142 10 7.202l4.243 4.243 4.242-4.243-1.06-1.06-2.432 2.431z"
            fill="#fff" />
    </svg><svg viewBox="0 0 23 14" id="arrow" xmlns="http://www.w3.org/2000/svg">
        <path d="M.383 7.75h19.558l-4.5 4.5 1.061 1.06L22.812 7 16.503.69l-1.06 1.06 4.5 4.5H.382v1.5z" />
    </svg><svg viewBox="0 0 5 10" id="arrow-left" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 0L0 5l5 5V0z" />
    </svg><svg viewBox="0 0 25 24" id="arrow-left-big" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.812 11.25H4.254l4.5-4.5-1.06-1.06L1.382 12l6.31 6.31 1.06-1.06-4.499-4.5h19.558v-1.5z" />
    </svg><svg viewBox="0 0 5 10" id="arrow-right" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 10l5-5-5-5v10z" />
    </svg><svg viewBox="0 0 8 5" id="arrow-small" xmlns="http://www.w3.org/2000/svg">
        <path d="M.25.5L4 4.25 7.75.5H.25z" fill="#BDC0CF" />
    </svg><svg viewBox="0 0 24 24" id="basket" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M7.5 4.502v1.5h14.25v2.97l-1.664 5.28H7.028L5.153.75H.75v1.5h3.097l1.875 13.502h15.464l2.064-6.55v-4.7H7.5zM8.296 17.266a3.003 3.003 0 00-3 3 3 3 0 103-3zm0 4.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zM18.796 17.266a3.004 3.004 0 00-3 3 3 3 0 103-3zm0 4.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3z" />
    </svg><svg viewBox="0 0 25 24" id="basket-2" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M20.586 4.502v1.5h1.664v2.97l-1.664 5.28H7.528L5.653.75H1.25v1.5h3.097l1.875 13.502h15.464l2.064-6.55v-4.7h-3.164zM8.797 17.266a3.003 3.003 0 00-3 3 3 3 0 103-3zm0 4.5a1.5 1.5 0 110-2.999 1.5 1.5 0 010 3zM19.297 17.266a3.003 3.003 0 00-3 3 3 3 0 103-3zm0 4.5a1.5 1.5 0 110-2.999 1.5 1.5 0 010 3z" />
        <path d="M15.493 8.573V0h-1.5v8.573L11.56 6.142 10.5 7.202l4.243 4.243 4.242-4.243-1.06-1.06-2.432 2.431z" />
    </svg><svg viewBox="0 0 25 24" id="bestseller" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M15.893 18l.173 3.516-3.556-2.472-3.576 2.474L9.107 18H7.606l-.26 5.25h1.72l3.442-2.38 3.425 2.38h1.72L17.394 18h-1.501zM19.972 7.262l-.103-2.253-1.899-1.215-1.215-1.9-2.253-.103L12.5.754l-2.002 1.038-2.253.103-1.216 1.899L5.13 5.009l-.103 2.253L3.99 9.264l1.037 2.002.104 2.253 1.898 1.215 1.216 1.9 2.252.102 2.003 1.037 2.002-1.037 2.252-.103 1.216-1.9 1.9-1.214.102-2.253 1.037-2.002-1.037-2.002zm-1.483 3.607l-.083 1.805-1.522.974-.974 1.522-1.806.083-1.604.831-1.605-.831-1.805-.083-.974-1.522-1.523-.974-.082-1.805-.832-1.605.832-1.605.082-1.805 1.523-.974.974-1.522 1.805-.083 1.605-.831 1.604.831 1.806.082.974 1.523 1.522.974.082 1.805.832 1.605-.831 1.605z" />
    </svg><svg fill="none" viewBox="0 0 110 110" id="brain" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#ajfilter0_d)">
            <rect x="15" y="10" width="80" height="80" rx="40" fill="#fff" />
            <g filter="url(#ajfilter1_d)" fill-rule="evenodd" clip-rule="evenodd" fill="#9ACA3C">
                <path
                    d="M46.024 36.706v6.181c0 1.694 1.694 1.355 1.948.678.254-.593.084-7.452.084-8.299.763-.423 2.795-1.1 3.896-1.1v14.649c-1.44-.763-1.694-.847-3.387-.847-2.456 0-4.658 2.286-4.658 4.657v4.573c0 .846.847.846 1.27.846.932 0 .847-1.1.847-2.032v-2.879c0-2.71 3.133-3.98 4.911-2.117.255.254.424.508.593.847.085.17.339 1.016.339 1.185v12.956c-.423 0-.677 0-1.016-.085-.339-.084-.593-.169-.932-.169V54.911c0-.931-1.44-1.27-1.947-.423-.254.423-.085 3.726-.085 4.403v5.928c-.423-.34-1.1-.763-1.44-1.101l-.592-.678c-.339-.423-.762-1.185-1.016-1.693s-.254-.424-1.101-.932c-.17-.084-.17-.084-.423-.254-.678-.508-1.44-1.27-2.033-1.947-.423-.508-.762-1.101-1.1-1.61-1.44-2.709-1.61-6.435-.17-9.229.17-.254.423-.847.508-1.1.847 0 1.44.338 1.694.93.338.678-.17 1.61 1.355 1.61 1.778 0 .846-3.896-1.525-4.488 0-2.625 1.948-6.182 3.81-7.452l.17-.17zm-8.976 13.887c0 3.133.17 4.657 1.779 7.451 1.693 2.795 3.98 3.896 4.233 4.234.085.085.255.424.34.593 1.608 2.625 5.165 4.996 8.382 4.996h2.202V32.048c-2.287 0-3.133-.084-5.42.678-1.524.508-2.794 1.27-3.98 2.286-.423.339-.677.678-1.1 1.016-1.609 1.61-2.794 3.895-3.303 6.182-.423 1.863-.084.592-1.1 2.117-.593.846-1.101 1.778-1.44 2.794-.339.847-.762 2.37-.762 3.472h.17zM65.415 47.544c0 1.61 1.694 1.186 2.033.678.169-.339 0-2.117 1.778-2.117.254 0 .254.17.338.339 1.61 3.048 1.779 6.604.255 9.737-1.863 3.557-4.319 4.15-4.658 4.827-.762 1.44-1.609 2.88-3.133 3.641 0-.677.085-9.738-.084-10.161-.424-.932-1.948-.593-1.948.339v10.838c-.508 0-.931.254-1.948.254V52.71c0-.338.085-.084.17-.507 1.185-3.642 5.673-2.456 5.673.677v2.88c0 1.862 0 2.116 1.27 2.116a.848.848 0 00.847-.847v-4.572c0-2.456-2.286-4.658-4.657-4.658-1.694 0-1.948.085-3.387.847V33.996c1.185 0 3.133.677 3.895 1.1 0 .678-.085 7.706.084 8.215.085.169.085.254.255.338.254.254 1.778.762 1.778-1.016v-6.181c1.947 1.27 3.81 4.826 3.81 7.451-.677.17-1.355.762-1.693 1.186-.424.508-.762 1.27-.762 2.201l.084.254zm-9.399 20.408c3.303 0 4.742 0 7.706-1.948 1.016-.677 2.117-1.863 2.794-2.879.423-.677.254-.677.847-1.1 1.44-.932 2.879-2.372 3.81-3.896 1.61-2.71 1.863-4.234 1.863-7.282 0-2.371-1.1-4.827-2.117-6.351l-.931-1.186c-.254-.508-.254-2.201-1.694-4.742-2.032-3.471-6.266-6.435-10.584-6.435H55.93v35.819h.085z" />
            </g>
        </g>
        <defs>
            <filter id="ajfilter0_d" x="0" y="0" width="110" height="110" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.560784 0 0 0 0 0.588235 0 0 0 0 0.690196 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="ajfilter1_d" x="19" y="19" width="72" height="72" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.603922 0 0 0 0 0.792157 0 0 0 0 0.235294 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg><svg viewBox="0 0 25 24" id="burger" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.5 4.5H21V6H4.5V4.5zM4.5 11.25H21v1.5H4.5v-1.5zM4.5 18H21v1.5H4.5V18z" />
    </svg><svg viewBox="0 0 25 24" id="click" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#alclip0)">
            <path
                d="M17.791 15c-.387 0-.767.1-1.104.29a2.248 2.248 0 00-3-.75 2.25 2.25 0 00-2.646-.911v-2.004a2.25 2.25 0 10-4.5 0v4.502a3.732 3.732 0 00-2.25-.752A1.126 1.126 0 003.166 16.5v6.75h1.5v-6.344a2.254 2.254 0 011.875 2.219v.75h1.5v-8.25a.75.75 0 111.5 0v8.25h1.5V15.75a.75.75 0 111.5 0v4.125h1.5V16.5a.75.75 0 111.5 0v3.375h1.5V17.25a.75.75 0 111.5 0v6h1.5v-6a2.253 2.253 0 00-2.25-2.25z" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.54 13.308A7 7 0 103.808 14.54c-.405.084-.93.314-1.306.813a8.5 8.5 0 1113.614-1.758c-.397-.212-.922-.35-1.576-.287zm-2.378-.975a4.5 4.5 0 10-6.95.053c.099-.7.334-1.48.566-2.072A3.003 3.003 0 018.666 6.5a3 3 0 012.939 3.605c.396.738.534 1.67.557 2.228z" />
        </g>
        <defs>
            <clipPath id="alclip0">
                <path fill="#fff" transform="translate(.166)" d="M0 0h24v24H0z" />
            </clipPath>
        </defs>
    </svg><svg fill="none" viewBox="0 0 110 110" id="clients" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#amfilter0_d)">
            <rect x="15" y="10" width="80" height="80" rx="40" fill="#fff" />
            <g filter="url(#amfilter1_d)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M68.887 49.915c-.931 0-1.863-.931-1.863-1.863V46.02c0-2.37 3.81-2.625 3.81.254v1.524c0 1.186-.846 2.117-1.947 2.117zm-29.806-2.117v-1.524c0-2.879 3.81-2.625 3.81-.254v2.032c0 2.371-3.81 2.625-3.81-.254zm11.94-3.471v-4.573c0-.931.677-2.117 1.185-2.54 2.879-2.54 6.69-.254 6.69 2.71v4.403c0 1.778-1.864 3.64-3.642 3.64h-.593c-1.778 0-3.64-1.862-3.64-3.64zM48.987 39.5v5.08c0 1.017.339 1.694.677 2.372.424.931.932 1.1 1.355 1.693l-.762.254-3.302 2.117c-.508.424-.508.254-1.101 1.186-.508-.34-1.101-1.186-1.778-1.44.084-.254.423-.593.592-1.016.508-1.016.34-2.71.34-4.15 0-1.777-1.864-3.64-3.642-3.64-.931 0-1.44 0-2.286.338-.847.424-1.525 1.101-1.863 1.948-.508 1.185-.508 4.234-.085 5.335.17.338.085.254.254.508.17.254.254.338.339.592-1.355.763-2.88 2.625-2.88 4.742v6.52h2.202v-6.18c0-1.102.593-2.118 1.186-2.626.254-.254.677-.593 1.1-.762 1.27-.593 2.541-.423 3.642.254.339.17 1.27 1.016 1.27 1.44 0 .084-.423 1.016-.508 1.185-.17.423-.339.762-.423 1.27-.678 2.286-.424 6.774-.424 9.484h2.032v-6.52c0-2.371 1.101-4.319 2.456-5.928.593-.762.508-.592 1.27-1.185 1.61-1.355 4.15-2.286 6.266-2.286 2.117 0 4.573.846 6.182 2.201 2.117 1.694 3.726 4.404 3.726 7.198v6.52h2.032v-6.52c0-1.778-.593-3.726-1.186-4.827-.254-.423-.169-.592.17-.931 1.693-1.863 3.98-2.117 5.673-.424.677.678 1.27 1.61 1.27 2.71v6.181H74.9v-6.52c0-1.1-.508-2.286-.931-2.879l-.847-1.016c-.17-.17-.931-.762-1.185-.846.169-.593.93-1.017.93-2.626 0-1.947.255-3.556-1.1-4.995-.17-.17-.847-.678-1.1-.763-.847-.423-1.44-.423-2.287-.423-1.778 0-3.641 1.863-3.641 3.641 0 1.863-.254 3.387.593 4.657.169.254.254.254.338.508-.677.17-1.355.847-1.693 1.44l-1.694-1.609c-1.863-1.44-1.947-1.185-3.556-1.947.423-.678.931-.847 1.355-1.694.338-.678.677-1.355.677-2.371v-5.08c0-2.626-2.879-5.42-5.673-5.42-2.625 0-4.573 1.185-5.674 3.218-.254.423-.592 1.524-.592 2.201l.169-.169z"
                    fill="#9ACA3C" />
            </g>
        </g>
        <defs>
            <filter id="amfilter0_d" x="0" y="0" width="110" height="110" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.560784 0 0 0 0 0.588235 0 0 0 0 0.690196 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="amfilter1_d" x="19" y="19" width="72" height="72" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.603922 0 0 0 0 0.792157 0 0 0 0 0.235294 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg><svg viewBox="0 0 18 18" id="clock" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.545 3.357H8.42V9.62l4.065 1.932.483-1.016-3.423-1.627v-5.55z" />
        <path
            d="M9 .563a8.438 8.438 0 100 16.875A8.438 8.438 0 009 .563zm0 15.75A7.312 7.312 0 119 1.688a7.312 7.312 0 010 14.624z" />
    </svg><svg viewBox="0 0 24 24" id="close" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#aoclip0)">
            <path
                d="M18.63 17.569L13.06 12l5.57-5.568-1.061-1.06L12 10.94 6.432 5.37 5.37 6.431l5.568 5.57-5.568 5.568 1.06 1.06L12 13.062l5.569 5.569 1.06-1.061z" />
        </g>
        <defs>
            <clipPath id="aoclip0">
                <path d="M0 0h24v24H0z" />
            </clipPath>
        </defs>
    </svg><svg viewBox="0 0 24 24" id="confirmed" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10.41 11.046L7.504 8.139l-3.67 3.67 2.907 2.906-.002.002 3.139 3.138.532.529.002.002 3.139-3.139.528-.532 9.482-9.482-3.67-3.669-9.48 9.482zm2.078 3.139l-.528.532-1.55 1.55-.002-.003-1.547-1.547.002-.002-2.907-2.907 1.548-1.547 2.906 2.906 9.482-9.481 1.547 1.547-8.95 8.952z" />
        <path d="M21 21.75H2.25V3h14.073l1.5-1.5H.75v21.75H22.5V8.395l-1.5 1.5V21.75z" />
    </svg><svg viewBox="0 0 17 17" id="contacts" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#aqclip0)">
            <path
                d="M16 5.024V3.976h-1.226V1.813a.781.781 0 00-.787-.774H3.013a.781.781 0 00-.787.774V15.25a.781.781 0 00.787.774h10.974a.781.781 0 00.787-.774v-2.226H16v-1.048h-1.226V9.024H16V7.976h-1.226V5.024H16zm-2.274 2.952H12.25v1.048h1.476v2.952H12.25v1.048h1.476v1.952H3.274V2.086h10.452v1.89H12.25v1.048h1.476v2.952z" />
            <path
                d="M10.301 10.091l-.898-.583.432-1.052V6.804a2.054 2.054 0 10-4.107 0v1.642l.397 1.084-.864.561a1.53 1.53 0 00-.699 1.288V13H11v-1.621a1.53 1.53 0 00-.699-1.288zM10 12H5.562v-.621a.534.534 0 01.244-.45l1.533-.995-.611-1.666V6.804a1.054 1.054 0 012.107 0v1.454l-.672 1.636 1.593 1.036a.533.533 0 01.244.449V12z" />
        </g>
        <defs>
            <clipPath id="aqclip0">
                <path fill="#fff" transform="translate(.5 .5)" d="M0 0h16v16H0z" />
            </clipPath>
        </defs>
    </svg><svg viewBox="0 0 17 17" id="cube" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M2.656 12.458l5.354 3.091a1.003 1.003 0 001 0l5.355-3.091a1.003 1.003 0 00.5-.867V5.41a1.002 1.002 0 00-.5-.867L9.01 1.451a1.003 1.003 0 00-1 0L2.656 4.542a1.003 1.003 0 00-.5.867v6.183a1.003 1.003 0 00.5.866zM9.01 2.606l4.855 2.803v5.543L9.01 8.208V2.606zM8.51 9.073l4.91 2.776-4.908 2.834-4.912-2.835 4.91-2.775zM3.156 5.409L8.01 2.606v5.6L3.156 10.95V5.409z" />
    </svg><svg fill="none" viewBox="0 0 110 110" id="cup" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#asfilter0_d)">
            <rect x="15" y="10" width="80" height="80" rx="40" fill="#fff" />
            <g filter="url(#asfilter1_d)" fill-rule="evenodd" clip-rule="evenodd" fill="#9ACA3C">
                <path
                    d="M51.105 61.94h7.875v1.947h-7.875V61.94zm2.964-4.912h1.862v2.88H54.07v-2.88zm-7.029-9.907V36.113h15.92V47.12c0 4.234-3.557 7.875-8.045 7.875-4.234 0-7.875-3.641-7.875-7.875zm17.952.593V38.06h3.895c0 3.133.424 5.335-1.185 7.537-.254.423-.763.846-1.186 1.185-.254.17-.423.339-.762.508l-.847.424h.085zm-23.964-5.589v-3.98h3.895v9.653c-.677-.338-.762-.338-1.524-.846-.339-.254-1.016-.847-1.185-1.186-.593-.847-1.186-2.117-1.186-3.556v-.085zm3.895-6.097h-6.012v6.182c0 1.947.932 3.895 1.863 4.996a8.5 8.5 0 001.863 1.608c2.794 1.694 2.286.17 3.048 2.033.17.508.34.762.593 1.185.847 1.355 2.032 2.71 3.387 3.472l1.694.847c.254.084.508.084.508.423v3.218h-2.964v3.98h-2.032v2.032H62.96v-2.032h-2.033v-3.98h-2.963v-3.218c0-.339.423-.339 1.1-.593.678-.254 1.525-.846 2.117-1.27.509-.338 1.017-.762 1.355-1.27.762-1.016 1.525-1.863 1.948-3.218.254-.677.085-.423 1.016-.762l1.778-.846c2.032-1.27 3.726-3.811 3.726-6.605v-6.182h-6.012v-1.947H45.008v1.947h-.085z" />
                <path d="M53.9 40.177v9.908h2.116V39.923h-1.863c-.254 0-.254.085-.254.254z" />
            </g>
        </g>
        <defs>
            <filter id="asfilter0_d" x="0" y="0" width="110" height="110" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.560784 0 0 0 0 0.588235 0 0 0 0 0.690196 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="asfilter1_d" x="19" y="19" width="72" height="72" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.603922 0 0 0 0 0.792157 0 0 0 0 0.235294 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg><svg viewBox="0 0 24 24" id="download" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M2.25.75h13.436l6.439 6.44v16.06H11.75l1.5-1.5h7.375V9.375H13.5V2.25H3.75v12l-1.5 1.5v-15zm18.375 7.125v-.064l-5.56-5.561H15v5.625h5.625z" />
        <path d="M15.31 17.28l-1.06-1.06-4.345 4.344V11h-1.5v9.564L4.061 16.22 3 17.28l6.155 6.156 6.156-6.156z" />
    </svg><svg viewBox="0 0 24 24" id="entrance-doors" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.75 21.75V0H5.25v21.75H.75v1.5h22.5v-1.5h-4.5zm-1.5 0H6.75V1.5h10.5v20.25z" />
    </svg><svg viewBox="0 0 24 24" id="feature" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#avclip0)">
            <path d="M18.75 22.75V4H5.25v18.75H.75v1.5h22.5v-1.5h-4.5zm-1.5 0H6.75V5.5h10.5v17.25z" />
            <path d="M14.625 11.813h1.5v3.374h-1.5v-3.374z" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9 3H8V1h1v2zm4 0h-2V1h2v2zm3 0h-1V1h1v2zM4 18v1H2v-1h2zm0-4v2H2v-2h2zm0-4v2H2v-2h2zm0-3v1H2V7h2z" />
            <path d="M1 7l2-3 2 3H1zM8 4L5 2l3-2v4zM16 0l3 2-3 2V0zM5 19l-2 3-2-3h4z" />
        </g>
        <defs>
            <clipPath id="avclip0">
                <path fill="#fff" d="M0 0h24v24H0z" />
            </clipPath>
        </defs>
    </svg><svg viewBox="0 0 24 24" id="filter" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M17.155 4.5h6.095V3h-6.095a3.001 3.001 0 00-5.81 0H.75v1.5h10.595a3.001 3.001 0 005.81 0zm-4.405-.75a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM10.405 12.75H23.25v-1.5H10.405a3 3 0 00-5.81 0H.75v1.5h3.845a3 3 0 005.81 0zM6 12a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM20.155 21h3.095v-1.5h-3.095a3.001 3.001 0 00-5.81 0H.75V21h13.595a3 3 0 005.81 0zm-4.405-.75a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
    </svg><svg viewBox="0 0 21 24" id="fittings" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.5 18.5V9H7.95a3.5 3.5 0 110-5h1.26A4.001 4.001 0 001.5 5.5v13a4 4 0 008 0zM10.793 4A5.5 5.5 0 000 5.5v13a5.5 5.5 0 1011 0V9h7.5a2.5 2.5 0 000-5h-7.707zM7.337 7.5H18.5a1 1 0 100-2H7.337L6.9 5.071a2 2 0 100 2.857l.437-.428zM4.8 15h1.5v4H4.8v-4z" />
    </svg><svg viewBox="0 0 24 24" id="flame" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M14.585 12.075c.257-.423.524-.86.787-1.312.881-1.51 1.043-3.032.48-4.523-1.133-3.008-4.924-4.841-5.801-5.134L9.433.9 8.47 2.827l.465.38c.005.004.522.455.556 1.139.03.583-.29 1.214-.95 1.875-.46.458-.963.902-1.496 1.37-2.241 1.975-4.782 4.214-4.782 8.448l.001.173a7.095 7.095 0 002.177 4.992 7.227 7.227 0 005.055 2.046h4.317l-.533-1.081c-2.165-4.395-.634-6.91 1.305-10.094zm-5.09 9.675c-3.102 0-5.674-2.497-5.73-5.566-.002-.048-.002-.096-.002-.145 0-3.557 2.173-5.471 4.274-7.322.527-.464 1.072-.944 1.564-1.436.973-.973 1.44-1.986 1.388-3.011a3.046 3.046 0 00-.338-1.245c1.305.713 3.165 2.065 3.798 3.744.4 1.063.279 2.122-.373 3.238-.256.44-.519.871-.773 1.289-1.86 3.054-3.624 5.952-1.849 10.454H9.496z" />
        <path
            d="M21.95 15.99l-.04-.15c-.541-1.984-3.537-4.535-3.877-4.82l-.682-.57-.448.768c-1.02 1.754-1.894 3.352-2.276 5.166-.435 2.07-.142 4.172.896 6.428l.2.437h.51a5.867 5.867 0 004.655-2.273 5.773 5.773 0 001.061-4.986zm-2.245 4.063a4.372 4.372 0 01-3.02 1.673c-1.48-3.557-.607-5.982 1.06-8.958 1.108 1.03 2.459 2.517 2.718 3.467l.031.12a4.284 4.284 0 01-.79 3.698z" />
    </svg><svg viewBox="0 0 25 25" id="headphones" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M21.5 10.332h-2.25v-1.5a6.758 6.758 0 00-6.75-6.75 6.758 6.758 0 00-6.75 6.75v1.5H3.5a2.253 2.253 0 00-2.25 2.25v6a2.253 2.253 0 002.25 2.25h2.25a1.501 1.501 0 001.5-1.5v-10.5a5.25 5.25 0 1110.5 0v10.5a1.502 1.502 0 001.5 1.5h2.25a2.253 2.253 0 002.25-2.25v-6a2.253 2.253 0 00-2.25-2.25zm-15.75 9H3.5a.75.75 0 01-.75-.75v-6a.75.75 0 01.75-.75h2.25v7.5zm16.5-.75a.75.75 0 01-.75.75h-2.25v-7.5h2.25a.751.751 0 01.75.75v6z" />
    </svg><svg fill="none" viewBox="0 0 110 110" id="hourglass" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#bafilter0_d)">
            <rect x="15" y="10" width="80" height="80" rx="40" fill="#fff" />
            <g filter="url(#bafilter1_d)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M43.06 64.056h23.964v1.863H43.06v-1.862zm13.125-11.854c.847.084 2.202.592 2.71.931 1.186.677 1.101.677 2.032 1.609 2.117 2.117 2.117 4.488 2.117 7.282h-2.201c-.085-.846-1.101-1.947-1.694-2.54-.508-.508-1.947-1.355-2.964-1.355v-5.927zm-6.858 9.822h-2.202c0-2.455-.17-4.064 1.27-6.266 1.186-1.863 3.387-3.472 5.589-3.641v6.012c-1.863 0-4.488 2.456-4.573 3.895h-.084zM47.125 40.94v-2.795h15.92c0 2.964.253 5.335-1.694 7.79-.17.255-.847 1.101-1.101 1.101H50.004c-.508 0-1.694-1.947-1.947-2.455a7.968 7.968 0 01-.847-3.641h-.085zm-3.98-4.827V34.25H67.11v1.863c-6.35 0-13.04.085-19.391 0h-4.573zm-2.032 2.032h3.98c0 3.895-.254 6.351 2.54 9.484.17.254.254.339.508.593l1.016.847h.17c.338.254.762.508 1.185.762.254.169.423.254.678.338.338.17.508.085.677.34-1.44.084-3.556 2.031-4.573 3.217-2.201 2.625-2.116 5.08-2.116 8.214h-3.98v6.012h28.028V61.94h-3.98c0-3.049 0-5.505-2.117-8.13-1.1-1.354-2.879-2.879-4.657-3.302.423-.423 2.71-.847 4.572-3.387 2.456-3.133 2.117-5.42 2.117-9.145h3.98v-6.012H41.113V38.146z"
                    fill="#9ACA3C" />
            </g>
        </g>
        <defs>
            <filter id="bafilter0_d" x="0" y="0" width="110" height="110" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.560784 0 0 0 0 0.588235 0 0 0 0 0.690196 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="bafilter1_d" x="19" y="19" width="72" height="72" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.603922 0 0 0 0 0.792157 0 0 0 0 0.235294 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg><svg viewBox="0 0 19 18" id="information-have" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.25 6.75h-1.5v-1.5h1.5v1.5zm0 6h-1.5v-4.5h1.5v4.5zM9.5 1.5a7.5 7.5 0 100 15 7.5 7.5 0 000-15z" />
    </svg><svg viewBox="0 0 32 32" id="instagram" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="16" />
        <path
            d="M19.24 16c0-1.8-1.44-3.24-3.24-3.24-1.8 0-3.24 1.44-3.24 3.24 0 1.8 1.44 3.24 3.24 3.24 1.8 0 3.24-1.44 3.24-3.24zm1.68 0c0 2.76-2.16 4.92-4.92 4.92s-4.92-2.16-4.92-4.92 2.16-4.92 4.92-4.92 4.92 2.16 4.92 4.92zm1.32-5.16c0 .72-.48 1.2-1.2 1.2s-1.2-.48-1.2-1.2.48-1.2 1.2-1.2 1.2.6 1.2 1.2zM16 8.08c-1.44 0-4.44-.12-5.64.36-.84.36-1.56 1.08-1.8 1.92-.48 1.2-.36 4.2-.36 5.64 0 1.44-.12 4.44.36 5.64.24.84.96 1.56 1.8 1.8 1.2.48 4.32.36 5.64.36 1.32 0 4.44.12 5.64-.36a3.31 3.31 0 001.8-1.8c.48-1.32.36-4.32.36-5.64 0-1.32.12-4.44-.36-5.64-.24-.84-.96-1.56-1.8-1.8-1.2-.6-4.2-.48-5.64-.48zM25.6 16v3.96c0 1.44-.48 2.88-1.56 4.08-1.08 1.08-2.52 1.56-4.08 1.56h-7.92c-1.44 0-2.88-.48-4.08-1.56a6.153 6.153 0 01-1.56-4.08v-7.92c0-1.56.6-3 1.56-4.08C9.16 7 10.6 6.4 12.04 6.4h7.92c1.44 0 2.88.48 4.08 1.56a6.153 6.153 0 011.56 4.08V16z"
            fill="#fff" />
    </svg><svg viewBox="0 0 24 24" id="interior-doors" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.75 21.75V0H5.25v21.75H.75v1.5h22.5v-1.5h-4.5zm-1.5 0H6.75V1.5h10.5v20.25z" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M13 4.5h-2A1.5 1.5 0 009.5 6v5.5h5V6A1.5 1.5 0 0013 4.5zM11 3a3 3 0 00-3 3v7h8V6a3 3 0 00-3-3h-2zM14.5 16.5h-5v3h5v-3zM8 15v6h8v-6H8z" />
    </svg><svg viewBox="0 0 42 42" id="left-icon-button-slider-1" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#beclip0)">
            <path opacity=".2" fill="#8F96B0" d="M42 42H0V0h42z" />
            <path d="M24.5 12.25L15.75 21l8.75 8.75v-17.5z" />
        </g>
        <defs>
            <clipPath id="beclip0">
                <rect x="42" y="42" width="42" height="42" rx="6" transform="rotate(-180 42 42)" fill="#fff" />
            </clipPath>
        </defs>
    </svg><svg viewBox="0 0 24 24" id="like" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M21.24 3.704a6 6 0 00-8.488.003l-.728.736-.72-.734-.005-.005a5.999 5.999 0 00-8.486 0l-.323.324a6 6 0 000 8.485l8.548 8.549.966 1.011.023-.023.025.025.904-.954 8.608-8.608a6.007 6.007 0 000-8.485l-.324-.324zm-.737 7.748l-8.476 8.477-8.477-8.477a4.5 4.5 0 010-6.364l.324-.324a4.5 4.5 0 016.362-.002L12.02 6.58l1.794-1.816a4.501 4.501 0 016.364 0l.324.324a4.505 4.505 0 010 6.364z" />
    </svg><svg viewBox="0 0 18 18" id="location" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M4.126 10.242l4.4 6.873a.562.562 0 00.948 0l4.4-6.873a5.995 5.995 0 001.17-3.573A6.05 6.05 0 009 .626a6.05 6.05 0 00-6.043 6.043 5.995 5.995 0 001.17 3.573zM9 1.751a4.924 4.924 0 014.918 4.918 4.878 4.878 0 01-.981 2.951L9 15.768 5.064 9.62a4.878 4.878 0 01-.982-2.951A4.924 4.924 0 019 1.751z" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9 8.625a1.875 1.875 0 100-3.75 1.875 1.875 0 000 3.75zM9 9.75a3 3 0 100-6 3 3 0 000 6z" />
    </svg><svg fill="none" viewBox="0 0 18 18" id="mail" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.125 3.375L9 9l7.875-5.625m-15.75 11.25h15.75V3.375H1.125v11.25z" />
    </svg><svg viewBox="0 0 24 24" id="new" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M6.422 8.035v7.309c0 .422-.202.633-.606.633h-.925c-.184 0-.323-.042-.419-.127a1.66 1.66 0 01-.264-.402l-2.104-4.179a6.952 6.952 0 01-.264-.575 8.944 8.944 0 01-.21-.622h-.12c.05.43.076.844.076 1.243v4.662H0v-7.31c0-.421.202-.632.606-.632h.914c.176 0 .309.046.397.138.095.084.187.21.275.38l2.038 4.051c.088.177.18.376.275.599.096.215.187.434.276.656h.132a21.63 21.63 0 01-.055-.656 20.227 20.227 0 01-.011-.668v-4.5h1.575zM9.503 8c.595 0 1.211.008 1.85.023.64.008 1.223.038 1.752.092l-.077 1.278h-2.92c-.367 0-.55.195-.55.587v1.243h3.062v1.243H9.558v1.566c0 .391.183.587.55.587h2.92l.077 1.277a19.79 19.79 0 01-1.752.092c-.639.008-1.255.012-1.85.012-.485 0-.878-.142-1.179-.426-.3-.291-.451-.679-.451-1.162V9.6c0-.483.15-.871.451-1.163C8.625 8.146 9.018 8 9.503 8zM24 8.035l-1.245 7.458a.541.541 0 01-.209.357.616.616 0 01-.386.127h-1.564a.68.68 0 01-.407-.127.525.525 0 01-.188-.368l-.859-5.18c-.029-.169-.055-.337-.077-.506-.014-.177-.033-.35-.055-.518h-.21l-.065.518c-.015.176-.033.349-.055.518l-.849 5.168a.549.549 0 01-.209.368.616.616 0 01-.385.127h-1.575a.633.633 0 01-.397-.127.558.558 0 01-.198-.357l-1.245-7.458h1.685l.793 5.525c.015.176.03.36.044.552.022.184.04.384.056.599h.209c.03-.184.059-.376.088-.576l.088-.575.848-4.996a.567.567 0 01.188-.38.57.57 0 01.396-.15h1.388c.154 0 .283.05.386.15.11.1.176.227.198.38l.848 5.007a48.44 48.44 0 01.165 1.14h.22l.044-.564c.015-.2.034-.388.056-.564l.793-5.548H24z" />
    </svg><svg viewBox="0 0 22 18" id="one-tiles" xmlns="http://www.w3.org/2000/svg">
        <path d="M.286.429V17.57h21.428V.43H.286zm20 1.428v14.286H1.714V1.857h18.572z" />
    </svg><svg fill="none" viewBox="0 0 110 110" id="pad" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#bkfilter0_d)">
            <rect x="15" y="10" width="80" height="80" rx="40" fill="#fff" />
            <g filter="url(#bkfilter1_d)" fill-rule="evenodd" clip-rule="evenodd" fill="#9ACA3C">
                <path
                    d="M43.06 64.988h23.964v.931H43.06v-.931zm0-26.928h3.896v3.98h16.088v-3.98h3.895v24.896H42.976V38.06h.084zm6.013 1.017h11.94v.931h-11.94v-.931zm0-4.912h11.94v2.88h-11.94v-2.88zm-2.033 1.863h-6.012v31.924h28.028V36.028h-6.012v-3.895H46.956v3.895h.084z" />
                <path
                    d="M46.956 48.137h16.088v-2.286H46.956v2.286zM46.956 52.032h16.088v-2.117H46.956v2.117zM46.956 56.097h12.193v-2.202H46.956v2.202z" />
            </g>
        </g>
        <defs>
            <filter id="bkfilter0_d" x="0" y="0" width="110" height="110" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.560784 0 0 0 0 0.588235 0 0 0 0 0.690196 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="bkfilter1_d" x="19" y="19" width="72" height="72" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.603922 0 0 0 0 0.792157 0 0 0 0 0.235294 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg><svg viewBox="0 0 17 17" id="partner" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#blclip0)">
            <path
                d="M7.224 7.708a3.7 3.7 0 01-2.033-.607 3.617 3.617 0 01-1.348-1.618 3.553 3.553 0 01-.208-2.082c.14-.7.49-1.341 1.001-1.845A3.678 3.678 0 016.51.569a3.713 3.713 0 012.115.205c.669.273 1.24.735 1.643 1.328a3.565 3.565 0 01-.456 4.55 3.69 3.69 0 01-2.588 1.056zm0-6.137c-.517 0-1.022.15-1.452.434-.43.283-.765.685-.963 1.155-.198.47-.25.988-.149 1.488.101.499.35.958.716 1.318.365.36.831.605 1.338.704.507.1 1.033.049 1.51-.146a2.606 2.606 0 001.174-.948 2.546 2.546 0 00-.325-3.251 2.65 2.65 0 00-1.849-.754zM1.708 9.191a13.476 13.476 0 018.429-.86v1.05a12.512 12.512 0 00-2.913-.34 12.137 12.137 0 00-5.072 1.087c-.185.084-.34.22-.448.39-.108.17-.163.367-.158.568v3.063H.5v-3.063a2.067 2.067 0 01.325-1.12c.214-.336.52-.604.883-.775z" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.359 13.018v-.773h-.784v.773h-.785v.772h.785v.772h.784v-.772h.784v-.772h-.784z" />
            <path
                d="M13.274 10.17H16.5l-.026 6.33H6.999v-6.33h4.34v-.758h1.046v2.003H11.34V11.2H8.045v4.31h7.41v-4.31h-2.181v-1.03z" />
        </g>
        <defs>
            <clipPath id="blclip0">
                <path fill="#fff" transform="translate(.5 .5)" d="M0 0h16v16H0z" />
            </clipPath>
        </defs>
    </svg><svg fill="none" viewBox="0 0 18 18" id="phone" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
            d="M3.84 2.681a1.473 1.473 0 012.203.137l1.513 1.946c.278.357.377.822.267 1.26L7.36 7.872a.572.572 0 00.15.544l2.074 2.073a.572.572 0 00.544.15l1.847-.461a1.473 1.473 0 011.26.266l1.947 1.513c.7.544.764 1.578.138 2.204l-.873.873c-.624.623-1.558.898-2.428.592a15.725 15.725 0 01-5.915-3.73 15.725 15.725 0 01-3.73-5.915c-.307-.87-.032-1.804.592-2.428l.873-.873v.001z"
            stroke="#9ACA3C" />
    </svg><svg fill="none" viewBox="0 0 14 14" id="phone-dark" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M1.84.681a1.473 1.473 0 012.203.137l1.513 1.946c.279.357.377.822.267 1.26L5.36 5.872a.572.572 0 00.15.544l2.074 2.073a.572.572 0 00.544.15l1.847-.462a1.473 1.473 0 011.261.267l1.946 1.513c.7.544.764 1.578.138 2.204l-.873.873c-.624.623-1.558.898-2.428.592a15.725 15.725 0 01-5.915-3.73A15.725 15.725 0 01.375 3.98c-.307-.87-.032-1.804.592-2.428L1.84.68v.001z"
            fill="#222631" />
    </svg><svg fill="none" viewBox="0 0 40 40" id="play" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#bofilter0_d)" fill="#fff">
            <rect opacity=".2" x="4" width="32" height="32" rx="16" />
            <path d="M16.5 22V11l8.5 5.5-8.5 5.5z" />
        </g>
        <defs>
            <filter id="bofilter0_d" x="0" y="0" width="40" height="40" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg><svg viewBox="0 0 42 42" id="right-icon-button-slider-1" xmlns="http://www.w3.org/2000/svg">
        <path opacity=".2" fill="#8F96B0" d="M0 0h42v42H0z" />
        <path d="M17.5 29.75L26.25 21l-8.75-8.75v17.5z" />
    </svg><svg viewBox="0 0 24 24" id="scales" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.527 16.473l.223-.246V15.02L6.1 7.312H4.4L.75 15.02v1.267l.198.216a5.83 5.83 0 004.277 1.874h.02a5.83 5.83 0 004.282-1.904zm-1.277-.835a4.262 4.262 0 01-3.01 1.238h-.016a4.262 4.262 0 01-2.974-1.189v-.33l3-6.334 3 6.333v.282zM19.6 7.313h-1.7l-3.65 7.706v1.267l.198.216a5.829 5.829 0 004.277 1.874h.02a5.828 5.828 0 004.282-1.904l.223-.245V15.02L19.6 7.312zm2.15 8.325a4.262 4.262 0 01-3.01 1.238h-.016a4.261 4.261 0 01-2.974-1.189v-.33l3-6.334 3 6.333v.282z" />
        <path
            d="M12.75 7.578a2.636 2.636 0 001.765-1.765H19.5v-1.5h-4.985a2.625 2.625 0 00-5.03 0H4.5v1.5h4.985a2.635 2.635 0 001.765 1.765v12.484H6.375v1.5h11.25v-1.5H12.75V7.579zm-1.875-2.515a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" />
    </svg><svg viewBox="0 0 25 24" id="search" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.231 18.737l-3.8-3.801-2.924-1.208A8.203 8.203 0 0018 9C18 4.45 14.3.75 9.75.75S1.5 4.45 1.5 9s3.7 8.25 8.25 8.25a8.205 8.205 0 004.763-1.518l1.205 2.916 3.8 3.801a2.626 2.626 0 003.713-3.712zM3 9a6.758 6.758 0 016.75-6.75A6.758 6.758 0 0116.5 9a6.758 6.758 0 01-6.75 6.75A6.758 6.758 0 013 9zm19.17 12.388a1.126 1.126 0 01-1.59 0L16.99 17.8l-1.12-2.711 2.711 1.12 3.59 3.59a1.126 1.126 0 010 1.59z" />
    </svg><svg fill="none" viewBox="0 0 24 24" id="select" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.75 4.5h16.5V6H3.75V4.5zM9.493 11.25H20.25v1.5H9.493v-1.5zM16.015 18h4.235v1.5h-4.235V18z"
            fill="#8F96B0" />
    </svg><svg viewBox="0 0 24 24" id="selection" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.75 4.5h16.5V6H3.75V4.5zM9.493 11.25H20.25v1.5H9.493v-1.5zM16.015 18h4.235v1.5h-4.235V18z" />
    </svg><svg viewBox="0 0 15 16" id="shout" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12.906.998l-7.924 3.75H0v6.616l1.63 4.634h3.584l-1.455-4h1.12L12.974 16h2.023L15 .998h-2.094zm-8.406 10H2.749l.002 1.155 1.035 2.845H2.339l-1.34-3.805V5.748h3.5v5.25zm1.004-5.39L11 3.005v10.902l-5.496-2.717V5.607zM13.998 15h-.79L12 14.402V2.534l1.131-.535H14L13.998 15z" />
    </svg><svg viewBox="0 0 24 24" id="specifications" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.5 4h7v9.917l1-.167V3h-9v9.15l1 1.4V4zm0 14.333L7.5 19v2h9v-2.75l-1 .167V20h-7v-1.667zM8.745 16.299l-4.299 2.946-.848-1.237L6.66 15.91l-2.098-3.062L5.799 12l2.946 4.299z" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M16.5 6.489L21.29 4.5l.575 1.385L18.461 7.3l1.413 3.405-1.385.575-1.989-4.79z" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.412 5.755h1.08v1.5H7.59c-1.665.405-3.027 1.023-3.96 1.746-.953.739-1.379 1.519-1.379 2.249 0 .71.403 1.467 1.302 2.188.896.72 2.216 1.34 3.84 1.758l-.373 1.452c-1.763-.453-3.296-1.15-4.406-2.04C1.506 13.72.75 12.575.75 11.25c0-1.364.8-2.535 1.96-3.435 1.165-.903 2.773-1.602 4.617-2.04l.085-.02zM20.757 9.33c-.686-.644-1.71-1.23-3.004-1.68l.494-1.417c1.426.497 2.653 1.174 3.536 2.002.885.83 1.467 1.855 1.467 3.015 0 1.887-1.51 3.393-3.49 4.383-2.025 1.012-4.77 1.617-7.76 1.617v-1.5c2.808 0 5.314-.57 7.09-1.459 1.82-.91 2.66-2.028 2.66-3.041 0-.624-.308-1.279-.993-1.92z" />
    </svg><svg viewBox="0 0 24 24" id="stock" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.806 2.443L12 0 9.194 2.443l-3.682-.538-1.04 3.573-3.388 1.537 1.057 3.567-2.019 3.126 2.818 2.43-.01 3.72 3.685.52 2.004 3.136L12 21.96l3.382 1.554 2.004-3.135 3.684-.52-.01-3.722 2.819-2.43-2.02-3.125 1.058-3.567-3.389-1.537-1.04-3.573-3.681.538zm2.606 1.135l-3.071.45L12 1.988 9.659 4.027l-3.071-.449-.868 2.98-2.826 1.283.881 2.977-1.684 2.607 2.35 2.027-.007 3.104 3.074.434 1.672 2.616L12 20.308l2.82 1.296 1.672-2.615 3.074-.434-.008-3.104 2.351-2.027-1.684-2.607.881-2.977L18.28 6.56l-.868-2.98z" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.42 15.756l5.936-8.38 1.224.868-5.936 8.38-1.224-.868zM14.5 13.75a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9.5 8.75a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0z" />
    </svg><svg fill="none" viewBox="0 0 48 48" id="success" xmlns="http://www.w3.org/2000/svg">
        <circle cx="24" cy="24" r="24" fill="#9ACA3C" />
        <path
            d="M26.376 16.82V32h-2.75V20.692c0-.25.008-.499.022-.748.015-.25.052-.499.11-.748l-3.652 1.012-.352-1.848 3.872-1.54h2.75z"
            fill="#fff" />
        <circle cx="24" cy="24" r="23.5" fill="#fff" stroke="#9ACA3C" />
        <path d="M21.392 29.918l-6.53-6.122 1.026-1.094 5.47 5.128 10.737-10.736 1.06 1.06-11.763 11.764z"
            fill="#9ACA3C" />
    </svg><svg viewBox="0 0 15 15" id="suitcase" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M14.226 2.992H11V0H4.007v2.992H.79a.775.775 0 00-.774.774v10.438a.775.775 0 00.774.774h13.437a.775.775 0 00.774-.774V3.766a.775.775 0 00-.774-.774zM5.007 1H10v1.992H5.007V1zm8.945 3.04v2.509L12.29 8.21H8.031V6.75H6.983v1.46H2.724L1.063 6.55v-2.51h12.89zm-12.89 9.89v-5.9L2.29 9.259h4.693v1.476h1.048V9.258h4.694l1.227-1.227v5.9H1.062z" />
    </svg><svg fill="none" viewBox="0 0 23 19" id="telegram" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M21.481.373L1.551 8.01C.19 8.553.198 9.307 1.3 9.643l5.117 1.586 11.84-7.422c.56-.339 1.07-.157.65.214l-9.592 8.602h-.002l.002.001-.353 5.241c.517 0 .745-.236 1.035-.514l2.486-2.401 5.17 3.794c.953.522 1.637.254 1.875-.877l3.393-15.892c.348-1.384-.531-2.01-1.44-1.602z"
            fill="#62B6F3" />
    </svg><svg fill="none" viewBox="0 0 110 110" id="test-tube" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#cafilter0_d)">
            <rect x="15" y="10" width="80" height="80" rx="40" fill="#fff" />
            <g filter="url(#cafilter1_d)" fill-rule="evenodd" clip-rule="evenodd" fill="#9ACA3C">
                <path
                    d="M49.411 54.573H60.59c.084.423 6.35 9.483 6.435 9.907H42.806c.085-.424 4.234-6.436 4.912-7.452l1.609-2.455h.084zm3.641-5.505V35.605h3.896v13.464c0 .169.846 1.44 1.016 1.693.423.593.762 1.1 1.1 1.694h-8.213c.254-.508 2.117-3.133 2.117-3.388h.084zm-3.98-13.463h1.948V48.39c0 .17-1.1 1.694-1.27 2.032l-6.605 9.738c-.423.678-.847 1.27-1.27 1.948-.677 1.016-1.863 2.37-.508 3.726.339.338.762.677 1.44.677h24.471c1.44 0 2.71-1.694 1.524-3.387l-9.738-14.734V35.605h1.948v-2.032h-11.94v2.032z" />
                <path
                    d="M50.004 58.298c0 .678.17 1.27 1.016 1.27 1.524 0 1.44-2.201.085-2.201-.593 0-1.1.339-1.1.931zM52.968 61.262c0 .678.17 1.27 1.016 1.27 1.27 0 1.27-1.44.847-1.863-.593-.592-1.863-.423-1.863.593zM56.948 57.452c0 1.524 2.201 1.44 2.201.084 0-1.44-1.609-1.27-1.947-.846-.085.084-.254.508-.254.762z" />
            </g>
        </g>
        <defs>
            <filter id="cafilter0_d" x="0" y="0" width="110" height="110" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.560784 0 0 0 0 0.588235 0 0 0 0 0.690196 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="cafilter1_d" x="19" y="19" width="72" height="72" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="5" />
                <feGaussianBlur stdDeviation="7.5" />
                <feColorMatrix values="0 0 0 0 0.603922 0 0 0 0 0.792157 0 0 0 0 0.235294 0 0 0 0.3 0" />
                <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg><svg viewBox="0 0 24 18" id="three-tiles" xmlns="http://www.w3.org/2000/svg">
        <path d="M.75 0v18h22.5V0H.75zM15 1.5v15H9v-15h6zm-12.75 0H7.5v15H2.25v-15zm19.5 15H16.5v-15h5.25v15z" />
    </svg><svg viewBox="0 0 24 24" id="trash" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M4.5 22.125a1.117 1.117 0 001.105 1.125h12.79a1.117 1.117 0 001.105-1.125v-15h-15v15zM6 8.625h12V21.75H6V8.625z" />
        <path
            d="M7.875 10.125h1.5V19.5h-1.5v-9.375zM11.25 10.125h1.5V19.5h-1.5v-9.375zM14.625 10.125h1.5V19.5h-1.5v-9.375zM15.375 4.125v-2.25c0-.63-.445-1.125-1.012-1.125H9.637c-.567 0-1.012.494-1.012 1.125v2.25H3v1.5h18v-1.5h-5.625zm-5.25-1.875h3.75v1.875h-3.75V2.25z" />
    </svg><svg viewBox="0 0 24 18" id="two-tiles" xmlns="http://www.w3.org/2000/svg">
        <path d="M.75 0v18h22.5V0H.75zm21 1.5v6.75H2.25V1.5h19.5zm-19.5 15V9.75h19.5v6.75H2.25z" />
    </svg><svg viewBox="0 0 24 24" id="two-vert-tiles" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M22.706 3.429H1.282V20.57h21.424V3.43zm-1.428 15.714h-8.334V4.857h8.333v14.286zM2.71 4.857h8.805v14.286H2.71V4.857z" />
    </svg><svg viewBox="0 0 24 24" id="up" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.25 12.002C23.25 5.789 18.213.752 12 .752S.75 5.789.75 12.002 5.787 23.252 12 23.252s11.25-5.037 11.25-11.25zM5.106 18.896a9.715 9.715 0 1113.76-13.718 9.715 9.715 0 01-13.76 13.718z" />
        <path d="M16.268 12.78l1.06-1.06L12 6.391l-5.329 5.33 1.06 1.06 3.519-3.518v8.786h1.5V9.263l3.518 3.518z" />
    </svg><svg viewBox="0 0 24 24" id="user" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M17.615 16.287l-2.77-1.775 1.044-1.887c.244-.441.372-.935.372-1.437V8.2a4.17 4.17 0 00-1.248-2.97A4.292 4.292 0 0012 4c-1.13 0-2.214.442-3.013 1.23A4.17 4.17 0 007.74 8.2v2.988c0 .502.128.996.372 1.437l1.044 1.887-2.77 1.775a3.007 3.007 0 00-1.018 1.084c-.242.44-.368.931-.367 1.431V22h14v-3.198c.001-.5-.125-.992-.367-1.431a3.007 3.007 0 00-1.018-1.084zm.168 4.513H6.217v-1.998c0-.3.076-.595.22-.858.146-.264.356-.488.611-.65l3.716-2.381L9.18 12.05a1.785 1.785 0 01-.223-.862V8.2c0-.796.32-1.559.89-2.121A3.066 3.066 0 0112 5.2c.807 0 1.581.316 2.152.879.57.562.892 1.325.892 2.121v2.988c0 .301-.077.598-.224.862l-1.584 2.863 3.716 2.38c.255.163.465.387.61.65.145.264.221.56.22.86V20.8z" />
    </svg><svg viewBox="0 0 24 24" id="video-card" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M6.5 24H23V2H1v22h5.5zM18.967 3.517h2.566v1.897h-2.566V3.517zm0 3.414h2.566v1.897h-2.566V6.93zm0 3.414h2.566v1.896h-2.566v-1.896zm0 3.414h2.566v1.896h-2.566V13.76zm0 3.413h2.566v1.897h-2.566v-1.897zm0 3.414h2.566v1.897h-2.566v-1.897zM6.5 10.345V3.517h11v8.724h-11v-1.896zm0 10.241V13.76h11v8.724h-11v-1.897zM2.467 3.517h2.566v1.897H2.467V3.517zm0 3.414h2.566v1.897H2.467V6.93zm0 3.414h2.566v1.896H2.467v-1.896zm0 3.414h2.566v1.896H2.467V13.76zm0 3.413h2.566v1.897H2.467v-1.897zm0 3.414h2.566v1.897H2.467v-1.897z" />
    </svg><svg viewBox="0 0 32 32" id="vk" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="16" />
        <path
            d="M25.579 10.855c.14-.465 0-.806-.662-.806h-2.193c-.558 0-.813.295-.953.619 0 0-1.115 2.719-2.695 4.482-.51.513-.743.675-1.021.675-.139 0-.341-.162-.341-.627v-4.343c0-.558-.161-.806-.626-.806h-3.446c-.348 0-.558.258-.558.504 0 .528.79.65.871 2.138v3.228c0 .707-.127.836-.407.836-.743 0-2.551-2.729-3.624-5.853-.209-.607-.42-.852-.98-.852H6.752c-.627 0-.752.295-.752.619 0 .582.743 3.462 3.461 7.271 1.812 2.601 4.363 4.011 6.687 4.011 1.393 0 1.565-.313 1.565-.853v-1.966c0-.626.133-.752.574-.752.324 0 .882.164 2.183 1.417 1.486 1.486 1.732 2.153 2.567 2.153h2.192c.626 0 .939-.313.759-.931-.197-.615-.907-1.51-1.849-2.569-.512-.604-1.277-1.254-1.51-1.579-.325-.419-.231-.604 0-.976.001.001 2.672-3.761 2.95-5.04z"
            fill="#fff" />
    </svg><svg viewBox="0 0 24 24" id="whatsapp" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M17.152 14.234c-.282-.143-1.655-.813-1.911-.909-.257-.091-.443-.139-.63.143-.183.275-.722.904-.886 1.088-.165.183-.326.197-.604.073-.282-.143-1.183-.436-2.252-1.395-.836-.743-1.392-1.659-1.557-1.94-.165-.28-.018-.437.12-.576.129-.128.283-.322.426-.49.135-.17.179-.283.278-.465.091-.198.044-.352-.025-.491-.07-.14-.63-1.52-.864-2.07-.224-.545-.458-.475-.63-.475-.161-.015-.348-.015-.535-.015-.186 0-.49.07-.747.337-.257.282-.982.955-.982 2.318 0 1.366 1.004 2.688 1.143 2.885.143.183 1.973 2.996 4.782 4.204.67.282 1.19.451 1.597.59.67.213 1.282.183 1.765.114.534-.088 1.655-.678 1.89-1.337.238-.663.238-1.212.169-1.337-.07-.128-.253-.197-.535-.322l-.012.07zm-5.094 6.907h-.014A9.397 9.397 0 017.3 19.848l-.337-.201-3.515.915.945-3.42-.228-.352a9.257 9.257 0 01-1.42-4.93c0-5.104 4.178-9.268 9.32-9.268 2.49 0 4.826.97 6.584 2.728a9.182 9.182 0 012.728 6.556c-.007 5.1-4.182 9.265-9.316 9.265h-.004zm7.929-17.157C17.847 1.918 15.035.75 12.044.75 5.873.75.848 5.753.844 11.9a11.1 11.1 0 001.495 5.574L.75 23.25l5.94-1.549a11.342 11.342 0 005.354 1.358h.004c6.174 0 11.199-5.002 11.202-11.155 0-2.977-1.16-5.779-3.277-7.884l.014-.036z" />
    </svg>
</svg>