.date {
  &__form {
  }
  &__wrapper {
    display: flex;
    color: $black;
    align-items: center;
  }
  &__text {
    text-align: end;
    // width: 70%;
  }
  .Input {
    &__inp {
      margin-left: 10px;
			text-align: center;
    }
  }
}
