<div class="date">
	<form class="date__form Input">
		<label class="date__wrapper"> <span class="date__text">Дата начала</span> 
			<input class="Input__inp" type="text" id="calendar-one" name="date" placeholder="Выберите дату">
		</label>
	</form>
</div>