		<!-- TODO: Buttons-->
		
		<!-- !Accent-->
		<div class="gui-page__block-theme">
			<div class="gui-page__block-element">
				<a class="Button Button--lime Button--theme-xs" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#burger"></use>
						</svg>
					</span>
					<span class="Button__text">Каталог</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<a class="
              Button Button--green-gradient Button--theme-xs Button--theme-xs-n
            " href="">
					<span class="Button__text">К карте</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<button class="Button Button--lime Button--theme-xs Button--theme-xs-w">
					<span class="Button__text">Заказать</span>
				</button>
			</div>
			<div class="gui-page__block-element">
				<a class="Button Button--lime Button--theme-l" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#basket"></use>
						</svg>
					</span>
					<span class="Button__text">В корзину</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<button class="Button Button--lime Button--theme-s">
					<span class="Button__text">Применить</span>
				</button>
			</div>
			<div class="gui-page__block-element">
				<a class="Button Button--white Button--theme-s Button--theme-s-n" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#up"></use>
						</svg>
					</span>
					<span class="Button__text">Наверх</span>
				</a>
			</div>

			<div class="gui-page__block-element">
				<a class="Button Button--lime Button--theme-l Button--theme-l-w" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#basket"></use>
						</svg>
					</span>
					<span class="Button__text">В корзину</span>
				</a>
			</div>

			<a class="Button Button--white-black Button--theme-l Button--theme-l-n" href="#">
				<span class="Button__icon">
					<svg class="Button__icon-svg Button__icon-svg--left">
						<use class="Button__icon-svg-use" xlink:href="#entrance-doors"></use>
					</svg>
				</span>
				<span class="Button__text">Межкомнатные двери</span>
				<span class="Button__icon Button__icon--right">
					<svg class="
                Button__icon-svg
                Button__icon-svg--right
                Button__icon-svg--right-rotate
              ">
						<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
					</svg>
				</span>
			</a>
		</div>
		<!-- !Transparent-->
		<div class="gui-page__block-theme">
			<div class="gui-page__block-element">
				<a class="Button Button--lime-light Button--theme-m Button--theme-m-w" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#stock"></use>
						</svg>
					</span>
					<span class="Button__text">Товары с выгодой</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<a class="Button Button--lime-light Button--theme-m Button--theme-m-w" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#bestseller"></use>
						</svg>
					</span>
					<span class="Button__text">Хит продаж</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<a class="Button Button--lime-light Button--theme-m Button--theme-m-w" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#new"></use>
						</svg>
					</span>
					<span class="Button__text">Новинки</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<a class="Button Button--gray-light Button--theme-s Button--theme-s-w" href="#">
					<span class="Button__text">Посмотреть все</span>
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
						</svg>
					</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<a class="Button Button--lime-light Button--theme-m" href="#">
					<span class="Button__text">Все характеристики</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<a class="Button Button--lime-light Button--theme-m" href="#">
					<span class="Button__text">Показать различия</span>
				</a>
			</div>
			<div class="gui-page__block-element">
				<a class="Button Button--lime-light Button--theme-xl" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#entrance-doors"></use>
						</svg>
					</span>
					<span class="Button__text">Входные двери <span class="Button__text-counter">(9)</span></span>
					<span class="Button__icon">
						<svg class="Button__icon-svg-right">
							<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
						</svg>
					</span>
				</a>
			</div>
		</div>