.compares-options {
  &__btns {
		margin-top: 53px;
		.Button {
			&:not(:first-child) {
				margin-top: 10px;
			}
			&__text {
			}
			&--lime-light {
			}
			&--theme-m {
			}
		}
  }
  &__desc {
		display: flex;
		justify-content: flex-start;
  }
  &__desc-content {
  }
  &__desc-content-text {
  }
  &__desc-icon {
  }
  &__desc-icon-svg {
		width: 32px;
		height: 32px;
		fill: $gray;
		margin-right: 10px;
  }
  &__desc-icon-svg-use {
  }
  &__filter {
		.Radio-btn-default {
			&__inner-text {
			}
			&__input {
			}
			&__label {
			}
			&__text {
			}
		}
  }
  &__wrapper {
		width: 240px;
		height: 40%;
    display: flex;
    flex-direction: column;
		justify-content: space-between;
  }
}
