.Page-not-found {
  &__btn {
		display: flex;
		justify-content: center;
		@include adaptiv-value("margin-top", 30, 15, 1);
    .Button {
      &__text {

      }
      &--lime {
      }
      &--theme-s {
      }
    }
  }
  &__content-desc-btn {
		@include adaptiv-value("margin-top", 100, 50, 1);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
  }
  &__desc {
		text-align: center;
		position: relative;
		@include adaptiv-value("padding-top", 30, 15, 1);
		@include adaptiv-value("font-size", 28, 16, 1);
		line-height: 117%;
  }
  &__desc-text {
  }
  &__heading {
		color: $lime;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
  }
  &__subtitle {
		@include adaptiv-value("font-size", 48, 24, 1);
		line-height: 120%;
  }
  &__subtitle-text {

  }
  &__title {
		font-weight: 600;
		@include adaptiv-value("font-size", 288, 100, 1);
    line-height: 122%;
		text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  }
  &__title-text {

  }
  &__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include adaptiv-value("padding-top", 100, 30, 1);
		@include adaptiv-value("padding-bottom", 100, 30, 1);
		@include adaptiv-value("padding-left", 50, 20, 1);
		@include adaptiv-value("padding-right", 50, 20, 1);

  }
}
