@mixin display-value($value, $alignItem, $margin, $jContent) {
    display: $value;
    align-items: $alignItem;
    margin: $margin;
    justify-content: $jContent;
}


  
//   @include display($value, $alignItem, $margin, $jContent);