<div class="Contacts">
	<div class="Contacts__list">
		<div class="Contacts__list-item">
			<div class="Contacts__item-city">
				<div class="Contacts__item-content">
					<div class="Contacts__item-icon">
						<svg class="Contacts__item-icon-svg">
							<use class="Contacts__item-icon-svg-use" xlink:href="#location"></use>
						</svg>
					</div>
					<div class="Contacts__item-information">
						<a class="Contacts__item-information-link" href="#">
							г. Анапа
						</a>
					</div>
				</div>
			</div>

			<div class="Contacts__item-title">
				<h3 class="Contacts__item-title-text">
					ул. Владимирская 101 А, корпус 3
				</h3>
			</div>

			<div class="Contacts__block-info">
				<div class="Contacts__item-content">
					<div class="Contacts__item-icon">
						<svg class="Contacts__item-icon-svg">
							<use class="Contacts__item-icon-svg-use" xlink:href="#phone"></use>
						</svg>
					</div>
					<div class="Contacts__item-information">
						<a class="Contacts__item-information-link" href="tel:8(918)438-66-55">
							8 (918) 438-66-55
						</a>
					</div>
				</div>

				<div class="Contacts__item-content">
					<div class="Contacts__item-icon">
						<svg class="Contacts__item-icon-svg">
							<use class="Contacts__item-icon-svg-use" xlink:href="#clock"></use>
						</svg>
					</div>
					<div class="Contacts__item-information">
						<p>пн-пт: 09.00 - 19.00</p>

						<p>сб-вс: 10.00 - 18.00</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>