.mg-add-store {
    &__container {}
    .mg-table {
        &__header {
            .mg-table {
                &__headlines {
                    &:nth-child(1) {
                        max-width: 16.774%;
                    }
                    &:nth-child(2) {
                        max-width: 19.375%;
                    }
                    &:nth-child(3) {
                        max-width: 19.053%;
                    }
                    &:nth-child(4) {
                        max-width: 19.053%;
                    }
                    &:nth-child(5) {
                        max-width: 18.191%;
                        @include adaptiv-value(padding-left, 7, 5, 1);
                    }
                    &:nth-child(6) {
                        max-width: 7.535%;
                        @include adaptiv-value(padding-left, 7, 5, 1);
                    }
                }
                &__title {}
            }
        }
        &__body {
            min-height: 72px;
            &-container {
                height: 408px;
                overflow-y: scroll;
            }
            &-container::-webkit-scrollbar {
                width: 3px;
                height: 3px;
            }
            &-container::-webkit-scrollbar-track {
                background-color: inherit;
            }
            &-container::-webkit-scrollbar-thumb {
                background-color: $checkbox-off;
                border-radius: 5px;
            }
            .mg-table {
                &__subtitle {
                    &:nth-child(1) {
                        max-width: 16.774%;
                    }
                    &:nth-child(2) {
                        max-width: 19.375%;
                    }
                    &:nth-child(3) {
                        max-width: 19.053%;
                    }
                    &:nth-child(4) {
                        max-width: 19.053%;
                    }
                    &:nth-child(5) {
                        max-width: 18.191%;
                        @include adaptiv-value(padding-left, 7, 5, 1);
                    }
                    &:nth-child(6) {
                        max-width: 7.535%;
                        @include adaptiv-value(padding-left, 7, 5, 1);
                    }
                }
                &__title {
                    width: 100%;
                }
            }
        }
    }
}