.mg-comments-box {
    &__container {}
    .Input {
        &__label {
            &-text {
                color: $black-default;
            }
        }
        &__inp {
            @include adaptiv-value("width", 530, 150, 1);
        }
        &:last-child {
            width: 100%;
            .Input__label {
                width: 100%;
                justify-content: end;
            }
            .comments__textarea {
                @include adaptiv-value("width", 530, 150, 1);
                min-height: 126px;
                // margin-left: 20px;
                &::placeholder {
                    color: $gray;
                    opacity: 0.6;
                }
            }
        }
    }
    .ordering-page__form {
        margin-bottom: 40px;
    }
}