<div class="Card-product-aflat">

	<div class="Card-product-aflat__wrapper">
		<div class="Card-product-aflat__inner-Badges-img">
			<div class="Card-product-aflat__box-Badges-img">
				<div class="Badges">
					<div class="Badges__offer">




						<span class="Badges__offer-discount">-45%</span>
						<span class="Icon Icon--lime Icon--theme-m">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#new"></use>
								</svg>
							</div>
						</span>
						<span class="Icon Icon--gray  Icon--theme-m">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#bestseller"></use>
								</svg>
							</div>
						</span>
						<span class="Icon Icon--gray  Icon--theme-m">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#flame"></use>
								</svg>
							</div>
						</span>



						<div class="Badges__offer-last">
							<span class="Icon  Icon--gray Icon--theme-m">
								<div class="Icon__content">
									<svg class="Icon__svg">
										<use class="Icon__svg-use" xlink:href="#video-card"></use>
									</svg>
								</div>
							</span>
						</div>

					</div>
					<div class="Badges__interaction">

						<span class="Icon Icon--gray Icon--theme-m Icon-like Icon-like-js">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#like"></use>
								</svg>
							</div>
						</span>
						<span class="Icon Icon--gray Icon--theme-m Icon-scales Icon-scales-js">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#scales"></use>
								</svg>
							</div>
						</span>

						<div class="Badges__interaction-last">
							<a class="Button Button--lime-light Button--theme-s Button--theme-s-n " href="#popup-non-standard-model" data-fancybox-window="">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#feature"></use>
									</svg>
								</span>
							</a>
						</div>


					</div>
				</div>
				<div class="Card-product-aflat__block-img">



					<a class="Card-product-aflat__link" href="#">
						<img class="Card-product-aflat__img" src="/img/card-product-2.png" alt="">
					</a>
				</div>
				<div class="Card-product-aflat__block-have-info Card-product-aflat__block-have-info-js">
					<div class="Card-product-aflat__have-info-heading">
						<h3 class="Card-product-aflat__have-info-heading-text">
							Ожидаемая дата прихода:
						</h3>
						<span class="Card-product-aflat__have-info-heading-decor">
							20.12.2020 - 10 шт
						</span>
					</div>
					<div class="Card-product-aflat__have-info-title">
						<h3 class="Card-product-aflat__have-info-title-text">
							2 дилера в очереди
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="Card-product-aflat__info">


			<div class="Card-product-aflat__heading">
				<div class="Card-product-aflat__title">
					<h3 class="Card-product-aflat__title-text">Волна на span</h3>
				</div>
				<div class="Card-product-aflat__subtitle">
					<span class="Card-product-aflat__subtitle-text">Итальянский орех</span>
					<span class="Card-product-aflat__subtitle-text">Ламинированные двери</span>
				</div>


			</div>

			<div class="Card-product-aflat__inner">
				<div class="Card-product-aflat__have">
					<span class="Card-product-aflat__have-text">В наличии: &gt;100 </span>

					<button
						class="Card-product-aflat__have-icon Icon Icon--gray  Icon--theme-m Card-product-aflat__have-icon-js">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#information-have"></use>
							</svg>
						</div>
					</button>

				</div>
				<div class="Card-product-aflat__block-specification">
					<form action="" class="Card-product-aflat__form-specification">
						<div class="Card-product-aflat__type-specification Radio-btn">
							<p class="Card-product-aflat__type-specification-text">Тип</p>

							<label><input type="radio" name="radio" value="" disabled=""> <span>ДГ</span></label>
							<label><input type="radio" name="radio" value="" checked=""> <span>ДЧ</span></label>
							<label><input type="radio" name="radio" value="" disabled=""> <span>ДО</span> </label>
						</div>
						<div class="Card-product-aflat__size-specification Radio-btn">
							<p class="Card-product-aflat__size-specification-text">Размер</p>

							<label>
								<input type="radio" name="radio" value="" disabled="">
								<span>40</span>
							</label>
							<label>
								<input type="radio" name="radio" value="">
								<span>60</span>
							</label>
							<label>
								<input type="radio" name="radio" value="">
								<span>70</span>
							</label>
							<label>
								<input type="radio" name="radio" value="" disabled="">
								<span>80</span>
							</label>
							<label>
								<input type="radio" name="radio" value="" disabled="">
								<span>90</span>
							</label>
						</div>
					</form>
				</div>
			</div>

			<div class="Palette">
				<div class="Palette__color-selection">
					<ul class="Palette__list-color-selection">
						<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img" src="img/blue.jpg" alt="blue">
							</span>
						</li>
						<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img" src="img/orange.jpg" alt="blue">
							</span>
						</li>
						<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img" src="img/blue.jpg" alt="blue">
							</span>
						</li>
						<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img" src="img/blue.jpg" alt="blue">
							</span>
						</li>
						<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img" src="img/blue.jpg" alt="blue">
							</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="Card-product-aflat__box-price-btns">
			<div class="Card-product-aflat__block-info">

				<div class="Card-product-aflat__price">

					<div class="Card-product-aflat__retail-price">
						<div class="Card-product-aflat__retail-price-title">
							<h4 class="Card-product-aflat__retail-price-title-text">
								Розничная цена
							</h4>
						</div>
						<div class="Card-product-aflat__block-retail-price-value">
							<span class="Card-product-aflat__retail-price-value"> 1 145 ₽ </span>
							<span class="Card-product-aflat__retail-price-value-old"> 18 818₽ </span>
						</div>
					</div>


					<div class="Card-product-aflat__trade-price">
						<div class="Card-product-aflat__trade-price-title">
							<h4 class="Card-product-aflat__trade-price-title-text">
								Оптовая цена
							</h4>
						</div>
						<div class="Card-product-aflat__block-trade-price-value">
							<span class="Card-product-aflat__trade-price-value"> 1 145 ₽ </span>
							<span class="Card-product-aflat__trade-price-value-old"> 18 818₽ </span>
						</div>
					</div>

					<div class="Card-product-aflat__your-price">
						<div class="Card-product-aflat__your-price-title">
							<h4 class="Card-product-aflat__your-price-title-text">
								Ваша цена
							</h4>
						</div>
						<div class="Card-product-aflat__block-your-price-value">
							<span class="Card-product-aflat__your-price-value"> 1 145 ₽ </span>
							<span class="Card-product-aflat__your-price-value-old"> 18 818₽ </span>
						</div>
					</div>

				</div>


				<div class="Card-product-aflat__block-instruments-mobile instruments-mobile-Card-product-aflat">

					<div class="instruments-mobile-Card-product-aflat__block-left">
						<a class="Icon Icon--gray Icon--theme-m">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#like"></use>
								</svg>
							</div>
						</a>
						<a class="Icon Icon--gray Icon--theme-m">
							<div class="Icon__content">
								<svg class="Icon__svg">
									<use class="Icon__svg-use" xlink:href="#scales"></use>
								</svg>
							</div>
						</a>
					</div>

					<div class="instruments-mobile-Card-product-aflat__block-right">

						<a class="Button Button--lime-light Button--theme-s  " href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#feature"></use>
								</svg>
							</span>
						</a>

						<a class="Button Button--lime-light Button--theme-s  " href="#">
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#basket"></use>
								</svg>
							</span>
						</a>

					</div>

				</div>


			</div>
			<div class="Card-product-aflat__btns">

				<div class="Card-product-aflat__btn-by-click">
					<a class="Button Button--lime-light Button--theme-l" href="#">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#click"></use>
							</svg>
						</span>
						<span class="Button__text">Купить в 1 клик</span>
					</a>
				</div>
				<div class="Card-product-aflat__btn-whatsapp">
					<a class="Button Button--lime-light Button--theme-l" href="#">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#whatsapp"></use>
							</svg>
						</span>
						<span class="Button__text">WhatsApp</span>
					</a>
				</div>
				<div class="Card-product-aflat__btn-basket">
					<a class="Button Button--lime-light Button--theme-l" href="#">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#basket"></use>
							</svg>
						</span>
						<span class="Button__text">В корзину</span>
					</a>
				</div>

			</div>
		</div>
	</div>

</div>