.Card-product-aflat {
  min-height: 208px;
  &__block-img {
    position: relative;
  }
  &__box-Badges-img {
    display: flex;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-price-btns {
    flex: 1 1 26.27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__block-img {
    height: 208px;
  }
  &__info {
    flex: 1 1 44%;
    padding: 16px 30px 24px 30px;
    border-left: 1px solid $gray-border;
    border-right: 1px solid $gray-border;
    .Palette {
      display: flex;
      margin-top: 16px;
      align-items: center;
      &__title {
        flex: auto;
      }
      &__color-selection {
        margin-left: 5px;
        width: 100%;
      }
      &__list-color-selection {
        display: grid;
        grid-template-columns: repeat(auto-fill, 22px);
        grid-auto-rows: 22px;
        gap: 10px;
        width: 100%;
      }

      &__item-color-selection {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__inner-Badges-img {
    flex: 1 1 33.7%;
    @include adaptiv-value("padding-top", 15, -10, 1);
    @include adaptiv-value("padding-bottom", 15, -10, 1);
    @include adaptiv-value("padding-left", 30, -10, 1);
    @include adaptiv-value("padding-right", 30, -10, 1);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  background: $bg;
  transition: $transition;

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__block-instruments-mobile {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $gray-border;
    padding: 16px 10px;
    opacity: 0;
    visibility: hidden;
  }

  &__block-specification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__badges-discount {
    border-radius: 2px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    background: #d84040;
  }

  &__block-retail-price-value,
  &__block-trade-price-value,
  &__block-your-price-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
  }
  &__retail-price,
  &__trade-price,
  &__your-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $lime;
  }
  &__btn-specifications {
    position: absolute;
    right: 0;
    top: 0;

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 42px;
      }
    }
  }

  &__btn-feature {
    position: absolute;
    right: 0;
    bottom: 0;

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 42px;
      }
    }
  }

  &__btn-basket,
  &__btn-by-click,
  &__btn-whatsapp {
    &:not(:first-child) > .Button {
      border-top: none;
    }

    .Button--theme-l {
      width: 100%;
      padding: 10px;
      min-height: 52px;
    }
    .Button__icon {
      margin-right: 8px;
    }

    .Button--lime-light .Button__text {
      color: $black;
    }
  }

  &__container-img {
    @include adaptiv-value("margin-top", 20, 12, 1);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
  }

  &__form-specification {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .Radio-btn {
      align-items: center;
    }
  }

  &__have {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    background: #f9faff;
    margin: 0 -30px;
    padding: 0 30px;
    font-weight: 600;
  }

  &__have-icon {
    display: none;
    margin-left: 12px;
  }

  &__have-info-heading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__have-info-heading-decor {
    font-weight: 600;
  }

  &__have-info-heading-text {
    text-align: center;
  }

  &__have-info-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-top: 1px solid $gray;
    padding-top: 5px;
    width: 100%;
  }

  &__heading {
    position: relative;
  }

  &__inner {
    margin-top: 15px;
  }

  &__size-specification {
    margin-top: 5px;

    & label span {
      padding: 4px;
    }
  }
  &__type-specification {
    margin-right: 20px;
    margin-top: 5px;
  }
  &__subtitle {
    @include adaptiv-value("margin-top", 5, 0, 1);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__subtitle-text {
    @include adaptiv-value("font-size", 16, 12, 1);
    @include adaptiv-value("line-height", 19, 14, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include adaptiv-value("width", 450, 10, 1);
    text-align: left;
  }

  &__title {
  }

  &__title-text {
    @include adaptiv-value("font-size", 22, 14, 1);
    @include adaptiv-value("line-height", 26, 17, 1);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include adaptiv-value("width", 450, 10, 1);

    font-weight: 600;
    text-align: left;
    color: $black;
  }

  &__price {
    @include adaptiv-value("padding-top", 19, 10, 1);
    @include adaptiv-value("padding-bottom", 19, 10, 1);
    @include adaptiv-value("padding-left", 30, -10, 1);
    @include adaptiv-value("padding-right", 30, -10, 1);
    :not(:first-child) {
      margin-top: 8px;
    }
  }
  &__block-have-info {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray;
    border-radius: 6px;
    padding: 5px 10px;
    width: 235px;
    background: $gray-bg;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  &__retail-price-value-old,
  &__trade-price-value-old,
  &__your-price-value-old {
    margin-left: 5px;
    text-decoration: line-through;
  }
}