<div class="comments">
	<div class="comments__wrapper">
		<form class="comments__form" action="handler.php">
			<p><textarea class="comments__textarea" name="comment"></textarea></p>
		</form>
	</div>
</div>