.comments {
  &--select {
    .comments {
			&__textarea {
				border: 2px solid $lime;
			}
    }
  }

  &__form {
    width: 100%;
  }
  &__textarea {
    border: 2px solid #e3e6f3;
    padding: 10px;
    width: 100%;
    height: 120px;
    resize: none;
  }
}
