<div class="swiper-container popup-interior-door__swiper-container _bs" id="popup-interior-door" style="display: none">
	<div class="swiper-wrapper popup-interior-door__wrapper-slide">

		<div class="swiper-slide popup-interior-door__slide">
			<div class="popup-interior-door popup-interior-door--one">
				<div class="popup-interior-door__wrapper pick-up-classic">
					<div class="popup-interior-door__header">
						<div class="popup-interior-door__heading">
							<div class="popup-interior-door__title">
								<h3 class="popup-interior-door__title-text">
									Классик
								</h3>
							</div>
							<div class="popup-interior-door__subtitle">
								<span class="popup-interior-door__subtitle-text">
									Итальянский орех
								</span>
							</div>
						</div>
					</div>
					<div class="popup-interior-door__body">
						<ul class="popup-interior-door__list">
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"> <span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js valuePopup"
													type="number" value="1" min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"> <span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
						</ul>
						<div class="popup-interior-door__total">
							<div class="popup-interior-door__total-title">
								<h3 class="popup-interior-door__total-title-text">
									Итого:
								</h3>
							</div>
							<div class="popup-interior-door__total-value">
								<span class="popup-interior-door__total-value-text">
									<span data-popup-total>12 475</span>
									₽
								</span>
							</div>
						</div>
					</div>
					<div class="popup-interior-door__footer">
						<div class="popup-interior-door__btn">
							<button id="disss"
								class="Button Button--lime Button--theme-xs Button--theme-xs-w popup-swiper-btn-next-js popup__disabled"
								href="#">
								<span class="Button__text">Погонаж</span>
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow"></use>
									</svg>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide popup-interior-door__slide">
			<div class="popup-interior-door popup-interior-door--two">
				<div class="popup-interior-door__wrapper pick-up-molding">
					<div class="popup-interior-door__header">
						<div class="popup-interior-door__heading">
							<div class="popup-interior-door__title">
								<h3 class="popup-interior-door__title-text">
									Подобрать погонаж
								</h3>
							</div>
						</div>
					</div>
					<div class="popup-interior-door__body">

						<ul class="popup-interior-door__list">
							<li class="popup-interior-door__body-checkbox">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text">Мне не нужен погонаж</span>
										</span>
									</label>
								</div>
							</li>
							<li class="popup-interior-door__list-title">
								<h3 class="popup-interior-door__list-title-text">
									Классический погонаж
								</h3>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number"
													value="12" min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__list-title">
								<h3 class="popup-interior-door__list-title-text">
									Телескопический погонаж
								</h3>
							</li>
							<li class="popup-interior-door__item ">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
							<li class="popup-interior-door__item">
								<div class="Checkbox Checkbox--default">
									<label class="Checkbox__label">
										<input type="checkbox" class="Checkbox__input">
										<span class="Checkbox__inner-text">
											<span class="Checkbox__text--active">2000х700 Классик</span>
											<span class="Checkbox__text">Итальянский орех</span>
										</span>
									</label>
								</div>
								<div class="popup-interior-door__Counter Counter">
									<div class="popup-interior-door__counter-title Counter__value">
										<span class="popup-interior-door__counter-title-text Counter__value-text"><span
												data-popup-counter>1200</span>
											₽</span>
									</div>
									<div class="Counter__container">
										<div class="Counter__content">
											<button class="Counter__button Counter__button--js-reduction"
												data-decrement="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-left" class="Counter__use"></use>
												</svg>
											</button>
											<div class="Counter__block-input">
												<input class="Counter__input Counter__input--js" type="number" value="1"
													min="1" max="99" step="1">
												<span class="Counter__dimension">10 в наличии</span>
											</div>
											<button class="Counter__button Counter__button--js-increase"
												data-increment="">
												<svg class="Counter__svg">
													<use xlink:href="#arrow-right" class="Counter__use"></use>
												</svg>
											</button>
										</div>
									</div>


								</div>
							</li>
						</ul>


						<div class="popup-interior-door__total">
							<div class="popup-interior-door__total-title">
								<h3 class="popup-interior-door__total-title-text">
									Итого:
								</h3>
							</div>
							<div class="popup-interior-door__total-value">
								<span class="popup-interior-door__total-value-text">
									<span data-popup-total>12 475</span>
									₽
								</span>
							</div>
						</div>
					</div>
					<div class="popup-interior-door__footer">
						<div class="popup-interior-door__btn">
							<button
								class="Button Button--gray-light Button--theme-xs Button--theme-xs-w popup-swiper-btn-prev-js"
								href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
									</svg>
								</span>
								<span class="Button__text">Полотно</span>
							</button>
							<button class="Button Button--lime Button--theme-xs Button--theme-xs-w popup__disabled"
								href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#basket-2"></use>
									</svg>
								</span>
								<span class="Button__text">В корзину</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide popup-interior-door__slide">
			<div class="popup-interior-door popup-interior-door--three">
				<div class="popup-interior-door__wrapper">
					<div class="popup-interior-door__content-add-basket">
						<div class="popup-interior-door__title">
							<h3 class="popup-interior-door__title-text">Товар добавлен в корзину</h3>

						</div>
						<div class="popup-interior-door__btn-add">
							<a class="Button Button--lime Button--theme-s Button--theme-s-n" href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#basket"></use>
									</svg>
								</span>
								<span class="Button__text">Перейти в корзину</span>
							</a>
						</div>
					</div>
					<div class="popup-interior-door__content-add-other">
						<div class="popup-interior-door__title">
							<h3 class="popup-interior-door__title-text">Добавить фурнитуру</h3>

						</div>
						<div class="popup-interior-door__btn-add">
							<a class="Button Button--lime-light Button--theme-s Button--theme-s-n" href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#basket-3"></use>
									</svg>
								</span>
								<span class="Button__text">Перейти в каталог</span>
							</a>
							<a class="Button Button--lime-light Button--theme-s Button--theme-s-n" href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#suitcase"></use>
									</svg>
								</span>
								<span class="Button__text">Мастер подбора</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>