.popup-interior-door {
  @include adaptiv-value("padding-top", 30, 26, 1);
  @include adaptiv-value("padding-bottom", 50, 29, 1);
  @include adaptiv-value("padding-right", 75, 20, 1);
  @include adaptiv-value("padding-left", 75, 20, 1);
	background: $white;

  max-width: 480px;
  width: 100%;

  background: #eeeff7;
	&--one {
  }
	&--two {
		.popup-interior-door__body {
			// height: 300px;
		}
	}
  &__list-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 122%;
    padding: 0 30px;
    color: $black;
    text-align: center;
  }
  &__body-title-text {
  }
  &__body {
  }
  &__body-checkbox {
    padding: 0 30px;
    // @include adaptiv-value("margin-top", 52, 20, 1);
  }

  &__Counter {
    margin-top: 27px;
    display: flex;
    align-items: center;
    display: none;
  }
  .Counter {
    &__content {
      margin-left: 5px;
    }
    &__value {
      flex-shrink: 0;
    }
    &__dimension {
      position: relative;
      margin-left: 20px;
      text-align: center;
    }
    &__dimension::before {
      content: "/";
      position: absolute;
      left: -10%;
      top: 50%;
      display: block;
      transform: translate(-50%, -50%);
    }
    &__value-text {
      color: $black;
      font-weight: 600;
    }
  }
  .Checkbox {
    &__inner-text {
      display: inline-flex;
      flex-direction: column;
    }
    &__text {
      @include adaptiv-value("font-size", 16, 14, 1);
    }
  }
  &__body {
  }
  &__btn {
    margin-top: 50px;
    .Button {
      &__icon-svg {
        margin: 0;
        margin-left: 10px;
      }
    }
  }
  &__counter-title {
  }
  &__counter-title-text {
  }
  &__footer {
    .popup-interior-door__btn {
      .Button {
        &__icon-svg {
          margin-right: 10px;
        }
      }
    }
  }
  &__header {
  }
  &__heading {
    text-align: center;
    color: $black;
  }
  &__item {
    &:not(:first-child) {
      margin-top: 30px;
    }
    &--active {
      background: $white;
      padding: 20px 30px;
      &:not(:first-child) {
        margin-top: 30px;
      }
      .Checkbox__text--active {
        color: $black;
        @include adaptiv-value("font-size", 18, 16, 1);
      }
      .popup-interior-door__Counter {
        display: flex;
      }
    }
  }
  &__list {
    margin-top: 35px;
    min-height: 150px;
    max-height: 409px;
    overflow-y: auto;
    padding: 0 30px;
    &--no-scroll {
      overflow-y: hidden;
    }
  }
  &__slide {
  }
  &__subtitle {
  }
  &__subtitle-text {
  }
  &__swiper-container {
  }
  &__title {
    @include adaptiv-value("font-size", 28, 22, 1);
    font-weight: 600;
    line-height: 121%;
  }
  &__title-text {
  }
  &__total {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__total {
    color: $black;
    display: flex;
    align-items: center;
  }
  &__total-title {
    font-size: 22px;
  }
  &__total-title-text {
  }
  &__total-value {
    margin-left: 5px;
    font-size: 28px;
    line-height: 118%;
    font-weight: 600;
  }
	&__list-title {
		margin-top: 30px;
	}
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__wrapper-slide {
    max-width: 480px;
  }
  &__wrapper-slide {
  }
	&__btn-add {
    margin-top: 15px;
    .Button {
      &--theme-s-n {
        @include adaptiv-value("width", 206, 250, 1);
        @include adaptiv-value("height", 42, 50, 1);
      }
      &__icon-svg {
        margin-right: 10px;
      }
    }
  }
  &__content-add-basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__content-add-other {
    border-top: 1px solid $gray-border;
    margin-top: 35px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .popup-interior-door__btn-add {
      display: flex;
      justify-content: center;
      flex-direction: column;
      & > .Button:not(:first-child) {
        margin-top: 10px;
      }
    }


  }
  &__title {
    font-size: 18px;
    color: $black;
    line-height: 122%;
  }

  ::-webkit-scrollbar {
    width: 4px; /* ширина для вертикального скролла */
    height: 4px; /* высота для горизонтального скролла */
    background-color: transparent;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $lime;
    cursor: pointer;
  }

  /* Стрелки */

  ::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
  }

  ::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
  }

  ::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
  }
}

/* diable */

.popup__disabled {
  pointer-events: none;
  background-color: $gray-bg !important;
  .Button__text{
    color: $gray !important;
  }
  .Button__icon-svg{
    fill: $gray;

  }

}
