.catalog-page {
  margin-top: 30px;

  .Bread-crumbs {
    margin-left: 2%;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__item-content {
  }

  &__item-heading {
  }

  &__item-image {
    position: relative;
    overflow: hidden;
    padding-top: 110%;
    transition: $transition;
  }

  &__item-link {
    font-size: 16px;
  }

  &__item-overlay {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 80%;
    height: 120px;
    text-overflow: ellipsis;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%);
    transition: $transition;
  }

  &__item-title {
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 27, 16, 1);

    overflow: hidden;
    font-weight: 600;
    line-height: 31px;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-gap: 10px 5px;
    grid-template-columns: repeat(3, 33%);
    margin-top: 10px;
  }

  &__list-item {
    position: relative;
    transition: $transition;
    cursor: pointer;

    &:hover > .catalog-page__item-overlay {
      opacity: 1;
      visibility: visible;
      transition: $transition;
    }

    &:hover > .catalog-page__item-content {
      filter: brightness(0.6);
      transition: $transition;
    }
  }

  &__wrapper {
  }
}
