// .section-products__slide {
//   .Card-product {
//     &__block-img {
//       padding: 50%;
//       .Badges {
//         .Pos--centerXY {
//           left: 20%;
//           top: 60%;
//         }
//       }
//     }
//     &__block-img--active {
//       padding-bottom: 34%;
// 			margin-bottom: 40px;
//     }
//     &__img {
//       transform: translateX(22%);
//       width: 70%;
//       &--active {
//         transform: translateX(35%);
//         width: 60%;
//       }
//     }
//   }
// }
