.partners-page {
  .Title {
    @include adaptiv-value("margin-top", 30, 20, 1);

    &__wrapper {
      &--quartz {
      }

      &--theme-m {
      }
    }
  }

  .Button {
    margin-top: 20px;

    &--theme-s {
      @include adaptiv-value("min-height", 50, 42, 1);

      width: 189px;
    }
  }

  &__button-call {
    display: flex;
    justify-content: center;
  }
}
