.profile-agent {
    &__title {
        &-elms {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            & button {
                min-height: 52px;
                &:nth-child(1) {
                    max-width: 52px;
                }
                &:nth-child(2) {
                    @include adaptiv-value('width', 240, 52, 1);
                    margin-left: 10px;
                    .Button {
                        &__text {
                            display: flex;
                            align-items: center;
                        }
                        &__icon-svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    &:hover {
                        .Button__icon-svg {
                            fill: $lime;
                        }
                    }
                }
            }
        }
    }
    .ordering-page {
        &__wrapper {
            grid-template-columns: 3.13fr 1fr;
        }
    }
}

.position {
    &--between {
        justify-content: space-between;
    }
}

.mg-popup__img {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 56646848;
    top: 50%;
    transform: translate(0%, -50%);
    .popup-img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.anchor{
    &-block{
        display: block;
        border-top: 135px solid transparent;
        margin-top: -135px;
        &:first-child{
            border-top: 155px solid transparent;
            margin-top: -155px;
        }
    }
}