.status-products {
  .Anchor-products {
    @include adaptiv-value("margin-top", 45, 22, 1);
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiv-value("margin-top", 30, 20, 1);
  }
  &__bread-crumbs {
    padding-top: 20px;
  }
  &__list {
  }
  &__list-item {
    &:not(:first-child) {
      @include adaptiv-value("padding-top", 100, 10, 1);
    }
  }
  &__list-item-title {
    .Title {
      @include adaptiv-value("margin-top", 50, 40, 1);
      &__text {
        margin-right: 10px;
      }
      &__decor {
        color: $gray;
      }
      &__wrapper {
        &--quartz {
        }
        &--theme-m {
          display: inline-flex;
        }
      }
    }
  }
  &__list-card-product {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    @include adaptiv-value("margin-top", 30, 20, 1);
  }
  &__nav {
  }
  &__title {
  }
  &__tabs {
    .Catalog {
      &__block-list-product {
        width: 100%;
      }
      &__list-product {
        display: inline-flex;
				align-items: center;
      }
      &__list-product-second-level {
        left: 0;
        // opacity: 1;
        // visibility: visible;
        top: 65px;
        left: 50%;
        transform: translate(-50%);
      }
      &__list-product-second-level-item {
        @include adaptiv-value("width", 330, 150, 1);
      }
      &__list-item-product {
        &:not(:last-child) {
          margin-right: 10px;
        }
        .Button {
          &__text {
            @include adaptiv-value("font-size", 18, 14, 1);
          }
          &--theme-l-n {
            @include adaptiv-value("width", 330, 150, 1);
            min-height: 64px;
          }
          &__icon-svg {
            // &--rotate {
            // 	transform: rotate(90deg);
            // }
          }
        }

        .Button--theme-l .Button__icon--right {
          margin-left: 10px;
        }
        &:hover
          > .Button:not(:disabled)
          .Button__icon
          .Button__icon-svg--right-rotate {
          transform: rotate(90deg);
        }
      }
      &__list-product-third-level {
        left: 102%;
      }
      &__list-product-third-level-item {
        @include adaptiv-value("width", 330, 150, 1);
      }
      .Catalog__list-product > li:not(:first-child) {
        margin-top: 0;
      }
    }
  }
  &__wrapper {
    @include adaptiv-value("padding-top", 30, 23, 1);
    @include adaptiv-value("padding-bottom", 100, 55, 1);
  }
}
