<div class="Anchor-products">
	<div class="Anchor-products__wrapper">
		<nav class="Anchor-products__nav">
			<ul class="Anchor-products__nav-list">
				<li class="Anchor-products__nav-item">
					<a href="#status-products__list-item-interior"
						class="Anchor-products__link Link Link--black-decor">Межкомнатные двери</a>
				</li>
				<li class="Anchor-products__nav-item">
					<a href="#status-products__list-item-entrance" class="Anchor-products__link Link Link--black-decor">Входные
						двери</a>
				</li>
				<li class="Anchor-products__nav-item">
					<a href="#status-products__list-item-fittings"
						class="Anchor-products__link Link Link--black-decor">Фурнитура</a>
				</li>
			</ul>
		</nav>
	</div>

</div>