.popup-warning {
	padding: 35px 28px 28px 28px;
	max-width: 500px;
	min-height: 160px;
	background: $white;
	max-height: 770px;
	&__btn {
		margin-top: 35px;
		

		.Button--theme-s {
			width: 155px;
			min-height: 42px;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
  &__title {
  }
  &__title-text {
		font-size: 18px;
		color: $black;
		text-align: center;
		font-weight: 600;

  }
  &__wrapper {
  }
	&__icon {
		pointer-events: none;
		.Icon {
			&__svg {
				width: 62px;
				height: 62px;
			}
		}
	}
	&__sub-title {
		color: $black;
		text-align: center;
	}
}
