<div class="popup-warning _bs" id="popup-warning" style="display: none">
	<div class="popup-warning__wrapper _fx-col-sb">
		<div class="popup-warning__icon _fx-row-c">
			<span class="Icon Icon--red  Icon--theme-m">
				<div class="Icon__content">
					<svg class="Icon__svg">
						<use class="Icon__svg-use" xlink:href="#information-have"></use>
					</svg>
				</div>
			</span>
		</div>
		<div class="popup-warning__heading">
			<div class="popup-warning__title">
				<h3 class="popup-warning__title-text">Внимание</h3>
			</div>
			<div class="popup-warning__sub-title">
				<span class="popup-warning__sub-title-text">
					Если хотите выбрать товара больше, чем он есть в наличии, то вы попадете в раздел “Под заказ”
				</span>
			</div>
		</div>

		<div class="popup-warning__btn _fx-row-c">
			<button class="Button Button--gray-light Button--theme-s " type="submit">
				<span class="Button__text">Продолжить</span>
			</button>
		</div>
	</div>
</div>