.compares-cards {
  &__wrapper {
    display: inline-flex;
  }
  &__swiper-container {
    &--two {
      display: none;
    }

    .Swiper-button-default {
      top: 26%;
    }
    .Swiper-button-next-video-reviews,
    .Swiper-button-prev-video-reviews {
      padding-right: 5px;
      padding-left: 5px;
    }

    & > .swiper-scrollbar {
      height: 6px;
    }
  }
  &__swiper-scrollbar {
    position: absolute;
    top: 48%;
    z-index: 10;
    display: flex;
    align-items: center;
    outline: none;
    transform: translateY(-50%);
    transition: 0.3s all;
    background: #eeeff7;

    .swiper-scrollbar-drag {
      background: rgba(182, 179, 179, 0.521);
    }
  }
  &__swiper-pagination {
    display: none;
    top: 20px;
    left: 46%;
    z-index: 10;
    display: flex;
    align-items: center;
    outline: none;
    transform: translateY(-50%);
    transition: 0.3s all;
    pointer-events: none;
  }
}