<div class="compares-cards__swiper-container swiper-container ">
	<div class="compares-cards__wrapper swiper-wrapper">

		<!-- Слайды -->
		<div class="compares__slide swiper-slide">
			@include('../Card-product/Card-product--close.html')
		</div>
		<div class="compares__slide swiper-slide">
			@include('../Card-product/Card-product--close.html')
		</div>
		<div class="compares__slide swiper-slide">
			@include('../Card-product/Card-product--close.html')
		</div>
		<div class="compares__slide swiper-slide">
			@include('../Card-product/Card-product--close.html')
		</div>
		<div class="compares__slide swiper-slide">
			@include('../Card-product/Card-product--close.html')
		</div>
		<div class="compares__slide swiper-slide">
			@include('../Card-product/Card-product--close.html')
		</div>

		<!-- Описание -->
		<div class="compares__slide compares__slide--desc swiper-slide text-overflow-js" data-text-sum="53">
			<div class="compares-parameter compares-parameter--desc">
				<ul class="compares-parameter__list--slide">

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Материал
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое
							наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ,
							сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Особенность
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Усиленный каркас из массива сосны
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Страна (производитель)
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Россия
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Тип двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Глухая
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Стекло
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							—
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Толщина полотна, мм
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							32
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цвет
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Венге
						</span>
					</li>
					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цветовая гамма
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Темная
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="compares__slide compares__slide--desc swiper-slide text-overflow-js" data-text-sum="53">
			<div class="compares-parameter compares-parameter--desc">
				<ul class="compares-parameter__list--slide">

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Материал
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое
							наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ,
							сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Особенность
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Усиленный каркас из массива сосны
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Страна (производитель)
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Россия
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Тип двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Глухая
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Стекло
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							—
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Толщина полотна, мм
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							32
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цвет
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Венге
						</span>
					</li>
					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цветовая гамма
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Темная
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="compares__slide compares__slide--desc swiper-slide text-overflow-js" data-text-sum="53">
			<div class="compares-parameter compares-parameter--desc">
				<ul class="compares-parameter__list--slide">

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Материал
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое
							наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ,
							сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Особенность
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Усиленный каркас из массива сосны
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Страна (производитель)
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Россия
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Тип двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Глухая
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Стекло
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							—
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Толщина полотна, мм
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							32
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цвет
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Венге
						</span>
					</li>
					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цветовая гамма
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Темная
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="compares__slide compares__slide--desc swiper-slide text-overflow-js" data-text-sum="53">
			<div class="compares-parameter compares-parameter--desc">
				<ul class="compares-parameter__list--slide">

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Материал
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое
							наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ,
							сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Особенность
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Усиленный каркас из массива сосны
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Страна (производитель)
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Россия
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Тип двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Глухая
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Стекло
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							—
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Толщина полотна, мм
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							32
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цвет
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Венге
						</span>
					</li>
					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цветовая гамма
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Темная
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="compares__slide compares__slide--desc swiper-slide text-overflow-js" data-text-sum="53">
			<div class="compares-parameter compares-parameter--desc">
				<ul class="compares-parameter__list--slide">

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Материал
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое
							наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ,
							сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Особенность
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Усиленный каркас из массива сосны
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Страна (производитель)
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Россия
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Тип двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Глухая
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Стекло
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							—
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Толщина полотна, мм
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							32
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цвет
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Венге
						</span>
					</li>
					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цветовая гамма
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Темная
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="compares__slide compares__slide--desc swiper-slide text-overflow-js" data-text-sum="53">
			<div class="compares-parameter compares-parameter--desc">
				<ul class="compares-parameter__list--slide">

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Материал
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое
							наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ,
							сотовое наполнение Брус сосны, МДФ, сотовое наполнение Брус сосны, МДФ, сотовое наполнение
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Особенность
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Усиленный каркас из массива сосны
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Покрытие двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Ламинированное покрытие
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Страна (производитель)
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Россия
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Тип двери
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Глухая
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Стекло
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							—
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Толщина полотна, мм
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							32
						</span>
					</li>

					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цвет
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Венге
						</span>
					</li>
					<li class="compares-parameter__item">
						<div class="compares-parameter__item-title">
							<span class="compares-parameter__item-title-text">
								Цветовая гамма
							</span>
						</div>
						<span class="compares-parameter__item-text text-overflow-ellipsis-js">
							Темная
						</span>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="Swiper-button-next-video-reviews Swiper-button-default">

		<svg class="Swiper-button-default__svg">
			<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
		</svg>

	</div>

	<div class="Swiper-button-prev-video-reviews Swiper-button-default">

		<svg class="Swiper-button-default__svg">
			<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
		</svg>

	</div>
	<div class="swiper-pagination compares-cards__swiper-pagination"></div>
	<div class="swiper-scrollbar compares-cards__swiper-scrollbar"></div>
</div>