<div class="Palette">
	<div class="Palette__color-selection">
		<ul class="Palette__list-color-selection">
			<li
				class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
				<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
						src="img/blue.jpg" alt="blue">
				</span>
			</li>
			<li
				class="Palette__item-color-selection  Palette__item-color-selection-js Palette__item-color-selection--color">
				<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
						src="img/orange.jpg" alt="blue">
				</span>
			</li>
			<li
				class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
				<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
						src="img/blue.jpg" alt="blue">
				</span>
			</li>
			<li
				class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
				<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
						src="img/blue.jpg" alt="blue">
				</span>
			</li>
			<li
				class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
				<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
						src="img/blue.jpg" alt="blue">
				</span>
			</li>
		</ul>
	</div>
</div>