<div class="Radio-btn-default">
	<label class="Radio-btn-default__label">
		<input class="Radio-btn-default__input" type="radio" name="type" value="" checked="">
		<span class="Radio-btn-default__inner-text">
			<span class="Radio-btn-default__text">Ручки стандарт</span>
		</span>
	</label>
</div>