<div class="popup-confirm _bs " id="popup-confirm" style="display: none">
	<div class="popup-confirm__wrapper _fx-col-sb">
		<div class="popup-confirm__title">
			<h3 class="popup-confirm__title-text">Подтверждаете привязку товара к заказу <span class="popup-confirm__title-text-decor">№006</span> ?</h3>

		</div>
		<div class="popup-confirm__btn _fx-row-c">
			<button class="Button Button--lime Button--theme-s " type="submit">
				<span class="Button__text">Да</span>
			</button>
			<button class="Button Button--lime Button--theme-s " type="submit">
				<span class="Button__text">Нет</span>
			</button>
		</div>
	</div>
</div>