.popup-confirm {
	padding: 35px 28px 28px 28px;
	max-width: 260px;
	min-height: 160px;
	max-height: 770px;
	background: $white;

	&__btn {
		margin-top: 11px;
		

		.Button--theme-s {
			width: 86px;
			min-height: 32px;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
  &__title {
  }
  &__title-text {
		font-size: 16px;
		color: $black;
		text-align: center;
		font-weight: 400;
		&-decor {
			font-weight: 600;
		}

  }
  &__wrapper {
  }
}
