<div class="popup-non-standard-model popup-non-standard-model--two" id="popup-non-standard-model-two"
	style="display: none">
	<div class="popup-non-standard-model__wrapper">
		<div class="popup-non-standard-model__header">
			<div class="popup-non-standard-model__header-title">
				<h3 class="popup-non-standard-model__header-title-text">
					Заявка на нестандартную модель
				</h3>

			</div>

		</div>
		<div class="popup-non-standard-model__body">
			<div class="popup-non-standard-model__body-left">
				<div class="popup-non-standard-model__select-width">
					<div class="Input  Input--m">
						<label class="Input__label">Ширина (мм) <input class="Input__inp" type="text" name="name" value="1"></label>
						<span class="input-validation__message input-validation__message-mod"></span>
					</div>
				</div>
				<div class="popup-non-standard-model__box-img-select-height">
					<div class="popup-non-standard-model__block-img">
						<a class="popup-non-standard-model__link" href="#">
							<img src="/img/door-size-2.png" alt="" class="popup-non-standard-model__img  Bgi">
						</a>
					</div>

					<div class="popup-non-standard-model__select-height">
						<div class="Input  Input--m Input--vertical">
							<label class="Input__label">Высота (мм)<input class="Input__inp" type="text" name="name"
									value="1"></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>
					</div>

				</div>

				<div class="popup-non-standard-model__body-left-heading">
					<h3 class="popup-non-standard-model__title-text">
						Ламинированные двери\
						<span class="popup-non-standard-model__subtitle-text">Глухая Д0 </span>

					</h3>

				</div>

				<div class="popup-non-standard-model__body-left-options">

					<div class="dropdown">
						<div class="dropdown__heading">
							<div class="dropdown__title">
								<span class="dropdown__title-text">
									Покрытие наружное
								</span>
							</div>
						</div>
						<button class="dropdown__button">
							<span class="dropdown__button-text">МДФ</span>
						</button>
						<ul class="dropdown__list">
							<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
								<span class="dropdown__list-item-text">МДФ</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
						</ul>
						<input type="text" name="select-category" value="" class="dropdown__input-hidden">
					</div>

					<div class="dropdown">
						<div class="dropdown__heading">
							<div class="dropdown__title">
								<span class="dropdown__title-text">
									Цвет наружный
								</span>
							</div>
						</div>
						<button class="dropdown__button">
							<img class="dropdown__img" src="img/blue.jpg" alt="blue">
							<span class="dropdown__button-text">Итальянский орех</span>
						</button>
						<ul class="dropdown__list">
							<li class="dropdown__list-item" data-value="up-price"><img class="dropdown__img" src="img/blue.jpg"
									alt="blue">
								<span class="dropdown__list-item-text">Итальянский орех</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price"><img class="dropdown__img" src="img/orange.jpg"
									alt="blue">
								<span class="dropdown__list-item-text">Dw</span>
							</li>
						</ul>
						<input type="text" name="select-category" value="" class="dropdown__input-hidden">
					</div>

					<div class="dropdown">
						<div class="dropdown__heading">
							<div class="dropdown__title">
								<span class="dropdown__title-text">
									Покрытие внутрений
								</span>
							</div>
						</div>
						<button class="dropdown__button">
							<span class="dropdown__button-text">МДФ</span>
						</button>
						<ul class="dropdown__list">
							<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
								<span class="dropdown__list-item-text">МДФ</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
						</ul>
						<input type="text" name="select-category" value="" class="dropdown__input-hidden">
					</div>

					<div class="dropdown">
						<div class="dropdown__heading">
							<div class="dropdown__title">
								<span class="dropdown__title-text">
									Цвет внутрений
								</span>
							</div>
						</div>
						<button class="dropdown__button">
							<img class="dropdown__img" src="img/blue.jpg" alt="blue">
							<span class="dropdown__button-text">Итальянский орех</span>
						</button>
						<ul class="dropdown__list">
							<li class="dropdown__list-item" data-value="up-price"><img class="dropdown__img" src="img/blue.jpg"
									alt="blue">
								<span class="dropdown__list-item-text">Итальянский орех</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price"><img class="dropdown__img" src="img/orange.jpg"
									alt="blue">
								<span class="dropdown__list-item-text">Dw</span>
							</li>
						</ul>
						<input type="text" name="select-category" value="" class="dropdown__input-hidden">
					</div>

				</div>


			</div>
			<div class="popup-non-standard-model__body-right">
				<div class="popup-non-standard-model__body-right-body">
					<div class="dropdown">
						<div class="dropdown__heading">
							<div class="dropdown__title">
								<span class="dropdown__title-text">
									Открывание
								</span>
							</div>
						</div>
						<button class="dropdown__button">
							<span class="dropdown__button-text">L</span>
						</button>
						<ul class="dropdown__list">
							<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
								<span class="dropdown__list-item-text">L</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">R</span>
							</li>
						</ul>
						<input type="text" name="select-category" value="" class="dropdown__input-hidden">
					</div>

					<div class="popup-non-standard-model__counter Counter">

						<div class="popup-non-standard-model__counter-title Counter__title">
							<span class="popup-non-standard-model__counter-title-text Counter__title-text">Кол-во
								створок</span>
						</div>

						<div class="Counter__container">
							<div class="Counter__content">
								<button class="Counter__button Counter__button--js-reduction" data-decrement="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-left" class="Counter__use"></use>
									</svg>
								</button>
								<div class="Counter__block-input">
									<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
								</div>
								<button class="Counter__button Counter__button--js-increase" data-increment="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-right" class="Counter__use"></use>
									</svg>
								</button>
							</div>
						</div>


					</div>

					<div class="popup-non-standard-model__body-input-type">

						<div class="dropdown">
							<div class="dropdown__heading">
								<div class="dropdown__title">
									<span class="dropdown__title-text">
										Тип короба
									</span>
								</div>
							</div>
							<button class="dropdown__button">
								<span class="dropdown__button-text">Открытый</span>
							</button>
							<ul class="dropdown__list">
								<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
									<span class="dropdown__list-item-text">Открытый</span>
								</li>
								<li class="dropdown__list-item" data-value="down-price">
									<span class="dropdown__list-item-text">Закрытый</span>
								</li>
							</ul>
							<input type="text" name="select-category" value="" class="dropdown__input-hidden">
						</div>

						<div class="dropdown">
							<div class="dropdown__heading">
								<div class="dropdown__title">
									<span class="dropdown__title-text">
										Фрамуга
									</span>
								</div>
							</div>
							<button class="dropdown__button">
								<span class="dropdown__button-text">Отдельно</span>
							</button>
							<ul class="dropdown__list">
								<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
									<span class="dropdown__list-item-text">Отдельно</span>
								</li>
								<li class="dropdown__list-item" data-value="down-price">
									<span class="dropdown__list-item-text">Заодно</span>
								</li>
								<li class="dropdown__list-item" data-value="down-price">
									<span class="dropdown__list-item-text">Нет</span>
								</li>
							</ul>
							<input type="text" name="select-category" value="" class="dropdown__input-hidden">
						</div>

					</div>

					<div class="popup-non-standard-model__body-input-properties">

						<div class="Input  Input--m">
							<label class="Input__label">Полотно (мм) <input class="Input__inp" type="text" name="name"
									value="1"></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>

						<div class="Input  Input--m">
							<label class="Input__label">Сталь (мм) <input class="Input__inp" type="text" name="name"
									value="1"></label>
							<span class="input-validation__message input-validation__message-mod"></span>
						</div>

					</div>
				</div>

				<div class="popup-non-standard-model__body-right-footer">
					<div class="popup-non-standard-model__counter Counter">

						<div class="popup-non-standard-model__counter-title Counter__title">
							<span class="popup-non-standard-model__counter-title-text Counter__title-text">Кол-во, шт.</span>
						</div>

						<div class="Counter__container">
							<div class="Counter__content">
								<button class="Counter__button Counter__button--js-reduction" data-decrement="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-left" class="Counter__use"></use>
									</svg>
								</button>
								<div class="Counter__block-input">
									<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
								</div>
								<button class="Counter__button Counter__button--js-increase" data-increment="">
									<svg class="Counter__svg">
										<use xlink:href="#arrow-right" class="Counter__use"></use>
									</svg>
								</button>
							</div>
						</div>


					</div>
				</div>


			</div>

		</div>
		<div class="popup-non-standard-model__footer">
			<div class="popup-non-standard-model__footer-desc">
				<button
					class="popup-non-standard-model__have-icon Icon Icon--red  Icon--theme-m popup-non-standard-model__have-icon-js">
					<div class="Icon__content">
						<svg class="Icon__svg">
							<use class="Icon__svg-use" xlink:href="#information-have"></use>
						</svg>
					</div>
				</button>
				<p class="popup-non-standard-model__footer-desc-text">
					Данную
					модель можно выполнить по высоте с мин. размером ХХ,
					макс. размером ХХХ, шагом Х, по ширине с мин.
					размером УУ, макс. размером УУУ, шагом У»
				</p>
			</div>
			<div class="popup-non-standard-model__footer-btn">
				<a class="Button Button--lime Button--theme-m Button--theme-m-w" href="#file" data-fancybox-window="">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#file"></use>
						</svg>
					</span>
					<span class="Button__text">Отправить заявку</span>
				</a>
			</div>
		</div>

	</div>
</div>