.Catalog {
  &__block-list-product {
    display: flex;
    justify-content: center;
    width: 330px;
  }
  &__list-product-second-level {
  }
  &__list-item-product {
    position: relative;

    &--last {
      .Catalog {
        &__list-product-third-level {
          right: 102%;
          left: auto !important;
        }
      }
      .Catalog__list-product-second-level-item:hover
        > a
        > .Catalog__list-product-second-level-item-icon
        > .Catalog__list-product-second-level-item-svg {
        transform: rotate(180deg);
      }
    }

    &:hover > .Button:not(:disabled) {
      outline: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: #fff;
      background-color: #9aca3c;
    }

    &:hover > .Button:not(:disabled) .Button__text {
      color: $white;
    }		

    &:hover > .Button:not(:disabled) .Button__icon .Button__icon-svg,
    &:hover > .Button:not(:disabled) .Button__icon .Button__icon-svg-right {
      fill: $white;
    }

    &:hover > .Button:not(:disabled) .Button__text-counter {
      color: $white;
      transition: $transition;
    }

    &:hover
      > .Button:not(:disabled)
      .Button__icon
      .Button__icon-svg--right-rotate {
      transform: rotate(0);
    }

    &:hover > .Catalog__list-product-second-level {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list-item-product-icon {
  }

  &__list-item-product-title {
  }

  &__list-item-svg {
    width: 24px;
    height: 24px;
  }

  &__list-item-svg-use {
  }

  &__list-product {
    position: relative;

    & > li:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__list-product-second-level {
    position: absolute;
    left: 320px;
    top: 0;
    z-index: 10;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: $transition;

    :hover {
      background: #e5ffcb;
      transition: $transition;
    }

    :hover > a {
      color: $lime;
      transition: $transition;
    }

    :hover::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 4px;
      height: 50px;
      background: $lime;
      transition: $transition;
    }

    :hover > a > .Catalog__list-product-second-level-item-text {
      color: $lime;
      transition: $transition;
    }

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list-product-second-level-item {
    position: relative;
    padding: 15px 19px;
    width: 300px;
    min-height: 50px;
    background: $white;
    transition: $transition;
    cursor: pointer;

    &:hover
      > a
      > .Catalog__list-product-second-level-item-icon
      > .Catalog__list-product-second-level-item-svg {
      fill: $lime;
      transform: rotate(0deg);
      transition: $transition;
    }

    &:hover > .Catalog__list-product-third-level {
      opacity: 1;
      visibility: visible;
      transition: $transition;
    }
  }

  &__list-product-second-level-button {
    display: flex;
    justify-content: space-between;
  }

  &__list-product-second-level-item-text {
  }

  &__list-product-second-level-item-icon {
  }

  &__list-product-second-level-item-svg {
    width: 9px;
    height: 9px;
    fill: #8f96b0;
    transform: rotate(90deg);
    transition: $transition;
  }

  &__list-product-third-level {
    position: absolute;
    left: 309px;
    top: 0;
    z-index: 10;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: $transition;

    :hover {
      background: #e5ffcb;
      transition: $transition;
    }

    :hover > a {
      color: $lime;
      transition: $transition;
    }

    :hover::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 4px;
      height: 50px;
      background: $lime;
      transition: $transition;
    }
  }

  &__list-product-third-level-item {
    position: relative;
    padding: 15px;
    width: 300px;
    min-height: 50px;
    background: $white;
    cursor: pointer;
  }
  &__block-name-section {
    display: none;
  }
}
