<div class="Video">
	<div class="Video__wrapper">
		<div class="Video__block-yt">
			<div class="Video__block-yt-video Bgi">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/w0D2nadzBSQ" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen>
				</iframe>
			</div>
		</div>
	</div>
</div>