<nav class="right-navbar">
	<div class="right-navbar__wrapper">
		<ul class="right-navbar__list">
			<li class="right-navbar__item right-navbar__item--close">
				@include('../../components/blocks/miniature/miniature--close.html')
			</li>
			<li class="right-navbar__item ">

				@include('../../components/blocks/miniature/miniature.html')
				@include('../../components/blocks/Card-medium/Card-medium--navbar.html')
			</li>
			<li class="right-navbar__item ">

				@include('../../components/blocks/miniature/miniature.html')
				@include('../../components/blocks/Card-medium/Card-medium--navbar.html')
			</li>
			<li class="right-navbar__item ">

				@include('../../components/blocks/miniature/miniature.html')
				@include('../../components/blocks/Card-medium/Card-medium--navbar.html')
			</li>
			<li class="right-navbar__item ">

				@include('../../components/blocks/miniature/miniature.html')
				@include('../../components/blocks/Card-medium/Card-medium--navbar.html')
			</li>

		</ul>
	</div>

</nav>