.right-navbar {
  position: fixed;
  z-index: 1000;
  height: 100%;
  right: 0;
  display: block;

  &__item {
    position: relative;
    &--close {
      margin-bottom: -8px;
    }
    &--active {
      .Card-medium {
        animation: ease 0.5s navbar-width-back forwards !important;
      }
    }
    &:not(:first-child) {
      margin-top: 10px;
    }

    .Card-medium {
      animation: ease 0.5s navbar-width forwards;
    }

    .miniature {
      cursor: pointer;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    // align-items: flex-end;
  }
  &__wrapper {
    height: 100%;
  }
}

/* keyframes  */

@keyframes navbar-width-back {
  0% {
    width: 32px;
		visibility: hidden;
		opacity: 0;
  }
  100% {
		opacity: 1;
    width: 512px;
		visibility: visible;

  }
}
@keyframes navbar-width {
  0% {
    width: 512px;
		visibility: visible;
		opacity: 1;

  }
  100% {
    width: 32px;
		visibility: hidden;
  }
}

$top: 3.94px;

@keyframes top {
  0% {
    top: $top;
    transform: rotate(0);
  }
  50% {
    top: $top;
    transform: rotate(0);
  }
  100% {
    top: -1px;
    transform: rotate(45deg);
  }
}

@keyframes top-back {
  0% {
    top: 0;
    transform: rotate(45deg);
  }
  50% {
    top: $top;
    transform: rotate(0);
  }
  100% {
    top: $top;
    transform: rotate(0);
  }
}

/* middle */

@keyframes middle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes middle-back {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    top: -0.5px;
    transform: scale(1);
  }
}

@keyframes bottom {
  0% {
    bottom: $top;
    transform: rotate(0);
  }
  50% {
    bottom: $top;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(-45deg);
  }
}

@keyframes bottom-back {
  0% {
    bottom: 0;
    transform: rotate(-45deg);
  }
  50% {
    bottom: $top;
    transform: rotate(0);
  }
  100% {
    bottom: $top;
    transform: rotate(0);
  }
}
