.popup-category-list {
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(143, 150, 176, 0.3);
  @include adaptiv-value("padding-top", 20, 15, 1);
  @include adaptiv-value("padding-bottom", 40, 20, 1);
  @include adaptiv-value("padding-left", 40, 10, 1);
  @include adaptiv-value("padding-right", 40, 10, 1);
	width: 800px;
	min-height: 715px;
  &__body {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 10px;
  }
  &__body-left {
		border-right: 1px solid #e3e6f3;
    .popup-category-list {
      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 460px;
        overflow-y: scroll;
      }
    }
  }
  &__body-right {
		.popup-category-list {
    }
  }
	&__list {
		max-height: 460px;
		min-height: 460px;
		overflow-y: auto;
		@include adaptiv-value("margin-top", 34, 20, 1);
    font-weight: 600;
	}
  &__item {
		margin-top: 10px;
		min-height: 41px;
		overflow: hidden;
  }
  &__footer {
		margin-top: 40px;
  }
  &__footer-btn {
		display: flex;
		align-items: center;
		justify-content: center;
  }
  &__footer-desc {
  }
  &__footer-desc-text {
  }
  &__have-icon {
  }
  &__have-icon-js {
  }
  &__header {
  }
  &__title {
    @include adaptiv-value("font-size", 28, 18, 1);
    color: $black;
  }
  &__title-text {
  }
  &__wrapper {
  }

	.Search {
		@include adaptiv-value("margin-bottom", 30, 15, 1);
		&__block {
			width: 95%;
		}
		
	}


.Checkbox {
	&__text {
		@include adaptiv-value("font-size", 16, 14, 1);
	}
}




  ::-webkit-scrollbar {
    width: 3px; /* ширина для вертикального скролла */
    height: 3px; /* высота для горизонтального скролла */
    background-color: transparent;
		
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 9em;
    box-shadow: inset 1px 1px 6px #f3faf7;

  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $lime;
    cursor: pointer;
		
  }

  /* Стрелки */

  ::-webkit-scrollbar-button:vertical:start:decrement {
    background: transparent;
    background-color: transparent;
    display: none;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    background: transparent;
    background-color: transparent;
    display: none;
  }

  ::-webkit-scrollbar-button:horizontal:start:decrement {
    background: transparent;
    background-color: transparent;
    display: none;
  }

  ::-webkit-scrollbar-button:horizontal:end:increment {
    background: transparent;
    background-color: transparent;
    display: none;
  }

  // Изменения скролла для FireFox
  * {
    scrollbar-color: $gray transparent; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin; /* толщина */
  }
}
