<div class="popup-category-list _bs" id="popup-category-list" style="display: none">
    <form class="popup-category-list__wrapper">
        <div class="popup-category-list__header">
            <div class="Search">
                <div class="Search__block">
                    <div class="Search__form">
                        <input type="text" placeholder="Поиск по каталогу..." class="Search__input mg-search-category" name="" value="" size="15" maxlength="50" />
                        <button name="" type="submit" value="Поиск по каталогу" class="Search__button">
							<div class="Search__block-icon" data-search-index="1">
								<svg class="Search__svg">
									<use xlink:href="#search" class="Search__use"></use>
								</svg>
							</div>
						</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-category-list__body">
            <div class="popup-category-list__body-left">
                <div class="popup-category-list__title">
                    <h3 class="popup-category-list__title-text">
                        Список категорий
                    </h3>

                </div>
                <ul class="popup-category-list__list">
                    <!-- <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="1" data-img-sources="mg-category-others" name="Двери">
								<span class="Checkbox__inner-text">
									<span  class="Checkbox__text">Двери</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="2" data-img-sources="mg-category-others" name="Шторы">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Шторы</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="3" data-img-sources="mg-category-others" name="Напольные покрытия">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Напольные покрытия</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="4" data-img-sources="mg-category-others" name="Водоснабжение
								и отопление">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Водоснабжение
										и отопление</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="5" data-img-sources="mg-category-others" name="Окна">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Окна</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="6" data-img-sources="mg-category-others" name="Бани и сауны">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Бани и сауны</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="7" data-img-sources="mg-category-others" name="Мебель">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Мебель</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="8" data-img-sources="mg-category-others" name="Бассейны">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Бассейны</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="9" data-img-sources="mg-category-others" name="Обои">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Обои</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="10" data-img-sources="mg-category-others" name="Текстиль для дома">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Текстиль для дома</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="11" data-img-sources="mg-category-others" name="Краски">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Краски</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="12" data-img-sources="mg-category-others" name="Потолки">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Потолки</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="13" data-img-sources="mg-category-others" name="Сад и огород">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Сад и огород</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="14" data-img-sources="mg-category-others" name="Камины">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Камины</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="15" data-img-sources="mg-category-others" name="Плитка">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Плитка</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="16" data-img-sources="mg-category-others" name="Ворота">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Ворота</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="17" data-img-sources="mg-category-others" name="Сантехника">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Сантехника</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" id="17" data-img-sources="mg-category-others" name="Декор">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Декор</span>
								</span>
							</label>
                        </div>
                    </li> -->
                </ul>
            </div>
            <div class="popup-category-list__body-right">
                <div class="popup-category-list__title">
                    <h3 class="popup-category-list__title-text">
                        Выбранные
                    </h3>

                </div>
                <ul class="popup-category-list__list">
                    <!-- <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" data-img-sources="mg-category-others" name="Декор">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Акции</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Акции</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Акции</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Акции</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Акции</span>
								</span>
							</label>
                        </div>
                    </li>
                    <li class="popup-category-list__item">
                        <div class="Checkbox Checkbox--default">
                            <label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Акции</span>
								</span>
							</label>
                        </div>
                    </li> -->
                </ul>
            </div>

        </div>
        <div class="popup-category-list__footer">
            <div class="popup-category-list__footer-btn">
                <button type="submit" class="Button Button--lime Button--theme-m Button--theme-m-w">
					<span class="Button__text">Добавить <span data-category-count="">6</span> категорий</span>
				</button>
            </div>
        </div>

    </form>
</div>