<div class="swiper-container popup-information__swiper-container" id="popup-information" style="display: none">
	
	<div class="swiper-wrapper popup-information__wrapper-slide">
	
	<div class="swiper-slide popup-information__slide">
		<div class="popup-information popup-information--shop">
			<div class="popup-information__wrapper">

					<div class="popup-information__main">
						<div class="popup-information__title">
							<h3 class="popup-information__title-text">
								Информация о магазине
							</h3>
						</div>

						<div class="popup-information__shop">
							<div class="popup-information__shop-wrapper">

								<div class="popup-information__shop-content-left">
									<div class="popup-information__shop-form">

										<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
											<div class="popup-information__form-wrapper">
												<div class="Input input">
													<label class="Input__label"><span class="Input__label-text">Название</span> <input
															class="Input__inp" type="text" name="inn" placeholder="Название... " data-index-input="2"
															required=""></label>
													<span class="input-validation__message input-validation__message-mod"></span>
												</div>
												<div class="dropdown">
													<div class="dropdown__heading">
														<div class="dropdown__title">
															<span class="dropdown__title-text">
																Тип магазина
															</span>
														</div>
													</div>
													<div class="dropdown__content">
														<button class="dropdown__button">
															<span class="dropdown__button-text">Торговая точка</span>
														</button>
														<ul class="dropdown__list">
															<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
																<span class="dropdown__list-item-text">Торговая точка</span>
															</li>
															<li class="dropdown__list-item" data-value="down-price">
																<span class="dropdown__list-item-text">Металл</span>
															</li>
														</ul>
													</div>
													<input type="text" name="select-category" value="" class="dropdown__input-hidden">
												</div>
												<div class="dropdown">
													<div class="dropdown__heading">
														<div class="dropdown__title">
															<span class="dropdown__title-text">
																Подчиненность
															</span>
														</div>
													</div>
													<div class="dropdown__content">
														<button class="dropdown__button">
															<span class="dropdown__button-text">ООО “Ромашка”</span>
														</button>
														<ul class="dropdown__list">
															<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
																<span class="dropdown__list-item-text">ООО “Ромашка”</span>
															</li>
															<li class="dropdown__list-item" data-value="down-price">
																<span class="dropdown__list-item-text">Металл</span>
															</li>
														</ul>
													</div>
													<input type="text" name="select-category" value="" class="dropdown__input-hidden">
												</div>
											</div>
											<div class="popup-information__form-wrapper">
												<div class="dropdown">
													<div class="dropdown__heading">
														<div class="dropdown__title">
															<span class="dropdown__title-text">
																Город
															</span>
														</div>
													</div>
													<div class="dropdown__content">
														<button class="dropdown__button">
															<span class="dropdown__button-text">г. Краснодар</span>
														</button>
														<ul class="dropdown__list">
															<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
																<span class="dropdown__list-item-text">г. Краснодар</span>
															</li>
															<li class="dropdown__list-item" data-value="down-price">
																<span class="dropdown__list-item-text">Металл</span>
															</li>
														</ul>
													</div>
													<input type="text" name="select-category" value="" class="dropdown__input-hidden">
												</div>
												<div class="Input input">
													<label class="Input__label"><span class="Input__label-text">Фактический адрес</span> <input
															class="Input__inp" type="text" name="inn" placeholder="Фактический адрес... " data-index-input="2"
															required=""></label>
													<span class="input-validation__message input-validation__message-mod"></span>
												</div>
												<div class="Input input">
													<label class="Input__label"><span class="Input__label-text">Ссылка на сайт</span> <input
															class="Input__inp" type="text" name="inn" placeholder="Ссылка на сайт... " data-index-input="2"
															required=""></label>
													<span class="input-validation__message input-validation__message-mod"></span>
												</div>
												<div class="Input input">
													<label class="Input__label"><span class="Input__label-text">Адрес доставки (склада)</span> <input
															class="Input__inp" type="text" name="inn" placeholder="Адрес доставки (склада)... " data-index-input="2"
															required=""></label>
													<span class="input-validation__message input-validation__message-mod"></span>
												</div>
												<div class="Input input">
													<label class="Input__label"> <span class="Input__label-text">Телефон магазина</span><input
															class="Input__inp mask-phone-js" type="tel" name="tel" data-index-input="2"
															required=""></label>
													<span class="input-validation__message input-validation__message-mod"></span>
												</div>
											</div>
										</form>

									</div>
								</div>

								<div class="popup-information__shop-content-right">
									@include('../../blocks/working-mode/working-mode.html')

								</div>

							</div>


						</div>


					</div>
					<div class="popup-information__footer">
						<div class="popup-information__footer-right">
							<div class="popup-information__btns">
								<button class="Button Button--gray-lime Button--theme-l" href="#">
									<span class="Button__icon">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#file-clear"></use>
										</svg>
									</span>
									<span class="Button__text">Добавить</span>
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="swiper-slide popup-information__slide">
			<div class="popup-information popup-information--documentation">
				<div class="popup-information__wrapper">

					<div class="popup-information__main">
						<div class="popup-information__title">
							<h3 class="popup-information__title-text">
								Руководитель
							</h3>
						</div>

						<div class="popup-information__documentation">

							<div class="popup-information__documentation-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">

										<ul class="popup-information__documentation-list">

											<div class="popup-information__documentation-weeks-item">


												<div class="popup-information__documentation-item-dragfiles">
													<div class="dragfiles dragfiles--documents">
														<span id="upload">
															<div class="">
																<label>
																	<input type="file" id="fileselect" name="fileselect" data-file-size-doc="5"
																		multiple="multiple">
																	<span id="filedrag">
																		<span class="dragfiles__content">
																			<span class="dragfiles__text-warning-upload" id="messages"></span>
																			<span class="dragfiles__block-icon">
																				<svg class="dragfiles__icon">
																					<use xlink:href="#download"></use>
																				</svg>
																			</span>

																		</span>
																	</span>
																</label>
															</div>
														</span>
													</div>
												</div>



											</div>

										</ul>


									</div>
								</form>
							</div>

						</div>


					</div>
					<div class="popup-information__footer">
						<div class="popup-information__footer-left">
							<div class=" Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Сделать основным юридическим лицом</span>
									</span>
								</label>
							</div>
						</div>

						<div class="popup-information__footer-right">
							<div class="popup-information__btns">
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-prev-js" href="#">
									<span class="Button__icon">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
										</svg>
									</span>
									<span class="Button__text">Вернуться назад</span>
								</button>
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-next-js" href="#">
									<span class="Button__text">Следующий шаг</span>
									<span class="Button__icon Button__icon--right">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-right-big"></use>
										</svg>
									</span>
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="swiper-slide popup-information__slide">
			<div class="popup-information popup-information--supervisor-two">
				<div class="popup-information__wrapper">

					<div class="popup-information__main">
						<div class="popup-information__title">
							<h3 class="popup-information__title-text">
								Руководитель
							</h3>
						</div>

						<div class="popup-information__supervisor">

							<div class="popup-information__supervisor-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">
										<div class="dropdown">
											<div class="dropdown__heading">
												<div class="dropdown__title">
													<span class="dropdown__title-text">
														Занимаемый пост
													</span>
												</div>
											</div>
											<div class="dropdown__content">
												<button class="dropdown__button dropdown__button">
													<span class="dropdown__button-text">Представитель</span>
												</button>
												<ul class="dropdown__list dropdown__list">
													<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
														<span class="dropdown__list-item-text">Представитель</span>
													</li>
													<li class="dropdown__list-item" data-value="down-price">
														<span class="dropdown__list-item-text">Металл</span>
													</li>
												</ul>
											</div>
											<input type="text" name="select-category" value="" class="dropdown__input-hidden">
										</div>
										<div class="Input input Input--large">
											<label class="Input__label"><span class="Input__label-text">ФИО руководителя</span> <input
													class="Input__inp " type="text" name="inn" placeholder="Введите ФИО... " data-index-input="2"
													required=""></label>
											<!-- <span class="input-validation__message input-validation__message-mod"></span> -->
										</div>


									</div>
									<div class="popup-information__form-wrapper">
										<div class="dropdown">
											<div class="dropdown__heading">
												<div class="dropdown__title">
													<span class="dropdown__title-text">
														Дейсвует на основании
													</span>
												</div>
											</div>
											<div class="dropdown__content">
												<button class="dropdown__button dropdown__button">
													<span class="dropdown__button-text">Устав</span>
												</button>
												<ul class="dropdown__list dropdown__list">
													<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
														<span class="dropdown__list-item-text">Устав</span>
													</li>
													<li class="dropdown__list-item" data-value="down-price">
														<span class="dropdown__list-item-text">Металл</span>
													</li>
												</ul>
											</div>
											<input type="text" name="select-category" value="" class="dropdown__input-hidden">
										</div>
										<div class="Input input Input--large">
											<label class="Input__label"><span class="Input__label-text">Должность руководителя</span> <input
													class="Input__inp " type="email" name="inn" placeholder="Введите должность... "
													data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>


									</div>
								</form>
							</div>

						</div>

						<div class="popup-information__proxy">

							<div class="popup-information__proxy-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">
										<div class="Input input Input--large">
											<label class="Input__label"><span class="Input__label-text">Доверенность</span> <input
													class="Input__inp " type="email" name="inn" placeholder="Введите доверенность... "
													data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>

										<div class="date">
											<form class="date__form  Input">
												<label class="date__wrapper"> <span class="date__text">Дата начала</span>
													<input class="Input__inp" type="text" id="calendar-one" name="date"
														placeholder="Выберите дату">
												</label>
											</form>
										</div>

									</div>

									<div class="popup-information__form-wrapper">
										<div class="Input input Input--large">
											<label class="Input__label"><span class="Input__label-text">Номер доверенности</span> <input
													class="Input__inp" type="email" name="inn" placeholder="Введите номер доверенности... "
													data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>

										<div class="date">
											<form class="date__form Input">
												<label class="date__wrapper"> <span class="date__text">Дата окончания</span>
													<input class="Input__inp" type="text" id="calendar-two" name="date"
														placeholder="Выберите дату">
												</label>
											</form>
										</div>

									</div>

								</form>
							</div>

						</div>


					</div>
					<div class="popup-information__footer">
						<div class="popup-information__footer-left">
							<div class=" Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Сделать основным юридическим лицом</span>
									</span>
								</label>
							</div>
						</div>

						<div class="popup-information__footer-right">
							<div class="popup-information__btns">
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-prev-js" href="#">
									<span class="Button__icon">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
										</svg>
									</span>
									<span class="Button__text">Вернуться назад</span>
								</button>
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-next-js" href="#">
									<span class="Button__text">Следующий шаг</span>
									<span class="Button__icon Button__icon--right">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-right-big"></use>
										</svg>
									</span>
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="swiper-slide popup-information__slide">
			<div class="popup-information popup-information--supervisor">
				<div class="popup-information__wrapper">

					<div class="popup-information__main">
						<div class="popup-information__title">
							<h3 class="popup-information__title-text">
								Руководитель
							</h3>
						</div>

						<div class="popup-information__supervisor">

							<div class="popup-information__supervisor-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">
										<div class="dropdown">
											<div class="dropdown__heading">
												<div class="dropdown__title">
													<span class="dropdown__title-text">
														Занимаемый пост
													</span>
												</div>
											</div>
											<div class="dropdown__content">
												<button class="dropdown__button dropdown__button">
													<span class="dropdown__button-text">Представитель</span>
												</button>
												<ul class="dropdown__list dropdown__list">
													<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
														<span class="dropdown__list-item-text">Представитель</span>
													</li>
													<li class="dropdown__list-item" data-value="down-price">
														<span class="dropdown__list-item-text">Металл</span>
													</li>
												</ul>
											</div>
											<input type="text" name="select-category" value="" class="dropdown__input-hidden">
										</div>
										<div class="Input input Input--large">
											<label class="Input__label"><span class="Input__label-text">ФИО руководителя</span> <input
													class="Input__inp " type="text" name="inn" placeholder="Введите ФИО... " data-index-input="2"
													required=""></label>
											<!-- <span class="input-validation__message input-validation__message-mod"></span> -->
										</div>


									</div>
									<div class="popup-information__form-wrapper">
										<div class="dropdown">
											<div class="dropdown__heading">
												<div class="dropdown__title">
													<span class="dropdown__title-text">
														Дейсвует на основании
													</span>
												</div>
											</div>
											<div class="dropdown__content">
												<button class="dropdown__button dropdown__button">
													<span class="dropdown__button-text">Устав</span>
												</button>
												<ul class="dropdown__list dropdown__list">
													<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
														<span class="dropdown__list-item-text">Устав</span>
													</li>
													<li class="dropdown__list-item" data-value="down-price">
														<span class="dropdown__list-item-text">Металл</span>
													</li>
												</ul>
											</div>
											<input type="text" name="select-category" value="" class="dropdown__input-hidden">
										</div>
										<div class="Input input Input--large">
											<label class="Input__label"><span class="Input__label-text">Должность руководителя</span> <input
													class="Input__inp " type="email" name="inn" placeholder="Введите должность... "
													data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>


									</div>
								</form>
							</div>

						</div>


					</div>
					<div class="popup-information__footer">
						<div class="popup-information__footer-left">
							<div class=" Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Сделать основным юридическим лицом</span>
									</span>
								</label>
							</div>
						</div>

						<div class="popup-information__footer-right">
							<div class="popup-information__btns">
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-prev-js" href="#">
									<span class="Button__icon">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
										</svg>
									</span>
									<span class="Button__text">Вернуться назад</span>
								</button>
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-next-js" href="#">
									<span class="Button__text">Следующий шаг</span>
									<span class="Button__icon Button__icon--right">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-right-big"></use>
										</svg>
									</span>
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="swiper-slide popup-information__slide">
			<div class="popup-information popup-information--info">
				<div class="popup-information__wrapper">

					<div class="popup-information__main">
						<div class="popup-information__title">
							<h3 class="popup-information__title-text">
								Информация
							</h3>
						</div>
						<div class="popup-information__main-info">
							<div class="popup-information__main-info-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">
										<div class="popup-information__form-left">
											<div class="dropdown">
												<div class="dropdown__heading">
													<div class="dropdown__title">
														<span class="dropdown__title-text">
															Фактический адрес
														</span>
													</div>
												</div>
												<div class="dropdown__content">
													<button class="dropdown__button dropdown__button">
														<span class="dropdown__button-text">Краснодар</span>
													</button>
													<ul class="dropdown__list dropdown__list">
														<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
															<span class="dropdown__list-item-text">Краснодар</span>
														</li>
														<li class="dropdown__list-item" data-value="down-price">
															<span class="dropdown__list-item-text">Металл</span>
														</li>
													</ul>
												</div>
												<input type="text" name="select-category" value="" class="dropdown__input-hidden">
											</div>
											<div class="Input Input--large  input">

												<input class="Input__inp" type="text" name="city" placeholder="Название улицы..."
													data-index-input="1" required="">

												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>

										<div class="popup-information__form-right">
											<div class="Input  input">

												<input class="Input__inp" type="text" name="home" placeholder="Дом" data-index-input="1"
													required="">

												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input  input">

												<input class="Input__inp" type="text" name="floor" placeholder="Этаж" data-index-input="1"
													required="">

												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input  input">

												<input class="Input__inp" type="text" name="office" placeholder="Офис" data-index-input="1"
													required="">

												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>
									</div>
								</form>
							</div>

						</div>
						<div class="popup-information__requisites">

							<div class="popup-information__requisites-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">
										<div class="Input input">
											<label class="Input__label"><span class="Input__label-text">Банк</span> <input class="Input__inp"
													type="text" name="inn" placeholder="Банк... " data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>
										<div class="Input input">
											<label class="Input__label"><span
													class="Input__label-text Input__label-text--large">Корреспондентский счет</span> <input
													class="Input__inp" type="text" name="inn" placeholder="Корреспондентский счет... "
													data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>
									</div>
									<div class="popup-information__form-wrapper">
										<div class="Input input">
											<label class="Input__label"><span class="Input__label-text">Расчётный счёт</span> <input
													class="Input__inp" type="text" name="inn" placeholder="Расчётный счёт... "
													data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>
										<div class="Input input">
											<label class="Input__label"><span class="Input__label-text">БИК</span> <input class="Input__inp"
													type="text" name="inn" placeholder="БИК... " data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>
									</div>
								</form>
							</div>

						</div>
						<div class="popup-information__contacts">

							<div class="popup-information__contacts-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper popup-information__form-wrapper--vertical">
										<div class="Input input">
											<label class="Input__label"><span class="Input__label-text">Официальный e-mail</span> <input
													class="Input__inp " type="email" name="inn" placeholder="Введите e-mail... "
													data-index-input="2" required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>
										<div class="Input input">
											<label class="Input__label"> <span class="Input__label-text">Телефон для связи</span><input
													class="Input__inp mask-phone-js" type="tel" name="tel" data-index-input="2"
													required=""></label>
											<span class="input-validation__message input-validation__message-mod"></span>
										</div>
									</div>
								</form>
							</div>

						</div>

					</div>
					<div class="popup-information__footer">
						<div class="popup-information__footer-left">
							<div class=" Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Сделать основным юридическим лицом</span>
									</span>
								</label>
							</div>
						</div>

						<div class="popup-information__footer-right">
							<div class="popup-information__btns">
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-prev-js" href="#">
									<span class="Button__icon">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
										</svg>
									</span>
									<span class="Button__text">Вернуться назад</span>
								</button>
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-next-js" href="#">
									<span class="Button__text">Следующий шаг</span>
									<span class="Button__icon Button__icon--right">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-right-big"></use>
										</svg>
									</span>
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="swiper-slide popup-information__slide">
			<div class="popup-information popup-information--fill-data">
				<div class="popup-information__wrapper">

					<div class="popup-information__main">
						<div class="popup-information__title">
							<h3 class="popup-information__title-text">
								Заполнить данные
							</h3>
						</div>
						<div class="popup-information__fill-data">
							<div class="popup-information__fill-data-form">
								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">
										<div class="popup-information__block-inputs-left">
											<div class="Input  input">
												<label class="Input__label">Наименование
													организации<input class="Input__inp" type="text" name="name-organization"
														placeholder="*не должно иметь теги как ООО или ИП..." data-index-input="1"
														required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>
										<div class="popup-information__block-inputs-right">
											<div class="Input input">
												<label class="Input__label">ИНН<input class="Input__inp" type="text" name="inn"
														placeholder="ИНН... " data-index-input="2" required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input input">
												<label class="Input__label">ОГРН<input class="Input__inp" type="text" name="ogrn"
														placeholder="ОГРН... " data-index-input="3" required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>
									</div>
								</form>
							</div>

						</div>
						<div class="popup-information__main-info">
							<div class="popup-information__main-info-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">
										<div class="popup-information__form-left">
											<div class="dropdown">
												<div class="dropdown__heading">
													<div class="dropdown__title">
														<span class="dropdown__title-text">
															Фактический адрес
														</span>
													</div>
												</div>
												<div class="dropdown__content">
													<button class="dropdown__button dropdown__button">
														<span class="dropdown__button-text">Краснодар</span>
													</button>
													<ul class="dropdown__list dropdown__list">
														<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
															<span class="dropdown__list-item-text">Краснодар</span>
														</li>
														<li class="dropdown__list-item" data-value="down-price">
															<span class="dropdown__list-item-text">Металл</span>
														</li>
													</ul>
												</div>
												<input type="text" name="select-category" value="" class="dropdown__input-hidden">
											</div>
											<div class="Input Input--large  input">

												<input class="Input__inp" type="text" name="city" placeholder="Название улицы..."
													data-index-input="1" required="">

												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>

										<div class="popup-information__form-right">
											<div class="Input  input">

												<input class="Input__inp" type="text" name="home" placeholder="Дом" data-index-input="1"
													required="">

												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input  input">

												<input class="Input__inp" type="text" name="floor" placeholder="Этаж" data-index-input="1"
													required="">

												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input  input">

												<input class="Input__inp" type="text" name="office" placeholder="Офис" data-index-input="1"
													required="">

												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>
									</div>
								</form>
							</div>

						</div>
						<div class="popup-information__additional-info">
							<div class="popup-information__block-title">
								<h4 class="popup-information__block-title-text">
									Дополнительная информация
								</h4>
							</div>
							<div class="popup-information__additional-info-form">

								<form class="popup-information__form js-form-validation" action="" novalidate="novalidate">
									<div class="popup-information__form-wrapper">
										<div class="popup-information__form-left">
											<div class="Input input">
												<label class="Input__label"><span class="Input__label-text">КПП</span> <input class="Input__inp"
														type="text" name="inn" placeholder="КПП... " data-index-input="2" required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input input">
												<label class="Input__label"><span class="Input__label-text">ОКАТО</span> <input
														class="Input__inp" type="text" name="inn" placeholder="ОКАТО... " data-index-input="2"
														required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>
										<div class="popup-information__form-right">
											<div class="Input input">
												<label class="Input__label"><span class="Input__label-text">ОКПО</span> <input
														class="Input__inp" type="text" name="inn" placeholder="ОКПО... " data-index-input="2"
														required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input input">
												<label class="Input__label"><span class="Input__label-text">ОКТМО</span> <input
														class="Input__inp" type="text" name="inn" placeholder="ОКТМО... " data-index-input="2"
														required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>

									</div>
									<div class="popup-information__form-wrapper">
										<div class="popup-information__form-left">
											<div class="Input input">
												<label class="Input__label"><span class="Input__label-text">ОКОГУ</span> <input
														class="Input__inp" type="text" name="inn" placeholder="ОКОГУ... " data-index-input="2"
														required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input input">
												<label class="Input__label"><span class="Input__label-text">ОКОПФ</span> <input
														class="Input__inp" type="text" name="inn" placeholder="ОКОПФ... " data-index-input="2"
														required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>
										<div class="popup-information__form-right">
											<div class="Input input">
												<label class="Input__label"><span class="Input__label-text">ОКФС</span> <input
														class="Input__inp" type="text" name="inn" placeholder="ОКФС... " data-index-input="2"
														required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
											<div class="Input input">
												<label class="Input__label"><span class="Input__label-text">ОКВЭД</span> <input
														class="Input__inp" type="text" name="inn" placeholder="ОКВЭД... " data-index-input="2"
														required=""></label>
												<span class="input-validation__message input-validation__message-mod"></span>
											</div>
										</div>

									</div>
								</form>
							</div>

						</div>

					</div>
					<div class="popup-information__footer">
						<div class="popup-information__footer-left">
							<div class=" Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Сделать основным юридическим лицом</span>
									</span>
								</label>
							</div>
						</div>

						<div class="popup-information__footer-right">
							<div class="popup-information__btns">
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-prev-js" href="#">
									<span class="Button__icon">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-left-big"></use>
										</svg>
									</span>
									<span class="Button__text">Вернуться назад</span>
								</button>
								<button class="Button Button--gray-lime Button--theme-l popup-swiper-btn-next-js" href="#">
									<span class="Button__text">Следующий шаг</span>
									<span class="Button__icon Button__icon--right">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#arrow-right-big"></use>
										</svg>
									</span>
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>



	</div>

</div>