<div class="popup-information popup-information--info-org" id="popup-information--info-org-three" style="display: none">
	<div class="popup-information__wrapper">
		<div class="popup-information__header">
			<div class="popup-information__title">
				<h3 class="popup-information__title-text">
					ООО Винни-Пух
				</h3>
			</div>
		</div>

		<div class="popup-information__main">
			<div class="popup-information__documentation">
				<div class="popup-information__documentation-top">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ИНН
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											6565463765
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОГРН
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											6565463765
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="popup-information__documentation-bottom">
					<div class="popup-information__documentation-bottom-title">
						<h4 class="popup-information__documentation-bottom-title-text">
							Дополнительная информация
						</h4>
					</div>
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											КПП
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОКАТО
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОКПО
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОКТМО
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОКОГУ
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОКОПФ
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОКФС
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОКВЭД
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-information__address">

				<div class="popup-information__address-wrapper">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Юридический адрес компании
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											Краснодар, им. А. А. Героя Разведчиков, 234/Б
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Фактический адрес
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											Краснодар, им. А. А. Героя Разведчиков, 234/Б
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-information__requisites-org">
				<div class="popup-information__requisites-org-wrapper">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Банк
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											Альфа-Банк
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Расчётный счёт
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											40702810500000000001
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Корреспондентский счет
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											76565457674
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											БИК
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											00876433323
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-information__contacts-org">
				<div class="popup-information__contacts-org-wrapper">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<div class="Info__title-icon">
											<span class="Icon Icon--black Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#web"></use>
													</svg>
												</div>
											</span>
										</div>
										<h3 class="Info__title-text">
											Официальный e-mail
										</h3>

									</div>
									<div class="Info__link">
										<a class="Link Link--black " href="e-mail:info@romashka.ru">
											info@romashka.ru
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<div class="Info__title-icon">
											<span class="Icon Icon--black Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#phone-dark"></use>
													</svg>
												</div>
											</span>
										</div>
										<h3 class="Info__title-text">
											Телефон для связи
										</h3>

									</div>
									<div class="Info__link">
										<a class="Link Link--black " href="tel:+7(909) 654-67-78">
											+7(909) 654-67-78
										</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-information__box-post-proxy">
				<div class="popup-information__post">
					<div class="popup-information__post-wrapper">
						<div class="popup-information__post-content">
							<ul class="popup-information__list">
								<li class="popup-information__item">
									<div class="Info">
										<div class="Info__wrapper">
											<div class="Info__title">
												<h3 class="Info__title-text">
													Занимаемый пост
												</h3>
											</div>
											<div class="Info__count">
												<span class="Info__count-value">
													Руководитель
												</span>
											</div>
										</div>
									</div>
								</li>
								<li class="popup-information__item">
									<div class="Info">
										<div class="Info__wrapper">
											<div class="Info__title">
												<h3 class="Info__title-text">
													ФИО руководителя
												</h3>
											</div>
											<div class="Info__count">
												<span class="Info__count-value">
													Иванерко Анатолий Евгеньевич
												</span>
											</div>
										</div>
									</div>
								</li>
								<li class="popup-information__item">
									<div class="Info">
										<div class="Info__wrapper">
											<div class="Info__title">
												<h3 class="Info__title-text">
													Должность руководителя
												</h3>
											</div>
											<div class="Info__count">
												<span class="Info__count-value">
													Менеджер по развитию ООО “Ромашка”
												</span>
											</div>
										</div>
									</div>
								</li>
								<li class="popup-information__item">
									<div class="Info">
										<div class="Info__wrapper">
											<div class="Info__title">
												<h3 class="Info__title-text">
													Дейсвует на основании
												</h3>
											</div>
											<div class="Info__count">
												<span class="Info__count-value">
													Устав
												</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="popup-information__proxy-org">
					<div class="popup-information__proxy-org-wrapper">
						<div class="popup-information__proxy-org-content">
							<ul class="popup-information__list">
								<li class="popup-information__item">
									<div class="Info">
										<div class="Info__wrapper">
											<div class="Info__title">
												<h3 class="Info__title-text">
													Доверенность
												</h3>
											</div>
											<div class="Info__count">
												<span class="Info__count-value">
													00876433323
												</span>
											</div>
										</div>
									</div>
								</li>
								<li class="popup-information__item">
									<div class="Info">
										<div class="Info__wrapper">
											<div class="Info__title">
												<h3 class="Info__title-text">
													Номер доверенности
												</h3>
											</div>
											<div class="Info__count">
												<span class="Info__count-value">
													00876433323
												</span>
											</div>
										</div>
									</div>
								</li>
								<li class="popup-information__item">
									<div class="Info">
										<div class="Info__wrapper">
											<div class="Info__title">
												<h3 class="Info__title-text">
													Дата начала
												</h3>
											</div>
											<div class="Info__count">
												<span class="Info__count-value">
													21.09.1990
												</span>
											</div>
										</div>
									</div>
								</li>
								<li class="popup-information__item">
									<div class="Info">
										<div class="Info__wrapper">
											<div class="Info__title">
												<h3 class="Info__title-text">
													Дата окончания
												</h3>
											</div>
											<div class="Info__count">
												<span class="Info__count-value">
													21.09.1990
												</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="popup-information__footer">
			<div class="popup-information__btns">
				<div class="popup-information__btns-left">
					<a class="Button Button--lime-light Button--theme-m " href="#file" data-fancybox-window="">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#file"></use>
							</svg>
						</span>
						<span class="Button__text">Документы</span>
					</a>
				</div>
				<div class="popup-information__btns-right">
					<a href="#" class="Button Button--gray-light Button--theme-m  ">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#edit"></use>
							</svg>
						</span>
						<span class="Button__text">Редактировать</span>
					</a>
					<a class="Button Button--gray-light Button--theme-m " href="#" data-fancybox-window="">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#trash"></use>
							</svg>
						</span>
						<span class="Button__text">Удалить</span>
					</a>
				</div>
			</div>
		</div>



	</div>
</div>