<div class="popup-information popup-information--info-org" id="popup-information--info-org-six" style="display: none">
	<div class="popup-information__wrapper">
		<div class="popup-information__header">
			<div class="popup-information__title">
				<h3 class="popup-information__title-text">
					Документы ООО Винни-Пух
				</h3>
			</div>
		</div>

		<div class="popup-information__main">

			<div class="popup-information__data">
				<ul class="popup-information__list">
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										ОГРН
									</h3>

								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										ИНН
									</h3>

								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Устав (все страницы)
									</h3>

								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Карточка сведений контрагента с указанием банковских реквизитов, регистрационных данных, контактных
										адресов и телефонов
									</h3>

								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Копия лицензии и всех приложений к ней, если деятельность, которую осуществляет Контрагент, подлежит
										лицензированию в соответствии с требованиями действующего законодательства.
									</h3>

								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Копии документов, подтверждающие полномочия Руководителя (представителя) контрагента на заключение
										договора со стороны Контрагента

									</h3>

								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
								<div class="Info__count">
									<div class="Info__count-icon">
										<span class="Icon Icon--gray Icon--theme-m">
											<div class="Icon__content">
												<svg class="Icon__svg">
													<use class="Icon__svg-use" xlink:href="#file"></use>
												</svg>
											</div>
										</span>
									</div>
									<span class="Info__count-value">
										<a class="Link Link--blue-decor" href="#"> hgtyj7554_6345345300_9088.jpg
										</a>
									</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="popup-information__footer">
				<div class="popup-information__btns">
					<div class="popup-information__btns-left">
						<a class="Button Button--lime-light Button--theme-m " href="#back" data-fancybox-window="">
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#back"></use>
								</svg>
							</span>
							<span class="Button__text">Назад к данным</span>
						</a>
					</div>
					<div class="popup-information__btns-right">
						<a href="#" class="Button Button--gray-light Button--theme-m  ">
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#edit"></use>
								</svg>
							</span>
							<span class="Button__text">Редактировать</span>
						</a>
					</div>
				</div>
			</div>



		</div>
	</div>
</div>