<div class="popup-information popup-information--info-org popup-information--info-org-seven"
	id="popup-information--info-org-seven" style="display: none">
	<div class="popup-information__wrapper">
		<div class="popup-information__header">
			<div class="popup-information__title">
				<h3 class="popup-information__title-text">
					Магазин “Ромашка” №1
				</h3>
			</div>
		</div>

		<div class="popup-information__main">

			<div class="popup-information__top">
				<ul class="popup-information__list">
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Тип магазина
									</h3>
								</div>
								<div class="Info__count">
									<span class="Info__count-value">
										Торговая точка
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Подчиненность
									</h3>
								</div>
								<div class="Info__count">
									<span class="Info__count-value">
										ООО “Ромашка”
									</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="popup-information__middle">
				<ul class="popup-information__list">
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Город
									</h3>
								</div>
								<div class="Info__count">
									<span class="Info__count-value">
										г. Краснодар
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Фактический адрес
									</h3>
								</div>
								<div class="Info__count">
									<span class="Info__count-value">
										Краснодар, им. А. А. Героя Разведчиков, 234/Б
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Фактический адрес
									</h3>
								</div>
								<div class="Info__count">
									<span class="Info__count-value">
										<a class="Link Link--black" href="#"> rambler.ru
										</a>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Адрес доставки (склада)
									</h3>
								</div>
								<div class="Info__count">
									<span class="Info__count-value">
										Краснодар, им. А. А. Героя Разведчиков, 234/Б
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Телефон магазина
									</h3>

								</div>
								<div class="Info__link">
									<a class="Link Link--black " href="tel:+7(909) 789-67-09">
										+7(909) 789-67-09
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="popup-information__bottom">
				@include('../../blocks/working-mode/working-mode--result.html')
			</div>





		</div>
		<div class="popup-information__footer">
			<div class="popup-information__btns">
				<div class="popup-information__btns-left">

				</div>
				<div class="popup-information__btns-right">
					<a href="#" class="Button Button--gray-light Button--theme-m  ">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#edit"></use>
							</svg>
						</span>
						<span class="Button__text">Редактировать</span>
					</a>
					<a class="Button Button--gray-light Button--theme-m " href="#" data-fancybox-window="">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#trash"></use>
							</svg>
						</span>
						<span class="Button__text">Удалить</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>