<div class="popup-information popup-information--info-org" id="popup-information--info-org" style="display: none">
	<div class="popup-information__wrapper">
		<div class="popup-information__header">
			<div class="popup-information__title">
				<h3 class="popup-information__title-text">
					ИП Ирис
				</h3>
			</div>
		</div>

		<div class="popup-information__main">
			<div class="popup-information__documentation">
				<div class="popup-information__documentation-top">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ИНН
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											6565463765
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОГРН
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											6565463765
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="popup-information__documentation-bottom">
					<div class="popup-information__documentation-bottom-title">
						<h4 class="popup-information__documentation-bottom-title-text">
							Свидетельство о госрегистрации в качестве ИП
						</h4>
					</div>
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Серия
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Номер
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											ОГРИП
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											043548359
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-information__address">

				<div class="popup-information__address-wrapper">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Юридический адрес компании
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											Краснодар, им. А. А. Героя Разведчиков, 234/Б
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Фактический адрес
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											Краснодар, им. А. А. Героя Разведчиков, 234/Б
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-information__requisites-org">
				<div class="popup-information__requisites-org-wrapper">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Банк
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											Альфа-Банк
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Расчётный счёт
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											40702810500000000001
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											Корреспондентский счет
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											76565457674
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<h3 class="Info__title-text">
											БИК
										</h3>

									</div>
									<div class="Info__count">
										<span class="Info__count-value">
											00876433323
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-information__contacts-org">
				<div class="popup-information__contacts-org-wrapper">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<div class="Info__title-icon">
											<span class="Icon Icon--black Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#web"></use>
													</svg>
												</div>
											</span>
										</div>
										<h3 class="Info__title-text">
											Официальный e-mail
										</h3>

									</div>
									<div class="Info__link">
										<a class="Link Link--black " href="e-mail:info@romashka.ru">
											info@romashka.ru
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<div class="Info__title-icon">
											<span class="Icon Icon--black Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#phone-dark"></use>
													</svg>
												</div>
											</span>
										</div>
										<h3 class="Info__title-text">
											Телефон для связи
										</h3>

									</div>
									<div class="Info__link">
										<a class="Link Link--black " href="tel:+7(909) 654-67-78">
											+7(909) 654-67-78
										</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-information__passport">
				<div class="popup-information__passport-wrapper">
					<div class="popup-information__passport-top">
						<ul class="popup-information__list">
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												ФИО владельца паспорта
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												Иванерко Анатолий Евгеньевич
											</span>
										</div>
									</div>
								</div>
							</li>
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												Кем выдан
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												ОУФРМ Краснодарском крае в Северном округе
											</span>
										</div>
									</div>
								</div>
							</li>
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												Адрес регистрации
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												Краснодар, им. А. А. Героя Разведчиков, 234/Б
											</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="popup-information__passport-bottom">
						<div class="popup-information__passport-bottom-title">
							<h4 class="popup-information__passport-bottom-title-text">
								Данные паспорта
							</h4>
						</div>
						<ul class="popup-information__list">
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												Серия
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												04
											</span>
										</div>
									</div>
								</div>
							</li>
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												Номер
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												35
											</span>
										</div>
									</div>
								</div>
							</li>
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												Код
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												046675
											</span>
										</div>
									</div>
								</div>
							</li>
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												Дата выдачи
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												12.09.1990
											</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="popup-information__footer">
			<div class="popup-information__btns">
				<div class="popup-information__btns-left">
					<a class="Button Button--lime-light Button--theme-m " href="#file" data-fancybox-window="">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#file"></use>
							</svg>
						</span>
						<span class="Button__text">Документы</span>
					</a>
				</div>
				<div class="popup-information__btns-right">
					<a href="#" class="Button Button--gray-light Button--theme-m  ">
            <span class="Button__icon">
              <svg class="Button__icon-svg">
                <use class="Button__icon-svg-use" xlink:href="#edit"></use>
              </svg>
            </span>
            <span class="Button__text">Редактировать</span>
          </a>
					<a class="Button Button--gray-light Button--theme-m " href="#" data-fancybox-window="">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#trash"></use>
							</svg>
						</span>
						<span class="Button__text">Удалить</span>
					</a>
				</div>
			</div>
		</div>



	</div>
</div>