.popup-information {
  @include adaptiv-value("padding-top", 22, 20, 1);
  @include adaptiv-value("padding-bottom", 35, 29, 1);
  @include adaptiv-value("padding-right", 40, 13, 1);
  @include adaptiv-value("padding-left", 40, 13, 1);
  box-shadow: 0px 5px 15px rgba(143, 150, 176, 0.3);
  max-width: 1000px;
  width: 100%;
  max-height: 750px;
	overflow-y: auto;
	overflow-x: hidden;
  // height: 700px;
  // height: 100%;
  background: #eeeff7;
  line-height: 118%;

  //! Страницы
  &--shop {
    .popup-information {
      &__wrapper {
        @include adaptiv-value("padding-right", 30, 1, 1);
        margin-right: -10px;
      }
    }
  }
  &--select-org {
    height: 700px;

    .popup-information {
      width: 1000px;
      &__btns {
        display: flex;
        margin-top: 30px;
        .Button {
          margin-right: 10px;
          &--theme-m-w {
            width: 120px;
          }
          &__text {
            @include adaptiv-value("font-size", 22, 18, 1);
          }
        }
        .dropdown {
          width: 120px;
          &__button {
            &::after {
              border-color: $white transparent transparent transparent;
            }
            background: $lime;
            height: 100%;
            border-radius: 6px;
          }
          &__button-text {
            color: $white;
            @include adaptiv-value("font-size", 22, 18, 1);
          }
          &__list-item-text {
            @include adaptiv-value("font-size", 22, 18, 1);
          }
        }
      }
      &__title {
        @include adaptiv-value("font-size", 22, 18, 1);
        font-weight: 400;
      }
      &__wrapper {
        justify-content: center;
        align-items: center;
      }
    }
  }
  &--info-org {
    background: $white;

    &-seven,
    &-eight {
      max-height: 780px;
      height: unset;
      max-width: 730px;
    }

    .popup-information {
      //! Блоки

      &__address {
        margin-top: 20px;
        &-title {
          margin-bottom: 15px;
        }
        .popup-information {
          &__list {
            flex-direction: column;
            align-items: start;
          }
          &__item {
            &:not(:first-child) {
              margin-top: 15px;
            }
          }
        }
      }
      &__documentation {
        &-bottom {
          display: flex;
          @include adaptiv-value("margin-top", 15, 7, 1);
          .popup-information {
            &__list {
              flex-wrap: wrap;
            }
          }
        }
        &-bottom-title {
          margin-right: 10px;
          @include adaptiv-value("font-size", 16, 14, 1);
        }
      }
      &__requisites-org {
        .popup-information {
          &__list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            @include adaptiv-value("gap", 15, 5, 1);
          }
          &__item {
          }
        }
      }
      &__contacts-org {
        .popup-information {
          &__list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 15px;
          }
          &__item {
          }
        }
      }
      &__passport {
        &-top {
          .popup-information {
            &__list {
              display: grid;
              grid-template-columns: 1fr;
              gap: 15px;
            }
            &__item {
            }
          }
        }
        &-bottom {
          display: flex;
          @include adaptiv-value("margin-top", 15, 7, 1);
          .popup-information {
            &__list {
              flex-wrap: wrap;
            }
          }
        }
        &-bottom-title {
          margin-right: 10px;
          @include adaptiv-value("font-size", 16, 14, 1);
        }
      }
      &__post {
        &-content {
          .popup-information {
            &__list {
              display: grid;
              grid-template-columns: 1fr;
              gap: 15px;
            }
            &__item {
            }
          }
        }
      }
      &__data {
        @include adaptiv-value("margin-top", 20, 10, 1);
        .popup-information {
          &__list {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .Info {
              &__count {
                @include adaptiv-value("font-size", 14, 12, 1);
                &:not(:last-child) {
                  margin-bottom: 10px;
                }
              }
              &__title {
                margin-bottom: 10px;
              }
              &__wrapper {
                flex-direction: column;
                align-items: flex-start;
              }
            }
          }
          &__item {
            &:not(:first-child) {
              @include adaptiv-value("margin-top", 22, 14, 1);
            }
          }
        }
      }
      &__proxy-org {
        &-content {
          .popup-information {
            &__list {
              display: grid;
              grid-template-columns: 1fr;
              gap: 15px;
            }
            &__item {
            }
          }
        }
      }
      &__box-post-proxy {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 15px;
      }
      &__top {
        .popup-information {
          &__list {
            justify-content: space-between;
          }
        }
      }
      &__middle {
        .popup-information {
          &__list {
            display: grid;
            gap: 15px;
          }
        }
      }
      &__main {
        margin-top: 20px;
      }

      //! Общие стили

      &__btns {
        width: 100%;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
        }
        &-right {
          display: flex;
          .Button {
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
        .Button {
          &--theme-m {
            width: 100%;
            padding: 5px 25px;
            min-height: 42px;
          }
        }
      }
      &__list {
        display: flex;
        align-items: center;
      }
      &__item {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      &__main {
        & > div {
          &:not(:last-child) {
            border-bottom: 1px solid $gray-border;
            @include adaptiv-value("padding-bottom", 20, 12, 1);
            @include adaptiv-value("margin-bottom", 20, 12, 1);
          }
        }
      }
      &__wrapper {
        // margin-right: -30px;

        @include adaptiv-value("padding-right", 10, 5, 1);
      }
    }
  }
  //! Модификаторы
  &--one {
  }
  // !! Страницы в слайдере
  &__documentation {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid $gray-border;
    .popup-information {
      &__documentation-item {
        width: 100%;
        #filedrag {
          background-color: transparent;
          justify-content: space-between;
        }
        .dragfiles {
          &__content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          &__text-warning-upload {
            text-shadow: none;
            color: red;
          }
          &__text-warning-upload--success {
            color: #0063f9;
          }
          &__text-warning-upload {
            // color: #0063f9;
          }
        }
      }
      &__documentation-item-dragfiles {
        @include adaptiv-value("width", 900, 100, 1);
        height: 50px;
        position: relative;
      }
    }
    .dropdown {
      flex: 1 1 40%;
      margin-right: 20px;
      align-items: center;
      &__content {
        width: 250px;
      }
      &__list {
      }
      &__heading {
        text-align: end;
        margin-right: 10px;
        width: 48%;
      }
    }
    .Input {
      flex: 1 1 8%;
      &:not(:first-child) {
        margin: 0;
      }
      &--large {
        flex: 1 1 60%;
        .Input {
          &__label-text {
            width: 40%;
          }
          &__inp {
            margin-left: 10px;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
      &__inp {
        width: 100%;
      }
    }
    .popup-information__form-wrapper {
      display: flex;
      align-items: flex-start;
    }
  }
  &__main-info {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid $gray-border;
    .dropdown {
      flex: 1 1 40%;
      margin-right: 10px;
      align-items: center;
      &__content {
        width: 250px;
      }
      &__list {
      }
      &__heading {
        text-align: end;
        margin-right: 10px;
      }
    }
    .Input {
      flex: 1 1 8%;
      &:not(:first-child) {
        margin: 0;
      }
      &--large {
        flex: 1 1 35%;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
      &__inp {
        width: 100%;
      }
    }
    .popup-information__form-wrapper {
      display: flex;
      align-items: flex-start;
    }
  }
  &__supervisor {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid $gray-border;

    &--two {
    }

    .dropdown {
      flex: 1 1 40%;
      margin-right: 20px;
      align-items: center;
      &__content {
        width: 250px;
      }
      &__list {
      }
      &__heading {
        text-align: end;
        margin-right: 10px;
        width: 48%;
      }
    }
    .Input {
      flex: 1 1 8%;
      &:not(:first-child) {
        margin: 0;
      }
      &--large {
        flex: 1 1 60%;
        .Input {
          &__label-text {
            width: 40%;
          }
          &__inp {
            margin-left: 10px;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
      &__inp {
        width: 100%;
      }
    }
    .popup-information__form-wrapper {
      display: flex;
      align-items: flex-start;
    }
  }
  &__proxy {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid $gray-border;

    .dropdown {
      flex: 1 1 40%;
      margin-right: 20px;
      align-items: center;
      &__content {
        width: 250px;
      }
      &__list {
      }
      &__heading {
        text-align: end;
        margin-right: 10px;
        width: 48%;
      }
    }
    .date {
      width: 360px;
      &__text {
        width: 150px;
      }
      .Input {
        &__inp {
          width: 200px;
        }
        &__text {
        }
      }
    }
    .Input {
      flex: 1 1 8%;
      &:not(:first-child) {
        margin: 0;
      }

      &--large {
        flex: 1 1 60%;
        .Input {
          &__label-text {
            width: 26%;
          }
          &__inp {
            margin-left: 10px;
            width: 210px;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
      &__inp {
        // width: 100%;
      }
    }

    .popup-information__form-wrapper {
      display: flex;
      align-items: flex-start;
    }
  }
  &__main-info-form {
    display: flex;
    .popup-information__form-left {
      display: flex;
      flex: 1 1 70%;
      margin-right: 10px;
    }
    .popup-information__form-right {
      display: flex;
      flex: 1 1 25%;
    }
  }
  &__additional-info-form {
    .popup-information__form-wrapper {
      .popup-information__form-left {
        display: flex;
      }
      .popup-information__form-right {
        display: flex;
      }
      flex-direction: row;
    }
  }
  &__shop {
    .popup-information {
      &__form-wrapper {
        flex-direction: column;
        &:not(:last-child) {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid $gray-border;
        }
        .Input {
          &__inp {
            width: 250px;
          }
          &__label-text {
            width: 130px;
          }
        }
        .dropdown {
          display: flex;
          justify-content: flex-end;
          &__content {
            width: 250px;
          }
        }
      }
      &__shop-wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        @include adaptiv-value("gap", 50, 10, 1);
      }
      &__shop-content-left {
        margin-top: 10px;
      }
      &__shop-content-right {
        border-left: 1px solid $gray-border;
        padding-left: 30px;
      }
    }
  }

  //!! Общие стили
  #inn-error {
    display: none !important;
  }
  .input-validation--invalid {
    border-color: $red;
  }
  &__slide {
  }
  &__block-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 118%;
    color: $black;
    margin-bottom: 22px;
  }
  &__additional-info {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid $gray-border;

    .Input {
      flex: 1 1 25%;
      &:not(:last-child) {
        margin-right: 40px;
      }
      &:not(:first-child) {
        margin: 0;
      }
      &__inp {
        margin-left: 10px;
        width: 100%;
      }
      &__label-text {
        width: 100px;
      }
    }
  }
  &__requisites {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid $gray-border;

    .Input {
      flex: 1 1 25%;

      &:not(:last-child) {
        margin-right: 125px;
      }
      &:not(:first-child) {
        margin: 0;
      }
      &__inp {
        margin-left: 10px;
        width: 65%;
      }
      &__label-text {
        width: 33%;
        &--large {
          width: 300px;
          margin-left: -166px;
        }
        // white-space: nowrap;
      }
    }
  }
  &__contacts {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid $gray-border;
    .popup-information__form-wrapper--vertical {
      flex-direction: column;
      align-items: flex-start;
    }
    .Input {
      flex: 1 1 100%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &:not(:first-child) {
        margin: 0;
      }
      &__inp {
        margin-left: 13px;
        max-width: 259px;
      }
      &__label-text {
        width: 126px;
      }
    }
  }
  &__block-inputs {
  }
  &__fill-data {
    .popup-information__block-inputs-left {
      flex: 1 1 60%;
      margin-right: 20px;
      .Input {
        width: 100%;
        &:not(:first-child) {
          margin: 0;
        }
        &__label {
          text-align: center;
        }
        &__inp {
          margin-left: 10px;
          width: 100%;
          flex: 1 1 100%;
        }
      }
    }
    .popup-information__block-inputs-right {
      flex: 1 1 38%;
      display: flex;
      .Input:not(:first-child) {
        margin-top: 0;
      }
      .Input {
        width: 163px;
        &:not(:first-child) {
          margin: 0;
        }
        &:not(:last-child) {
          margin-right: 20px;
        }
        &__inp {
          width: 120px;
          margin-left: 10px;
        }
      }
    }
  }
  &__fill-data-form {
    margin-top: 35px;
  }
  &__footer {
    color: $black;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  &__footer-right {
    .popup-information__btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .Button {
        border-radius: 6px;
        &--theme-l {
          width: 205px;
          min-height: 52px;
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
        &__icon {
          &--right {
            margin-left: 8px;
          }
        }
      }
    }
  }
  &__form {
    width: 100%;
  }
  &__form-wrapper {
    display: flex;
    justify-content: space-between;
    &:not(:first-child) {
      margin-top: 8px;
    }
    .dropdown {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
  &__main {
  }
  .popup-swiper-btn-prev-js {
  }
	&__data {
		overflow-y: auto;
    overflow-x: hidden;
		max-height: 555px;
	}
  .dropdown {
    display: flex;
    color: $black;
    &__heading {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
  &__slide {
  }
  &__swiper-container {
  }
  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 118%;
    color: $black;
  }
  &__title-text {
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		height: 100%;


  }
  &__wrapper-slide {
    max-width: 1000px;
  }
  .input-validation__message {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    text-align: end;
    color: $red;
  }
  .Input {
    &:not(:first-child) {
      // margin: 0;
    }
    &:not(:last-child) {
      // margin-right: 10px;
    }

    &__label {
      // width: 100%;
    }
    &__inp {
      margin-left: 10px;
    }
    &__label-text {
      // margin-right: 10px;
    }
  }

  ::-webkit-scrollbar {
    width: 4px; /* ширина для вертикального скролла */
    height: 4px; /* высота для горизонтального скролла */
    background-color: transparent;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $lime;
    cursor: pointer;
  }

  /* Стрелки */

  ::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
  }

  ::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
  }

  ::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
  }
}

.popup__disabled {
  pointer-events: none;
  background-color: $gray-bg !important;
  .Button__text {
    color: $gray !important;
  }
  .Button__icon-svg {
    fill: $gray;
  }
}
