<div class="popup-information popup-information--info-org popup-information--info-org-eight"
	id="popup-information--info-org-eight" style="display: none">
	<div class="popup-information__wrapper">
		<div class="popup-information__header">
			<div class="popup-information__title">
				<h3 class="popup-information__title-text">
					Эвангелион Иван Викторович
				</h3>
			</div>
		</div>

		<div class="popup-information__main">

			<div class="popup-information__date">
				<ul class="popup-information__list">
					<li class="popup-information__item">
						<div class="Info">
							<div class="Info__wrapper">
								<div class="Info__title">
									<h3 class="Info__title-text">
										Дата рождения
									</h3>
								</div>
								<div class="Info__count">
									<span class="Info__count-value">
										21.09.1990
									</span>
								</div>
							</div>
						</div>
					</li>

				</ul>
			</div>

			<div class="popup-information__post">
				<div class="popup-information__post-wrapper">
					<div class="popup-information__post-content">
						<ul class="popup-information__list">
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												Выберите роль для работы в л/к
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												Администратор
											</span>
										</div>
									</div>
								</div>
							</li>
							<li class="popup-information__item">
								<div class="Info">
									<div class="Info__wrapper">
										<div class="Info__title">
											<h3 class="Info__title-text">
												Выберите должность
											</h3>
										</div>
										<div class="Info__count">
											<span class="Info__count-value">
												Директор
											</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="popup-information__contacts-org">
				<div class="popup-information__contacts-org-wrapper">
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<div class="Info__title-icon">
											<span class="Icon Icon--black Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#web"></use>
													</svg>
												</div>
											</span>
										</div>
										<h3 class="Info__title-text">
											E-mail
										</h3>

									</div>
									<div class="Info__link">
										<a class="Link Link--black " href="e-mail:info@romashka.ru">
											info@romashka.ru
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__title">
										<div class="Info__title-icon">
											<span class="Icon Icon--black Icon--theme-m">
												<div class="Icon__content">
													<svg class="Icon__svg">
														<use class="Icon__svg-use" xlink:href="#phone-dark"></use>
													</svg>
												</div>
											</span>
										</div>
										<h3 class="Info__title-text">
											Телефон
										</h3>

									</div>
									<div class="Info__link">
										<a class="Link Link--black " href="tel:+7(909) 654-67-78">
											+7(909) 654-67-78
										</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="popup-information__address">

				<div class="popup-information__address-wrapper">
					<div class="popup-information__address-title">
						<h4 class="popup-information__address-title-text">
							Подчиненность
						</h4>
					</div>
					<ul class="popup-information__list">
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">
									<div class="Info__count">
										<span class="Info__count-value">
											г. Краснодар, ул. 40 лет победы, дом 10, офис 101
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="popup-information__item">
							<div class="Info">
								<div class="Info__wrapper">

									<div class="Info__count">
										<span class="Info__count-value">
											г. Краснодар, ул. им Героя А. А. Аверкиева, дом 5
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="popup-information__footer">
			<div class="popup-information__btns">
				<div class="popup-information__btns-left">

				</div>
				<div class="popup-information__btns-right">
					<a href="#" class="Button Button--gray-light Button--theme-m  ">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#edit"></use>
							</svg>
						</span>
						<span class="Button__text">Редактировать</span>
					</a>
					<a class="Button Button--gray-light Button--theme-m " href="#" data-fancybox-window="">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#trash"></use>
							</svg>
						</span>
						<span class="Button__text">Удалить</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>