<div class="popup-information popup-information--select-org" id="popup-information--select-org" style="display: none">
	<div class="popup-information__wrapper">
		<div class="popup-information__title">
			<h3 class="popup-information__title-text">
				Выберите тип организации
			</h3>
		</div>
		<div class="popup-information__btns">
			<a class="Button Button--lime Button--theme-m Button--theme-m-w" href="#">
				<span class="Button__text">ИП</span>
			</a>
			<div class="dropdown">
				<div class="dropdown__content">
					<button class="dropdown__button">
						<span class="dropdown__button-text">ООО</span>
					</button>
					<ul class="dropdown__list">
						<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
							<span class="dropdown__list-item-text">ООО</span>
						</li>
						<li class="dropdown__list-item" data-value="down-price">
							<span class="dropdown__list-item-text">ЗАО</span>
						</li>
						<li class="dropdown__list-item" data-value="down-price">
							<span class="dropdown__list-item-text">ОАО</span>
						</li>
					</ul>
				</div>
				<input type="text" name="select-category" value="" class="dropdown__input-hidden">
			</div>
		</div>
		
	</div>
</div>