.popup-find-address {
  padding: 0;
	background: $white;

  &__wrapper {
    @include adaptiv-value("padding-top", 60, 60, 1);
    @include adaptiv-value("padding-bottom", 60, 60, 1);
    @include adaptiv-value("padding-left", 40, 20, 1);
    @include adaptiv-value("padding-right", 40, 20, 1);

    max-width: 500px;
  }

  &__block-input-form {
  }

  &__block-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
  }

  .Button {
    @include adaptiv-value("margin-top", 60, 50, 1);

    &__text {
    }

    &--lime {
    }

    &--theme-s {
    }
  }

  .Input {
    &__inp {
      @include adaptiv-value("width", 300, 310, 1);

      display: flex;
      flex-shrink: 0;
      margin-left: 20px;
    }

    &__label {

    }

    &__label-text {
      @include adaptiv-value("font-size", 18, 14, 1);

      color: $black;
    }
  }

  .Privacy-policy {
    margin-left: 75px;
    max-width: 275px;

    &__input {
    }

    &__label {
    }

    &__text {
      &--policy {
      }
    }
  }

  .Title {
    font-weight: 600;
  }

  .checkbox {
    @include adaptiv-value("margin-top", 20, 35, 1);
  }

  .input-validation {
    &__message {
    }

    &__message-mod {
    }
  }
}