<div class="popup-find-address _bs" id="popup-find-address" style="display: none">
  <div class="popup-find-address__wrapper">
   
    <div class="Title">
      <div class="Title__wrapper--theme-m Title__wrapper--quartz">
        <h2>Получить консультацию</h2>
      </div>
    </div>

    <div class="popup-find-address__block-input-form">
      <form class="popup-find-address__form js-form-validation" action="" novalidate="novalidate">
        <div class="popup-find-address__block-inputs">
          <div class="Input  input">
            <label class="Input__label"> <span class="Input__label-text">ФИО</span> <input class="Input__inp" type="text" name="name" placeholder="Ваше ФИО..." data-index-input="1" required=""></label>
            <span class="input-validation__message input-validation__message-mod"></span>
          </div>
          <div class="Input input">
            <label class="Input__label"> <span class="Input__label-text">Ваш город</span><input class="Input__inp" type="city" name="mail" placeholder="Введите Ваш город... " data-index-input="2" required=""></label>
            <span class="input-validation__message input-validation__message-mod"></span>
          </div>
          <div class="Input input">
            <label class="Input__label"> <span class="Input__label-text">Телефон</span><input class="Input__inp mask-phone-js" type="tel" name="tel" data-index-input="3" required=""></label>
            <span class="input-validation__message input-validation__message-mod"></span>
          </div>
					<div class="Input  input">
            <label class="Input__label"> <span class="Input__label-text">Род вашей деятельности</span> <input class="Input__inp" type="text" name="name" placeholder="Род вашей деятельности..." data-index-input="1" required=""></label>
            <span class="input-validation__message input-validation__message-mod"></span>
          </div>
        </div>
        <div class="Privacy-policy">
          <label class="Privacy-policy__checkbox checkbox">
            <input class="Privacy-policy__input" type="checkbox" name="checkbox" required="">
            <span class="Privacy-policy__label">
              <span class="Privacy-policy__text Privacy-policy__text--policy">
                Согласен с <a href="##" target="_blank">политикой</a> обработки персональных данных
              </span>
            </span>
            <span class="input-validation__message input-validation__message-mod"></span>
          </label>
        </div>
        <button class="Button Button--lime Button--theme-s">
          <span class="Button__text">Получить данные</span>
        </button>
      </form>
    </div>

  </div>
</div>
