<div class="delivery delivery--select">
	<div class="delivery__wrapper">
		<div class="delivery__info">
			<div class="delivery__icon">
				<span class="Icon Icon--theme-m">
					<div class="Icon__content">
						<svg class="Icon__svg">
							<use class="Icon__svg-use" xlink:href="#truck"></use>
						</svg>
					</div>
				</span>
			</div>
			<div class="delivery__caption">
				<div class="delivery__title">
					<h3 class="delivery__title-text">
						Доставка
					</h3>
				</div>
				<div class="delivery__subtitle">
					<span class="delivery__subtitle-text">
						Выберите из списка точку доставки, указанную вами в личных данных
					</span>
				</div>
			</div>
		</div>
		<div class="delivery__select">
			<div class="dropdown">
				<button class="dropdown__button">
					<span class="dropdown__button-text">МДФ</span>
				</button>
				<ul class="dropdown__list">
					<li class="dropdown__list-item" data-value="up-price">
						<span class="dropdown__list-item-text">МДФ</span>
					</li>
					<li class="dropdown__list-item" data-value="down-price">
						<span class="dropdown__list-item-text">Металл</span>
					</li>
				</ul>
				<input type="text" name="select-category" value="" class="dropdown__input-hidden">
			</div>
		</div>
	</div>
</div>