.payment {
  &--select {
    .payment {
      &__icon {
        .Icon {
          fill: $lime;
        }
      }
      &__title {
        color: $lime;
      }
      &__wrapper {
        border: 1px solid $lime;
      }
			&__select {
				.dropdown {
					pointer-events: visible;
					width: 100%;
						border: 1px solid inherit;
		
					&__button {
						background: inherit;
					}
					&__button-text {
						color: inherit;
					}
					&__input-hidden {
					}
					&__list {
					}
					&__list-item {
					}
					&__list-item-text {
					}
				}
			}
    }
  }
  &__caption {
  }
  &__icon {
    margin-right: 20px;
    .Icon {
      fill: $gray;
    }
    .Icon--theme-m .Icon__svg {
      width: 48px;
      height: 48px;
    }
  }
  &__info {
    display: flex;
    flex: 1 1 65%;
    align-items: center;
    margin-right: 20px;
  }

  &__subtitle {
  }
  &__subtitle-text {
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 110%;
		&--decor {
			font-size: 16px;
			font-weight: 600;
		}
  }
  &__title-text {
  }
  &__wrapper {
    margin-top: 20px;
    display: flex;
    border: 1px solid #eeeff7;
    border-radius: 6px;
    padding: 13px 18px 13px 20px;
    align-items: center;
    cursor: pointer;
  }
}
