::-webkit-scrollbar {
	width: 10px; /* ширина для вертикального скролла */
	height: 10px; /* высота для горизонтального скролла */
	background-color: transparent;

}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: $gray;
	border-radius: 9em;
	box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
	background-color: $lime;
	cursor: pointer;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
	background: transparent;
	background-color: transparent;
	display: none;
	
}

// Изменения скролла для FireFox
* {
	scrollbar-color: $gray transparent;     /* «цвет ползунка» «цвет полосы скроллбара» */
	scrollbar-width: thin;  /* толщина */
}