<nav class="nav-orders">
	<div class="nav-orders__wrapper">
		<div class="nav-orders__top">
			<div class="nav-orders__top-left">
				<div class="nav-orders__select">
					<div class="dropdown">
						<button class="dropdown__button dropdown__button--active">
							<span class="dropdown__button-text">Металл</span>
						</button>
						<ul class="dropdown__list dropdown__list">
							<li class="dropdown__list-item" data-value="up-price">
								<span class="dropdown__list-item-text">МДФ</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
							<li class="dropdown__list-item dropdown__list-item--active" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>

						</ul>
						<input type="text" name="select-category" value="" class="dropdown__input-hidden">
					</div>
					<div class="dropdown">
						<button class="dropdown__button dropdown__button--active">
							<span class="dropdown__button-text">Металл</span>
						</button>
						<ul class="dropdown__list dropdown__list">
							<li class="dropdown__list-item" data-value="up-price">
								<span class="dropdown__list-item-text">МДФ</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
							<li class="dropdown__list-item dropdown__list-item--active" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>
							<li class="dropdown__list-item" data-value="down-price">
								<span class="dropdown__list-item-text">Металл</span>
							</li>

						</ul>
						<input type="text" name="select-category" value="" class="dropdown__input-hidden">
					</div>
				</div>
				<div class="nav-orders__date">
					<form class="nav-orders__date-form Input">
						<input class="nav-orders__date-input Input__inp" type="text" id="calendar" name="date" placeholder="Выберите дату">
					</form>
				</div>
			</div>
			<div class="nav-orders__top-right">
				<div class="Search">
					<div class="Search__block">
						<div class="Search__form">
							<form action="">
								<input type="text" placeholder="Поиск заказа..." class="Search__input" name="" value="" size="15"
									maxlength="50">
								<button name="" type="submit" value="Поиск заказа" class="Search__button">
									<div class="Search__block-icon" data-search-index="1">
										<svg class="Search__svg">
											<use xlink:href="#search" class="Search__use"></use>
										</svg>
									</div>
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="nav-orders__top-right-btns">
					<button class="Button Button--lime  Button--theme-s Button--theme-s-n">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#acrobat"></use>
							</svg>
						</span>
					</button>
					<button class="Button Button--lime  Button--theme-s Button--theme-s-n">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#excel"></use>
							</svg>
						</span>
					</button>
				</div>
			</div>
		</div>
		<div class="nav-orders__bottom">
			<div class="nav-orders__tabs">
				@include('../tabs/tabs--line.html')

			</div>
		</div>
	</div>
</nav>