.nav-orders {
  margin-top: 20px;
  margin-bottom: 50px;
  &__bottom {
    margin-top: 20px;
  }
  &__date {
    display: flex;

  }
  &__date-form {
    .Input {
      &__inp {
        width: 210px;
        text-align: center;
				min-height: 42px;
				padding: 8px;
      }
    }
  }
  &__select {
    display: flex;
    margin-right: 10px;
    .dropdown {
			&__button {
				padding: 7px 38px 7px 21px;
			}
      width: 210px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-left {
    display: flex;
    flex: 1 1;
    margin-right: 40px;
  }
  &__top-right {
    display: flex;
    flex: 1 1;
		align-items: center;
    .Search {
      margin-right: 20px;
      flex: 1 1;
      &__input,
			&__button {
        min-height: 42px;
        height: auto;
      }
    }
  }
  &__top-right-btns {
    .Button {
      &:not(:last-child) {
        margin-right: 10px;
      }
      &--theme-s-n {
        width: 44px;
      }
    }
  }
  &__wrapper {
    padding: 15px 25px;
  }
}
