<div class="Input input">
	<label class="Input__label">ФИО
		<input class="Input__inp" type="text" name="name" placeholder="Ваше ФИО..." data-index-input="1"
			required="" />
	</label>
	<span class="input-validation__message input-validation__message-mod"></span>
</div>