<div class="popup-preloader _bs" id="popup-preloader" style="display: none">
	<div class="popup-preloader__wrapper">

		<div class="popup-preloader__loading">
			<div class="preloader">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<div class="popup-preloader__heading">
			<div class="popup-preloader__title">
				<h3 class="popup-preloader__title-text">Подождите...</h3>
			</div>
			<div class="popup-preloader__subtitle">
				<span class="popup-preloader__subtitle-text">
					Идет формирование заказа
				</span>
			</div>
		</div>

	</div>


</div>