.timetable {
    width: 100%;
    &__container {
        border: 1px solid #E3E6F3;
        border-radius: 2px;
        min-height: 42px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &__block {
        position: relative;
    }
    &__inner {
        display: flex;
        .mg-drop-down {
            width: 18px;
            height: 18px;
            .mg__buttons {
                fill: $checkbox-off;
            }
        }
    }
    &__item {
        position: absolute;
        //min-height: 300px;
        min-width: 300px;
        // top: 36px;
        // left: -96%;
        background-color: $white;
        box-shadow: 0px 5px 15px rgba(143, 150, 176, 0.3);
        z-index: 1;
    }
    &__title {
        color: $black;
    }
}

.parent-click {
    position: relative;
}

.child-click {
    position: fixed;
    // top: 57%;
    // left: 50%;
    // transform: translate(-7%, 0%);
}


/* working-days */

.working-days {
    &__header {}
    &__headlines {
        min-height: 40px;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        &:not(:first-child) {
            border-bottom: 1px solid $gray-border;
        }
        &:nth-child(1) {
            width: 13.333%;
        }
        &:nth-child(2) {
            width: 43.333%;
        }
        &:nth-child(3) {
            width: 43.333%;
        }
    }
    &__body {
        &-container {
            min-height: 40px;
        }
    }
    &__subtitle {
        &:nth-child(1) {
            display: flex;
            width: 13.333%;
            font-weight: 600;
            color: $gray;
            align-items: center;
            justify-content: center;
        }
        &:nth-child(2) {
            width: 43.333%;
            line-height: 19px;
            display: flex;
            align-items: center;
            color: #000000;
            justify-content: center;
            padding: 0 3px;
            border-left: 1px solid $gray-border;
        }
        &:nth-child(3) {
            width: 43.333%;
            line-height: 19px;
            display: flex;
            align-items: center;
            color: #000000;
            justify-content: center;
            padding: 0 3px;
            border-left: 1px solid $gray-border;
        }
    }
}


/* themes */

.timetable {
    &--display {
        &--flex {
            display: flex;
        }
    }
}