<div class="mg-no-standard">
    <div class="mg-no-standard__container mg-display--theme--flex mg-status--theme--padding">
        <div class="mg-no-standard__item mg-status__description">
            <div class="mg-no-standard__title">
                <span class="mg-bold mg-colors--lime">Межкомнатные двери — 27 000 ₽ </span> <span
                    class="mg-colors--gray">33 шт.</span>
            </div>
            <div class="mg-no-standard__block">
                <span class="mg-status-description__child">
                    <a class="mg-status-description__link parent-menu">
                        <span class="mg-bold mg-colors--default">Полотно — 24 000 ₽ </span><span
                            class=" mg-colors--gray">1
                            шт.</span><span class="mg-colors--gray">Межкомнатные двери/Ламинированные двери/Гладкая
                            ДГ</span>


                    </a>
                    <ul class="mg-status-description__list child-menu">
                        <li class="mg-status-description__li">
                            <span class="mg-colors--gray">Вид двери</span>
                            <span>ДО</span>
                        </li>
                        <li class="mg-status-description__li">
                            <span class="mg-colors--gray">Подкатегория двери</span>
                            <span>Ламинированные двери</span>
                        </li>
                        <li class="mg-status-description__li">
                            <span class="mg-colors--gray">Наименование двери</span>
                            <span>Глухая</span>
                        </li>
                        <li class="mg-status-description__li">
                            <span class="mg-colors--gray">Цвет</span>
                            <span>Красный кипарис</span>
                        </li>
                        <li class="mg-status-description__li mg-display--theme--flex">
                            <div class="mg-status-description__li-height">
                                <span class="mg-colors--gray">Высота (мм)</span>
                                <span>2 000</span>
                            </div>
                            <div class="mg-status-description__li-width">
                                <span class="mg-colors--gray">Ширина (мм)</span>
                                <span>800</span>
                            </div>
                        </li>

                    </ul>
                </span>
                <span class="mg-status-description__child">
                    <a class="mg-status-description__link parent-menu">
                        <span class="mg-bold mg-colors--default">Полотно — 24 000 ₽ </span><span
                            class=" mg-colors--gray">1
                            шт.</span><span class="mg-colors--gray">Межкомнатные двери/Ламинированные двери/Гладкая
                            ДГ</span>


                    </a>
                    <ul class="mg-status-description__list child-menu">
                        <li class="mg-status-description__li">
                            <span class="mg-colors--gray">Вид двери</span>
                            <span>ДО</span>
                        </li>
                        <li class="mg-status-description__li">
                            <span class="mg-colors--gray">Подкатегория двери</span>
                            <span>Ламинированные двери</span>
                        </li>
                        <li class="mg-status-description__li">
                            <span class="mg-colors--gray">Наименование двери</span>
                            <span>Глухая</span>
                        </li>
                        <li class="mg-status-description__li">
                            <span class="mg-colors--gray">Цвет</span>
                            <span>Красный кипарис</span>
                        </li>
                        <li class="mg-status-description__li mg-display--theme--flex">
                            <div class="mg-status-description__li-height">
                                <span class="mg-colors--gray">Высота (мм)</span>
                                <span>2 000</span>
                            </div>
                            <div class="mg-status-description__li-width">
                                <span class="mg-colors--gray">Ширина (мм)</span>
                                <span>800</span>
                            </div>
                        </li>

                    </ul>
                </span>
            </div>
        </div>
        <aside class="mg-no-standard__item mg-status__info">
            <div class="mg-no-standard__aside">
                <div class="mg-no-standard__aside-title">
                    <span class="mg-h1">Заполнение заявки</span>
                </div>
                <div class="mg-no-standard__aside-buttons">
                    <div class="mg-no-standard__button mg-no-standard__button-first mg-display--theme--flex">
                        <span class="mg-bold">1.</span>
                        <span>
                            <div class="mg-btn mg-btn--theme--block">
                                <div class="mg-btn--theme--basic mg-display--theme--flex">
                                    <span class="mg-btn--theme--download mg-btn--theme--download-s">
                                        <svg class="mg-buttons">
                                            <use class="mg-buttons__bottom-use" xlink:href="#mg-download"></use>
                                        </svg>
                                    </span>
                                    <span class="mg-download-title mg-default">
                                        Скачать форму заявки
                                    </span>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="mg-no-standard__button mg-no-standard__button-second mg-display--theme--flex">
                        <span class="mg-bold">1.</span>
                        <span>
                            <div class="mg-btn mg-btn--theme--block">
                                <div class="mg-btn--theme--basic mg-display--theme--flex">
                                    <span class="mg-btn--theme--plus mg-btn--theme--plus-s">
                                        <svg class="mg-buttons">
                                            <use class="mg-buttons__bottom-use" xlink:href="#mg-plus"></use>
                                        </svg>
                                    </span>
                                    <span class="mg-download-title mg-default">
                                        Прикрепить заполненную заявку
                                    </span>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="mg-no-standard__button mg-no-standard__button-third mg-display--theme--flex">
                        <span class="mg-bold">1.</span>
                        <span>
                            <div class="mg-btn mg-btn--theme--block">
                                <div class="mg-btn--theme--basic mg-display--theme--flex">
                                    <span class="mg-btn--theme--exposure mg-btn--theme--exposure-s">
                                        <svg class="mg-buttons">
                                            <use class="mg-buttons__bottom-use" xlink:href="#mg-exposure"></use>
                                        </svg>
                                    </span>
                                    <span class="mg-download-title mg-default">
                                        Подтвердить согласование
                                    </span>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>