<section class="mg-status">
    <div class="mg-status__title mg-status--theme--padding">
        <span class="mg-h1">№004 </span>/<span class="mg-h1-normal"> Двери для Ягодина</span>
    </div>
    <div class="mg-status__container">
        @include('../../blocks/mg-check-status/mg-check-status.html')
    </div>
    <div class="mg-status__block mg-status--theme--padding">
        <div class="mg-status__description">
            <div class="mg-status__item">
                <div class="mg-status-description__header mg-status--theme--bg-status">
                    <span class="mg-h1">Отгружены</span>
                </div>
                <div class="mg-status-description__body">
                    <div class="mg-status-description__group mg-default">
                        <span class="mg-bold mg-colors--lime">Межкомнатные двери — 69 134 ₽</span><span
                            class="mg-colors--gray">12 шт.</span>
                    </div>
                    <span class="mg-status-description__child">
                        <a class="mg-status-description__link parent-menu">
                            <span class="mg-drop-down">
                                <svg class="mg-buttons mg-buttons__bottom-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                            <span class="mg-bold mg-colors--default">Лу — 34 567 ₽</span><span
                                class=" mg-colors--gray">6
                                шт.</span><span class=" mg-colors--gray">Современные
                                покрытия/Экошпон с алюминиевой кромкой/ДГ</span></a>
                        <ul class="mg-status-description__list child-menu">
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>

                        </ul>
                    </span>
                </div>
                <div class="mg-status-description__body">
                    <div class="mg-status-description__group mg-default">
                        <span class="mg-bold mg-colors--lime">Фурнитура — 24 000 ₽</span><span
                            class="mg-colors--gray">30 шт.</span>
                    </div>
                    <span class="mg-status-description__child">
                        <a class="mg-status-description__link parent-menu">
                            <span class="mg-drop-down">
                                <svg class="mg-buttons mg-buttons__bottom-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                            <span class="mg-bold mg-colors--default">Лу — 34 567 ₽</span><span class="mg-colors--gray">6
                                шт.</span><span class=" mg-colors--gray">Современные
                                покрытия/Экошпон с алюминиевой кромкой/ДГ</span></a>
                        <ul class="mg-status-description__list child-menu">
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>

                        </ul>
                    </span>
                    <span class="mg-status-description__child">
                        <a class="mg-status-description__link parent-menu">
                            <span class="mg-drop-down">
                                <svg class="mg-buttons mg-buttons__bottom-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                            <span class="mg-bold mg-colors--default">Лу — 34 567 ₽</span><span
                                class=" mg-colors--gray">6
                                шт.</span><span class=" mg-colors--gray">Современные
                                покрытия/Экошпон с алюминиевой кромкой/ДГ</span></a>
                        <ul class="mg-status-description__list child-menu">
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>

                        </ul>
                    </span>
                </div>

            </div>
            <div class="mg-status__item">
                <div class="mg-status-description__header mg-status--theme--bg-status">
                    <span class="mg-h1">В наличии, но не отгружены</span>
                </div>
                <div class="mg-status-description__body">
                    <div class="mg-status-description__group mg-default">
                        <span class="mg-bold mg-colors--lime">Межкомнатные двери — 69 134 ₽</span><span
                            class="mg-colors--gray">12 шт.</span>
                    </div>
                    <span class="mg-status-description__child">
                        <a class="mg-status-description__link parent-menu">
                            <span class="mg-drop-down">
                                <svg class="mg-buttons mg-buttons__bottom-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                            <span class="mg-bold mg-colors--default">Глухая — 34 567 ₽</span><span
                                class=" mg-colors--gray">6
                                шт.</span><span class=" mg-colors--gray">Ламинированные двери/ДГ</span></a>
                        <ul class="mg-status-description__list child-menu">
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>

                        </ul>
                    </span>
                </div>
                <div class="mg-status-description__body">
                    <div class="mg-status-description__group mg-default">
                        <span class="mg-bold mg-colors--lime">Входные двери — 34 567 ₽</span><span
                            class="mg-colors--gray">1 шт.</span>
                    </div>
                    <span class="mg-status-description__child">
                        <a class="mg-status-description__link parent-menu">
                            <span class="mg-drop-down">
                                <svg class="mg-buttons mg-buttons__bottom-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                            <span class="mg-bold mg-colors--default">Sekrumme зеркало — 34 567 ₽</span><span
                                class="mg-colors--gray">1
                                шт.</span><span class=" mg-colors--gray">Противопожарные</span></a>
                        <ul class="mg-status-description__list child-menu">
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>

                        </ul>
                    </span>

                </div>

            </div>
            <div class="mg-status__item">
                <div class="mg-status-description__header mg-status--theme--bg-status mg-colors--red">
                    <span class="mg-h1">Ожидается</span>
                    <span class="mg-calendar">
                        <svg class="mg-buttons">
                            <use class="mg-buttons__bottom-use" xlink:href="#mg-calendar"></use>
                        </svg>
                    </span>
                    <span>20.09.2020*</span>
                </div>
                <div class="mg-status-description__body">
                    <div class="mg-status-description__group mg-default">
                        <span class="mg-bold mg-colors--lime">Межкомнатные двери — 69 134 ₽</span><span
                            class="mg-colors--gray">12 шт.</span>
                    </div>
                    <span class="mg-status-description__child">
                        <a class="mg-status-description__link parent-menu">
                            <span class="mg-drop-down">
                                <svg class="mg-buttons mg-buttons__bottom-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                            <span class="mg-bold mg-colors--default">Глухая — 34 567 ₽</span><span
                                class=" mg-colors--gray">6
                                шт.</span><span class="mg-colors--gray">Ламинированные двери/ДГ</span>
                            <span class="mg-calendar">
                                <svg class="mg-calendar-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#mg-calendar"></use>
                                </svg>
                            </span>
                            <span class="mg-colors--red">20.09.2020*</span>
                        </a>
                        <ul class="mg-status-description__list child-menu">
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>

                        </ul>
                    </span>
                </div>
                <div class="mg-status-description__body">
                    <div class="mg-status-description__group mg-default">
                        <span class="mg-bold mg-colors--lime">Входные двери — 34 567 ₽</span><span
                            class="mg-colors--gray">1 шт.</span>
                    </div>
                    <span class="mg-status-description__child">
                        <a class="mg-status-description__link parent-menu">
                            <span class="mg-drop-down">
                                <svg class="mg-buttons mg-buttons__bottom-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                            <span class="mg-bold mg-colors--default">Sekrumme зеркало — 34 567 ₽</span><span
                                class="mg-colors--gray">1
                                шт.</span><span class=" mg-colors--gray">Противопожарные</span>
                            <span class="mg-calendar">
                                <svg class="mg-calendar-svg">
                                    <use class="mg-buttons__bottom-use" xlink:href="#mg-calendar"></use>
                                </svg>
                            </span>
                            <span class="mg-colors--red">20.09.2020*</span>
                        </a>
                        <ul class="mg-status-description__list child-menu">
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>
                            <li class="mg-status-description__li">
                                <span>Итальянский орех 2000х700 Глухая — 5 567 ₽</span>
                                <span class="mg-colors--gray">14 шт.</span>
                            </li>

                        </ul>
                    </span>

                </div>

            </div>
        </div>
        <aside class="mg-status__info">
            <div class="mg-status-info">
                <div class="mg-status-info__item mg-status-info__type">
                    <span class="mg-colors--gray">Тип доставки</span>
                    <span class="mg-bold">Доставка</span>
                    <span class="mg-colors--gray">Магазин №1 “Ромашка”/г. Краснодар, ул. 4-я линия 104/1</span>
                </div>
                <div class="mg-status-info__item mg-status-info__payment">
                    <span class="mg-colors--gray">Оплата</span>
                    <span class="mg-bold">Payment in Cash</span>
                </div>
                <div class="mg-status-info__item mg-status-info__products">
                    <span class="mg-colors--gray">Товары (кол-во)</span>
                    <span>41 шт.</span>
                </div>
                <div class="mg-status-info__item mg-status-info__waiting">
                    <span class="mg-colors--gray">Товары в ожидании</span>
                    <span class="mg-status-info__waiting-count">
                        <span>2 шт. — </span>
                        <span>
                            <span class="mg-calendar">
                                <svg class="mg-buttons">
                                    <use class="mg-buttons__bottom-use" xlink:href="#mg-calendar"></use>
                                </svg>
                            </span>
                            <span class="mg-colors--red">20.09.2020*</span>
                        </span>
                    </span>
                    <span class="mg-status-info__waiting-count">
                        <span>2 шт. — </span>
                        <span>
                            <span class="mg-calendar">
                                <svg class="mg-buttons">
                                    <use class="mg-buttons__bottom-use" xlink:href="#mg-calendar"></use>
                                </svg>
                            </span>
                            <span class="mg-colors--red">20.09.2020*</span>
                        </span>
                    </span>
                </div>
                <div class="mg-status-info__item mg-status-info__total">
                    <span class="mg-colors--gray">Итого к оплате</span>
                    <span class="mg-colors--lime mg-h1-big">223 457 ₽</span>
                </div>
                <div class="mg-status-info__item mg-status-info__commet">
                    <span class="mg-colors--gray">Комментарий к заказу</span>
                    <span>Привезти дверь к завтрашнему дню в 16:00. Текст Текст Текст Текст Текст Текст Текст Текст
                        Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст</span>
                </div>
                <div class="mg-status-info__item mg-status-info__note">
                    <span class="mg-colors--red">*Ориентировочная дата прихода товара
                        Точную дату уточняйте у своего менеджера</span>
                </div>
            </div>
        </aside>
    </div>
</section>