.Check {
  &__element {
  }
  &__element-item {
    &:not(:first-child) {
      margin-top: 10px;
    }
		align-items: center;
		.element-item {
      &__desc {
        color: $black;
        font-weight: 600;
        flex: 1 1 48%;
				text-align: end;
      }
      &__desc-text {
      }
      &__title {
        color: $black;
        flex: 1 1 48%;
      }
      &__title-text {
      }
    }
  }
  &__element-list {
  }
  &__element-title {
    font-size: 18px;
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 10px;
		text-align: center;

  }
  &__element-title-text {
  }
  &__heading {
    align-items: center;
  }
  &__feature {
  }
  &__feature-item {
    display: flex;
    &:not(:first-child) {
      margin-top: 8px;
    }
    .feature-item {
      &__desc {
        color: $black;
      }
      &__desc-text {
      }
      &__title {
        color: $black;
        font-weight: 600;
        margin-right: 3px;
      }
      &__title-text {
      }
    }
  }
  &__feature-list {
  }
  &__logo {
    .Logo {
      &__image {
        &--size-s {
          width: 177px;
          max-height: 50px;
        }
      }
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $black;
    position: relative;
    margin-left: 10px;
    height: 100%;
		margin-right: 5px;
    &::before {
      content: "|";
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      height: 50px;
      background: $lime;
      color: transparent;
      width: 2px;
    }
  }
  &__title-icon {
    border: 1px solid $lime;
    border-right: none;
    padding: 10px;
    margin-right: -15px;
    pointer-events: none;
    .Icon {
      &__content {
      }
      &__svg {
      }
      &__svg-use {
      }
      &--black {
      }
      &--theme-m {
        width: 26px;
        height: 26px;
      }
    }
  }
  &__title-text {
  }
  &__type {
  }
  &__type-item {
    flex: 1 1 48%;
    height: 100%;
    position: relative;
    &:not(:first-child) {
      &::before {
        content: "|";
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        height: 81px;
        background: $gray-border;
        color: transparent;
        width: 1px;
      }
    }
    .type-item {
      &__desc {
      }
      &__desc-text {
      }
      &__discount {
        text-decoration: line-through;
      }
      &__discount-text {
      }
      &__price {
				text-align: center;
        color: $black;
        font-weight: 600;
				@include adaptiv-value("font-size", 36, 24, 1);
      }
      &__price-text {
      }
      &__title {
        color: $black;
      }
      &__title-text {
      }
    }
  }
  &__type-list {
  }
  &__inner {
    border: 1px solid $gray-border;
    padding: 10px 15px 30px;
    overflow: hidden;
    & > * {
      position: relative;
      &:not(:first-child) {
        padding-top: 20px;
      }
      &:not(:last-child) {
        padding-bottom: 20px;
        &::before {
          content: "";
          position: absolute;
          width: 140%;
          left: 50%;
          transform: translate(-50%);
          border-bottom: 1px solid $gray-border;
          bottom: 0;
        }
      }
    }
  }
  &__wrapper {
		@include adaptiv-value("padding-top", 45, 5, 1);
		@include adaptiv-value("padding-bottom", 35, 5, 1);
		@include adaptiv-value("padding-left", 35, 5, 1);
		@include adaptiv-value("padding-right", 35, 5, 1);
    padding: 45px 35px 35px;
  }
}
