<div class="Check _bs">
	<div class="Check__wrapper">
		<div class="Check__inner">

			<div class="Check__logo">
				<div class="Logo">
					<a href="#">
						<img class="Logo__image Logo__image--size-s" src="img/logo-svg.svg" alt="">
					</a>
				</div>
			</div>
			<div class="Check__heading _fx-row-sb">
				<div class="Check__title">
					<h3 class="Check__title-text">
						Стрелиция
					</h3>
				</div>
				<div class="Check__title-icon">
					<span class="Icon Icon--lime Icon--theme-m">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#percent"></use>
							</svg>
						</div>
					</span>
				</div>

			</div>
			<div class="Check__feature">
				<ul class="Check__feature-list">
					<li class="Check__feature-item feature-item">
						<div class="feature-item__title">
							<h4 class="feature-item__title-text">
								Материал:
							</h4>
						</div>
						<div class="feature-item__desc">
							<span class="feature-item__desc-text">
								Ламинированное покрытие
							</span>
						</div>
					</li>
					<li class="Check__feature-item feature-item">
						<div class="feature-item__title">
							<h4 class="feature-item__title-text">
								Производитель:
							</h4>
						</div>
						<div class="feature-item__desc">
							<span class="feature-item__desc-text">
								Tandoor
							</span>
						</div>
					</li>
					<li class="Check__feature-item feature-item">
						<div class="feature-item__title">
							<h4 class="feature-item__title-text">
								Толщина:
							</h4>
						</div>
						<div class="feature-item__desc">
							<span class="feature-item__desc-text">

							</span>
						</div>
					</li>
					<li class="Check__feature-item feature-item">
						<div class="feature-item__title">
							<h4 class="feature-item__title-text">
								Цвет:
							</h4>
						</div>
						<div class="feature-item__desc">
							<span class="feature-item__desc-text">
								Итальянский орех
							</span>
						</div>
					</li>
				</ul>
			</div>

			<div class="Check__type">
				<ul class="Check__type-list _fx-row-sb">
					<li class="Check__type-item type-item _fx-col-c">
						<div class="type-item__title">
							<h4 class="type-item__title-text">
								Остекленная
							</h4>
						</div>
						<div class="type-item__discount">
							<span class="type-item__discount-text">
								1 987 ₽
							</span>
						</div>
						<div class="type-item__price">
							<span class="type-item__price-text">
								3 065 ₽
							</span>
						</div>
					</li>
					<li class="Check__type-item type-item _fx-col-c">
						<div class="type-item__title">
							<h4 class="type-item__title-text">
								Остекленная
							</h4>
						</div>
						<div class="type-item__discount">
							<span class="type-item__discount-text">
								1 987 ₽
							</span>
						</div>
						<div class="type-item__price">
							<span class="type-item__price-text">
								3 065 ₽
							</span>
						</div>
					</li>
				</ul>
			</div>

			<div class="Check__element">
				<div class="Check__element-title _fx-row-c">
					<h3 class="Check__element-title-text">
						надёжная защита вашего дома
					</h3>
				</div>
				<ul class="Check__element-list">
					<li class="Check__element-item element-item _fx-row-sb">
						<div class="element-item__title">
							<h4 class="element-item__title-text">
								Добор 100*8*2070
							</h4>
						</div>
						<div class="element-item__desc">
							<span class="element-item__desc-text">
								234 ₽
							</span>
						</div>
					</li>
					<li class="Check__element-item element-item _fx-row-sb">
						<div class="element-item__title">
							<h4 class="element-item__title-text">
								Добор 100*8*2070
							</h4>
						</div>
						<div class="element-item__desc">
							<span class="element-item__desc-text">
								234 ₽
							</span>
						</div>
					</li>
					<li class="Check__element-item element-item _fx-row-sb">
						<div class="element-item__title">
							<h4 class="element-item__title-text">
								Добор 100*8*2070
							</h4>
						</div>
						<div class="element-item__desc">
							<span class="element-item__desc-text">
								234 ₽
							</span>
						</div>
					</li>
					<li class="Check__element-item element-item _fx-row-sb">
						<div class="element-item__title">
							<h4 class="element-item__title-text">
								Добор 100*8*2070
							</h4>
						</div>
						<div class="element-item__desc">
							<span class="element-item__desc-text">
								234 ₽
							</span>
						</div>
					</li>
					<li class="Check__element-item element-item _fx-row-sb">
						<div class="element-item__title">
							<h4 class="element-item__title-text">
								Добор 100*8*2070
							</h4>
						</div>
						<div class="element-item__desc">
							<span class="element-item__desc-text">
								234 ₽
							</span>
						</div>
					</li>
					<li class="Check__element-item element-item _fx-row-sb">
						<div class="element-item__title">
							<h4 class="element-item__title-text">
								Добор 100*8*2070
							</h4>
						</div>
						<div class="element-item__desc">
							<span class="element-item__desc-text">
								234 ₽
							</span>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>