.Product-description {
  &__badges-right {
    display: flex;
    flex-direction: column;

    :not(:first-child) {
      margin-top: 12px;
    }
  }

  &__block-retail-price-value {
  }

  &__block-specification {
    margin-top: 50px;
  }

  &__block-trade-price-value {
  }

  &__block-your-price-value {
  }

  &__body {
  }

  &__btn-color-selection {
  }

  &__color-selection {
    width: 100%;
  }

  &__counter-title-text {
    @include adaptiv-value("font-size", 18, 16, 1);

    line-height: 122%;
  }

  &__counter {
    display: flex;
    flex: 1 1 60%;
    justify-content: flex-start;
    margin-left: 15px;

    .Counter {
      &__block-input {
        width: auto;
      }

      &__container {
        margin-left: 15px;
      }
      &__dimension {
        @include adaptiv-value("font-size", 18, 16, 1);
      }
    }
  }

  &__content-palette-counter {
    display: flex;
    margin: 15px 0;
    @include adaptiv-value("margin-left", -40, 0, 1);
    @include adaptiv-value("margin-right", -40, 0, 1);
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    padding: 14px 0;
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);

    & > *:not(:first-child) > *:first-child {
      text-align: center;
    }
  }

  &__content-head-badges {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__content-receipt-date-ordered {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
  }
  &__receipt-date {
    @include adaptiv-value("font-size", 18, 13, 1);
    line-height: 122%;
  }
  &__receipt-date-text-decor {
    @include adaptiv-value("margin-left", 14, 10, 1);
    color: $black;
  }
  &__footer {
    margin-top: 40px;
  }

  &__footer-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    @include adaptiv-value("margin-left", -40, 0, 1);
    @include adaptiv-value("margin-right", -40, 0, 1);

    .Button:not(:last-child) {
      margin-right: 10px;
    }

    .Button {
      &__icon {
      }

      &__icon-svg {
      }

      &__icon-svg-use {
      }

      &__text {
        margin: 0;
      }

      &--lime-light {
      }

      &--theme-m {
      }

      &--theme-m-w {
        @include adaptiv-value("width", 243, 10, 1);
      }
    }
  }

  &__form-specification {
    display: flex;
    & > *:not(:first-child) > *:first-child {
      text-align: center;
    }
  }

  &__head {
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item-color-selection {
    &--black {
    }

    &--brown {
    }

    &--gold {
    }

    &--gray {
    }

    &--moccasin {
    }
  }

  &__list-color-selection {
  }

  &__list-price {
  }
  &__molding-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top: 1px solid $gray-border;
    @include adaptiv-value("padding-top", 25, 15, 1);
    @include adaptiv-value("padding-bottom", 25, 15, 1);
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);
  }
  &__molding-item-content-price-counter {
    display: flex;
    align-items: center;
    flex: 1 1 47%;
    justify-content: flex-end;

    .Counter {
      &__content {
        margin-left: 20px;
      }
    }
  }
  &__molding-item-name {
    flex: 1 1 47%;
    margin-right: 20px;
    display: flex;
    .Checkbox {
    }
  }
  &__molding-item-price {
  }

  &__molding-item-price-text {
    font-weight: 600;
    color: $black;
  }
  &__molding-item-price-text-none {
    font-weight: 600;
    color: $gray;
  }
  &__molding-list {
    &:last-child {
      border-bottom: 1px solid $gray-border;
    }
  }
  &__molding-select {
    display: none;

  }
  &__molding-select-title {
    @include adaptiv-value("padding-top", 14, 6, 1);
    @include adaptiv-value("padding-bottom", 14, 6, 1);
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);
    padding: 14px 40px;
    background: #f9faff;
  }
  &__molding-select-title-text {
    @include adaptiv-value("font-size", 18, 14, 1);
    line-height: 122%;
    font-weight: 600;
  }
  &__molding-info {
    background: #edffcb;
    padding: 21px 40px;
    display: flex;
  }
  &__molding-info-desc {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  &__molding-info-desc-text {
    color: $black;
    @include adaptiv-value("font-size", 16, 14, 1);
    line-height: 118%;
  }
  &__molding-info-icon {
  }
  &__pick-molding {
		.Button--theme-xxl .Button__icon-svg-right {
			width: 50px;
			height: 50px;
			padding: 10px;
  }
	}
  &__ordered {
  }

  &__ordered-text {
    @include adaptiv-value("font-size", 18, 16, 1);

    line-height: 122%;
  }

  &__ordered-text-value {
    @include adaptiv-value("font-size", 18, 16, 1);

    margin-left: 15px;
    line-height: 122%;
    color: $black;
  }

  &__pick-molding-btn {
    color: yellow;

    &:hover,
    &:focus {
      color: $lime;
    }
  }

  &__pick-molding-btn-text {
    @include adaptiv-value("font-size", 28, 18, 1);

    line-height: 118%;
    color: currentColor;
    transition: $transition;
  }

  &__price {
    margin-top: 20px;
  }

  &__palette {
    display: flex;
    flex: 1 1 40%;
    align-items: flex-start;

    .Palette {
      &__color-selection {
        margin-left: 15px;
        width: 100%;
      }
      &__list-color-selection {
        display: grid;
        grid-template-columns: repeat(auto-fill, 35px);
        grid-auto-rows: 35px;
        gap: 10px;
        width: 100%;
      }

      &__item-color-selection {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__palette-title-text {
    @include adaptiv-value("font-size", 18, 16, 1);

    line-height: 122%;
  }

  &__item-price {
    @include adaptiv-value("font-size", 18, 16, 1);

    display: flex;
    align-items: flex-start;
    line-height: 122%;

    & > * {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;

      margin: 0 15px;
    }
    & > *:first-child {
      justify-content: flex-start;
      text-align: left;
      margin: 0;
      margin-right: 15px;
    }
    & > *:last-child {
      justify-content: flex-end;
      text-align: right;
      margin: 0;
      margin-left: 15px;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__item-other {
  }

  &__item-price--lime span {
    color: $lime;
  }

  &__item-price-value-old {
    margin-left: 5px;
    text-decoration: line-through;
  }

  &__item-other-decor {
    margin-left: 5px;
  }
  &__block-item-price-value {
    flex-wrap: wrap;
  }

  &__size-specification {
    flex: 1 1 60%;
    margin-left: 15px;
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
  }

  &__subtitle-text {
    @include adaptiv-value("font-size", 18, 14, 1);

    line-height: 122%;
  }

  &__type-specification {
    flex: 1 1 40%;
    .Radio-btn__content-label {
      display: grid;
      grid-template-columns: repeat(auto-fill, 30px);
      grid-auto-rows: 24px;
      gap: 5px;
      width: 100%;
    }
    &__title {
      margin-right: 25px;
    }
  }
  &__wrapper {
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);
  }

  .Counter {
    &__block-input {
    }

    &__button {
      &--js-increase {
      }

      &--js-reduction {
      }
    }

    &__dimension {
    }

    &__input {
      &--js {
      }
    }

    &__svg {
    }

    &__use {
    }
  }

  .Icon {
    &__content {
    }

    &__svg {
    }

    &__svg-use {
    }

    &--gray {
    }

    &--theme-m {
    }
  }

  .Radio-btn {
  }

  .Title {
    &__wrapper {
      &--quartz {
      }

      &--theme-m {
      }
    }
  }
  .Checkbox {
    &__inner-text {
    }
    &__input {
    }
    &__label {
    }
    &__text {
    }
    &--default {
    }
  }

  &__item-price-value,
  &__item-price-value-old,
  &__item-other-decor {
    @include adaptiv-value("font-size", 22, 18, 1);
    font-weight: 600;
    line-height: 118%;
  }

  &__type-specification-text,
  &__size-specification-text {
    @include adaptiv-value("font-size", 18, 16, 1);

    line-height: 122%;
  }

  &__btn {
    &:hover,
    &:focus {
      outline: none;
      border-top: 1px solid #e3e6f3;
      border-bottom: 3px solid $lime;
      color: #9aca3c;
      background: none;
    }
  }
}
