.datepicker {
	z-index: 100000000000;
	// position: static;
  &--day-name {
    font-size: 14px;
    color: $lime;
  }
  &--nav-title {
    font-weight: 600;
    i {
      // font-weight: 600;
      color: currentColor;
    }
  }
	&--cell-day {
		// margin: 2px;
	}
	&--button {
		color: $white;
		background: $lime;
		margin: 2px;
	}
}
.datepicker--cell.-selected- {
  background: $lime;
}
.datepicker-inline .datepicker {
  box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
	border: none;
}
