<div class=" Checkbox Checkbox--default">
	<label class="Checkbox__label">
		<input type="checkbox" class="Checkbox__input">
		<span class="Checkbox__inner-text">
			<span class="Checkbox__text">Добор 150х8х2070</span>
		</span>
	</label>
</div>