<div class="Tabs">

	<div class="Tabs__wrapper">

		<div class="Tabs__btns">

			<div class="Tabs__item Tabs__item--active" data-identification-tab="1" data-index-tab="1">
				<button class="Button  Button--lime-light Button--theme-m Button--theme-m-w">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#stock"></use>
						</svg>
					</span>
					<span class="Button__text">Товары с выгодой</span>
				</button>
			</div>

			<div class="Tabs__item" data-identification-tab="1" data-index-tab="2">
				<button class="Button Button--lime-light  Button--theme-m Button--theme-m-w">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#bestseller"></use>
						</svg>
					</span>
					<span class="Button__text">Хит продаж</span>
				</button>
			</div>

			<div class="Tabs__item" data-identification-tab="1" data-index-tab="3">
				<button class="Button Button--lime-light Button--theme-m Button--theme-m-w">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#new"></use>
						</svg>
					</span>
					<span class="Button__text">Новинки</span>
				</button>
			</div>

		</div>

		<div class="Tabs__blocks">

			<div class="Tabs__block Tabs__block--active" data-identification-tab="1" data-index-tab="1">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div>

			<div class="Tabs__block Tabs__block--not-active" data-identification-tab="1" data-index-tab="2">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div>

			<div class="Tabs__block Tabs__block--not-active" data-identification-tab="1" data-index-tab="3">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div>

		</div>

	</div>
</div>