.Tabs {
  &--line {
    .Tabs {
      &__item--active,
      &__item-grid--active {
        box-shadow: none;
      }
			&__blocks {
				margin-top: 20px;
			}
			&__item {
				&--active {
					.Tabs {
						&__link {
							position: relative;
						}
						&__link::before {
							content: "";
							position: absolute;
							top: 150%;
							display: block;
							width: 100%;
							height: 2px;
							background: $lime;
							transform: scale(0);
							transition: $transition;
							transform: scale(1.3);
							transition: $transition;
						}
					}
					.Link {
						&--black-decor {
							color: $lime;
						}
					}
				}
			}
    }
  }
  position: relative;
  width: 100%;
	&__links {
		.Tabs {
			&__link {
			}
			&__nav {
				display: flex;
				justify-content: center;
			}
			&__nav-item {
				&--active {
					.Tabs {
						&__link {
							position: relative;
						}
						&__link::before {
							content: "";
							position: absolute;
							top: 150%;
							display: block;
							width: 100%;
							height: 2px;
							background: $lime;
							transform: scale(0);
							transition: $transition;
							transform: scale(1.6);
							transition: $transition;
						}
					}
					.Link {
						&--black-decor {
							color: $lime;
						}
					}
				}
				&:not(:last-child) {
					@include adaptiv-value("margin-right", 93, 20, 1);
					margin-right: 93px;
				}
			}
			&__nav-list {
				display: inline-flex;
				align-items: center;
				overflow: scroll;
				white-space: nowrap;
				text-overflow: ellipsis;
				@include adaptiv-value("padding-bottom", 15, 15, 1);
				@include adaptiv-value("padding-left", 50, 0, 1);
				@include adaptiv-value("padding-right", 50, 0, 1);
		
		
		
			
		
			}
			&__wrapper-links {
		
				
				::-webkit-scrollbar {
					width: 0px; /* ширина для вертикального скролла */
					height: 0px; /* высота для горизонтального скролла */
					background-color: transparent;
				}
			}
					
		}
		
		
	}
  &__item,
  &__item-grid {
    transition: 0.3s all;
    cursor: auto;

    &:not(.Tabs__item--active):hover {
      cursor: pointer;
    }
  }

  &__item--active,
  &__item-grid--active {
    border: $lime;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: $transition;

    .Button {
      outline: none;
      background: $lime;

      &--lime-light {
        .Button {
          &__icon-svg {
            fill: $white;
          }

          &__text {
            color: $white;
          }
        }
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    border-radius: 6px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__block,
  &__block-grid {
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  &__block--active,
  &__block-grid--active {
    display: block;
    animation-name: tabActive;
  }

  &__block--not-active,
  &__block-grid--not-active {
    animation-name: tabNotActive;
  }

  @keyframes tabActive {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes tabNotActive {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
  &__wrapper {
  }
}
