<div class="mg-navigation-list ordering-page__list-item">
    <div class="mg-navigation-list__container">

        <a href="#anchor-commits"
            class="mg-navigation-list__item mg-navigation-list__commets ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Наименование и описание</h3>
            </div>
        </a>


        <a href="#anchor-contacts"
            class="mg-navigation-list__item mg-navigation-list__contacts ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Контакты</h3>
            </div>
        </a>


        <a href="#anchor-requisites"
            class="mg-navigation-list__item mg-navigation-list__requisites ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Реквизиты</h3>
            </div>
        </a>


        <a href="#anchor-add-store"
            class="mg-navigation-list__item mg-navigation-list__address ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Адреса магазинов</h3>
            </div>
        </a>


        <a href="#anchor-add-workers"
            class="mg-navigation-list__item mg-navigation-list__workers ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Добавить сотрудника</h3>
            </div>
        </a>

        <a href="#anchor-logo"
            class="mg-navigation-list__item mg-navigation-list__logo ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text" id="logo-comp">Логотип компании</h3>
            </div>
        </a>

        <a href="#anchor-category"
            class="mg-navigation-list__item mg-navigation-list__categories ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Категории</h3>
            </div>
        </a>

        <a href="#anchor-social"
            class="mg-navigation-list__item mg-navigation-list__social ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Социальные сети</h3>
            </div>
        </a>

        <a href="#anchor-portfolio"
            class="mg-navigation-list__item mg-navigation-list__portfolio ordering-page__list-item--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Портфолио </h3>
            </div>
        </a>


        <div class="mg-navigation-list__item mg-navigation-list__buttons ordering-page__list-item--disable">
            <a href="/profile-agent.html">
                <button class="Button Button--lime-light  Button--theme-s Button--theme-s-n">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use" xlink:href="#mg-reset"></use>
                        </svg>
                    </span>
                </button>
            </a>
            <button class="Button Button--lime Button--theme-s">
                <span class="Button__text">Применить</span>
            </button>
        </div>

    </div>
</div>