.mg-navigation-list{
    &__container{
        .condition__wrapper{
            width: rem(32);
            height: rem(32);
            border: 1px solid $gray-border;
        }
        .condition__item-text{
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
                display: block;
                opacity: 1;
                visibility: visible;
        }
       
        .ordering-page__list-item--success{
           
            .condition__item-text{
                display: none;
            }
            .condition__wrapper{               
                border-color:#9aca3c;
            }
            .Icon{
                display: flex;
                align-items: center;
                &__content{
                    display: flex;
                    & svg{
                        width: 18px;
                        height: 12px;
                    }
                }
            }
        }
        .ordering-page__list-item--error{
            .condition__wrapper{               
                border-color:#d84040;
            }           
            .condition__item-text{
                display: none;
            }
            .Icon{
                display: flex;
                align-items: center;
                &__content{
                    display: flex;
                    & svg{
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
        .ordering-page__list-item--disable{

        }
        .ordering-page__list-item--select{
            .Icon{
                display: none;
            }           
        }
        .ordering-page__list-item--success{
            &:not(:last-child)::after{
                background-color: #9aca3c;;
            }

        }
        .ordering-page__list-item--error{
            &:not(:last-child)::after{
                background-color: #d84040;;
            }
        }
        .ordering-page__list-item--disable{
            &:not(:last-child):after{
                background-color: $gray-border;;
            }
        }
    }
    a:hover{
        transition: all 0.7s ease;
        .condition__wrapper{
            border-color: $lime;
        }
        .ordering-page__list-title-text{
            color: $lime;
        }
    }
    position:fixed;
    @include adaptiv-value("padding-top", 42, 42, 1);
    @include adaptiv-value("padding-bottom", 39, 39, 1);
    @include adaptiv-value("padding-left", 40, 10, 1);
    @include adaptiv-value("padding-right", 19, 10, 1);
    &__item{
        // padding-left:5px;
        &:not(:last-child):after{
            content: "";
            display: block;
            width: 1px;
            height: 20px;
            background-color: $gray-border;
            margin: 4px 0 4px 15px;
        }
    }
    &__buttons{
        display:flex;
        padding-left: 0;
        & button{
            &:nth-child(1){
                width: 42px;
            }
            &:nth-child(2){
                max-width: 178px;
                width:100%;
                margin-left:10px;
            }
        }
    }
   
    .ordering-page__list-title{
        cursor: pointer;
        &-text{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
        }
        max-height: 32px;
        padding: 0;
    }
    
    // .condition__wrapper{
    //     width: rem(32);
    //     height: rem(32);
    // }
}


