<div class="mg-contacts-box">
    <div class="mg-contacts-box__container">
        <form class="ordering-page__form" action="" novalidate="novalidate">
            <div class="ordering-page__block-inputs">

                <div class="Input input">
                    <label class="Input__label"> <span class="Input__label-text">Телефон</span><input
                            class="Input__inp customMaskTel" type="tel" name="tel" placeholder="+7(__)___-__-__"
                            required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input input">
                    <label class="Input__label"> <span class="Input__label-text">Телефон в
                            мобильном приложении</span><input class="Input__inp customMaskTel" type="tel" name="tel"
                            placeholder="+7(__)___-__-__" required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input input">
                    <label class="Input__label">E-mail<input class="Input__inp" type="email" name="mail"
                            placeholder="Введите ваш e-mail... " data-index-input="3" required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input input">
                    <label class="Input__label">E-mail в мобильном приложении<input class="Input__inp" type="text"
                            name="mail" placeholder="Введите ваш e-mail... " data-index-input="3" required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>

                <div class="Input  input">
                    <label class="Input__label"> <span class="Input__label-text">Сайт</span>
                        <input class="Input__inp" type="text" name="name" placeholder="Введите вашь сайт..."
                            data-index-input="1" required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input  input">
                    <label class="Input__label"> <span class="Input__label-text">Контактное лицо</span>
                        <input class="Input__inp" type="text" name="name" placeholder="Введите ФИО..."
                            data-index-input="1" required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
            </div>
        </form>
    </div>
</div>