.mg-contacts-box{
    &__container{}
    .Input{
        &__label{
            &-text{
                color: $black-default;
            }
        }
        &__inp{
            @include adaptiv-value("width", 530, 150, 1);
            
        }
        

    }
    .ordering-page__form{
        margin-bottom: 60px;
    }
}