<div class="Registration">
	<div class="Registration__wrapper">
		<div class="Registration__logo">
			<div class="Logo">
				<a href="#">
					<img class="Logo__image Logo__image--size-s" src="img/logo-svg.svg" alt="">
				</a>
			</div>
		</div>
		<form class="Registration__form" action="">
			<div class="Input input">
				<input class="Input__inp" type="email" name="mail"
						placeholder="E-mail или телефон пользователя " data-index-input="2" required="">
				<span class="input-validation__message input-validation__message-mod"></span>
			</div>
			<div class="Input input Input--hidden-content">
				<label class="Input__label Input__label--js">
					<span class="Input__block-inp">
						<input class="Input__inp--js" type="password" name="password1" placeholder="">
							<span class="Input__block-icon">
								<svg class="Input__icon Input__icon--js">
									<use xlink:href="#eye-hidden"></use>
								</svg>
							</span>
					</span>
				</label>
				<span class="input-validation__message input-validation__message-mod"></span>
			</div>
		</form>

	</div>
</div>