<div class="Select">
	<div class="dropdown">
		<div class="dropdown__heading">
			<div class="dropdown__title">
				<span class="dropdown__title-text">
					Юридический адрес компании
				</span>
			</div>
		</div>
		<div class="dropdown__content">
			<button class="dropdown__button dropdown__button">
				<span class="dropdown__button-text">Краснодар</span>
			</button>
			<ul class="dropdown__list dropdown__list">
				<li class="dropdown__list-item dropdown__list-item--active" data-value="up-price">
					<span class="dropdown__list-item-text">Краснодар</span>
				</li>
				<li class="dropdown__list-item" data-value="down-price">
					<span class="dropdown__list-item-text">Металл</span>
				</li>
			</ul>
		</div>
		<input type="text" name="select-category" value="" class="dropdown__input-hidden">
	</div>
</div>