.Card-medium {
  background: $white;

  &--navbar {
    display: flex;
    align-items: flex-end;
    background: transparent;
		filter: drop-shadow(0px 5px 15px rgba(143, 150, 176, 0.3));
		position: absolute;
		bottom: 0;
		right: 31px;
		.miniature {
			filter: drop-shadow(0px 5px 50px rgba(143, 150, 176, 0.3));
			// filter: none;
		}
		
    .Card-medium {

      &__list-item {
        padding: 10px;
        height: 100%;
				width: 100%;

        &:hover {
          transform: none;
        }
      }
      &__item-content {
        padding: 0;
				height: 97px;
				overflow: hidden;
      }
      &__wrapper {
      }
			&__block-img {
				height: 140px;
				order: -1;
				overflow: hidden;
				padding-bottom: unset;
				transition: $transition;
				transition: 0.3s all;
				pointer-events: none;
			}
		
			&__img {
				position: static;
				width: 100%;
				height: 100%;
				object-fit: fill;
			}
      &__item-description {
        margin-top: 10px;
        cursor: auto;
      }
      &__checkbox {
      }
      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 10px;
      }
      &__footer-btns {
        .Button {
          &__text {
            margin-right: 10px;
          }
        }
      }
      &__footer-checkbox {
				flex-shrink: 0;
        .Checkbox {
          &__text {
            color: $black;
          }
        }
      }
			&__footer-wrapper {
				display: flex;
				align-items: center;
			}
			&__footer-checkbox {
				margin-right: 69px;
			}
      &__item-description-text {
        font-size: 12px;
        line-height: 14.5px;
        color: $black;

        strong {
          font-weight: 600;
        }
      }
      &__wrapper {
        height: 100%;
        display: flex;
        align-items: flex-end;
        height: 310px;
        border-radius: 10px 10px 10px 0px;
        overflow: hidden;
        width: 450px;
        background: $white;
      }
    }
  }

	//! default
  &__item-content {
    @include adaptiv-value("padding-top", 20, 20, 1);
    @include adaptiv-value("padding-right", 20, 20, 1);
    @include adaptiv-value("padding-bottom", 20, 20, 1);
    @include adaptiv-value("padding-left", 20, 20, 1);

    cursor: pointer;
  }


  &__block-img {
    position: relative;
    order: -1;
    overflow: hidden;
    padding-bottom: 33%;
    transition: $transition;
    transition: 0.3s all;
    pointer-events: none;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
		.miniature {
			position: absolute;
		}
  }

  &__item-description {
    margin-top: 5px;
  }

  &__item-description-text {
    @include adaptiv-value("font-size", 16, 14, 1);

    line-height: 19px;
  }

  &__item-title {
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 16, 14, 1);

    font-weight: 600;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__list-item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .promo-page__block-img {
      filter: brightness(1.1);
    }
  }

  &__item-link {
    margin-top: 5px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}
