<div class="Card-medium Card-medium--navbar">
	<div class="miniature">
		<div class="miniature__wrapper">
			<div class="miniature__block-img Pos--relative">
				<img class="miniature__img Bgi" src="img/promo-item-1.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="Card-medium__wrapper">
		<div class="Card-medium__list-item text-overflow-js" data-text-sum="380">
			<div class="Card-medium__item-content">
				<div class="Card-medium__item-description">
					<p class="
								Card-medium__item-description-text
								text-overflow-ellipsis-js
							">
						<strong>Уважаемые клиенты! В магазинах Tandoor действует программа «Гарантия лучшей цены».</strong> <br>
						Мы предлагаем Вам лучшие цены и гарантируем самые выгодные условия приобретения входных и межкомнатных
						дверей. Если найдете товар дешевле в другом магазине, мы снизим нашу цену прямо на кассе!
						Как воспользоваться программой «Гарантия лучшей цены»
					</p>
				</div>
			</div>
			<div class="Card-medium__footer">
				<div class="Card-medium__footer-wrapper">
					<div class="Card-medium__footer-checkbox">
						<div class="Checkbox Checkbox--default">
							<label class="Checkbox__label">
								<input type="checkbox" class="Checkbox__input" checked="">
								<span class="Checkbox__inner-text">
									<span class="Checkbox__text">Не показывать больше</span>
								</span>
							</label>
						</div>
					</div>
					<div class="Card-medium__footer-btns">
						<a class="Button Button--lime Button--theme-xs Button--theme-xs-w" href="#" tabindex="0" role="button"
							aria-label="Next slide" aria-controls="swiper-wrapper-f33a9ca1039c4cf28" aria-disabled="false">
							<span class="Button__text">Подробнее</span>
							<span class="Button__icon">
								<svg class="Button__icon-svg">
									<use class="Button__icon-svg-use" xlink:href="#arrow"></use>
								</svg>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="Card-medium__block-img">
				<img class="Card-medium__img" src="img/promo-item-1.jpg" alt="" />
			</div>
		</div>
	</div>
</div>