<div class="
Social-network
Social-network--theme-s
Social-network--gray
Social-network--gray-blue
footer__block-social-network
">
	<div class="Social-network__wrapper">
		<div class="Social-network__icon">
			<svg class="Social-network__icon-svg">
				<use class="Social-network__icon-svg-use" xlink:href="#vk"></use>
			</svg>
		</div>
		<div class="Social-network__block-information">
			<h5 class="Social-network__title">Вконтакте</h5>
			<div class="Social-network__subscribe">
				<a class="Link Link--theme-s Link--gray-decor" href="#" target="_blank">Подписаться</a>
			</div>
		</div>
	</div>
</div>