.Social-network {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  &__icon-svg {
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }

  &__block-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    color: $white;
  }

  &:disabled {
    color: rgb(0, 0, 0);
    cursor: initial;
  }
}

// Themes

.Social-network--theme-xs {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 40px;
  min-height: 40px;
  font-weight: 600;
  line-height: 19px;
  color: $white;
  cursor: pointer;

  .Social-network__icon-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
  }
}

.Social-network--theme-s {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  width: 167px;
  min-height: 57px;
  font-weight: 600;
  line-height: 19px;
  color: $white;
}

// Colors

.Social-network--gray {
  $colorAccent: $gray-dark;
  $colorAccentHover: $lime;

  .Social-network__icon-svg {
    fill: $colorAccentHover;
    transition: $transition;
  }

  &:not(:disabled) {
    border-color: $colorAccent;
    color: $colorAccent;
    background-color: $colorAccent;
    transition: $transition;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: $colorAccentHover;
      fill: inherit;
      background: none;
    }

    &:hover .Social-network__title,
    &:focus .Social-network__title {
      color: $colorAccentHover;
    }
  }
}

.Social-network--gray-blue {
  &:hover > .Social-network__wrapper > .Social-network__icon .Social-network__icon-svg,
  &:focus > .Social-network__wrapper > .Social-network__icon .Social-network__icon-svg {
    fill: $blue;
  }
}

.Social-network--gray-purple {
  &:hover > .Social-network__wrapper > .Social-network__icon .Social-network__icon-svg,
  &:focus > .Social-network__wrapper > .Social-network__icon .Social-network__icon-svg {
    fill: $purple;
  }
}

.Social-network--blue {
  $colorAccent: #62b6f3;
  $colorAccentHover: #052e4b;

  .Social-network__svg {
    fill: $colorAccentHover;
    transition: $transition;
  }

  &:not(:disabled) {
    border: 1px solid $colorAccent;
    color: $colorAccent;
    transition: $transition;

    &:hover,
    &:focus {
      outline: none;
      color: $colorAccentHover;
      fill: inherit;
      background: none;
      opacity: 0.8;
    }

    &:hover .Social-network__title,
    &:focus .Social-network__title {
      color: $colorAccentHover;
    }
  }
}

.Social-network--lime {
  $colorAccent: $lime;
  $colorAccentHover: #62b6f3;

  .Social-network__svg {
    fill: $colorAccentHover;
    transition: $transition;
  }

  &:not(:disabled) {
    border: 1px solid $colorAccent;
    color: $colorAccent;
    transition: $transition;

    &:hover,
    &:focus {
      outline: none;
      color: $colorAccentHover;
      fill: inherit;
      background: none;
      opacity: 0.8;
    }

    &:hover .Social-network__title,
    &:focus .Social-network__title {
      color: $colorAccentHover;
    }
  }
}