<div class="Container Max-width">
	<div class="section-products">
		<div class="section-products__wrapper">

				@include('../../blocks/tabs/tabs.html')

			<div class="section-products__button">
				<a class="Button Button--gray-light Button--theme-s Button--theme-s-w" href="#">
					<span class="Button__text">Посмотреть все</span>
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
						</svg>
					</span>
				</a>
			</div>


		</div>
	</div>
</div>