<div class="Badges">
	<div class="Badges__offer">




		<span class="Badges__offer-discount">-45%</span>
		<span class="Icon Icon--lime Icon--theme-m">
			<div class="Icon__content">
				<svg class="Icon__svg">
					<use class="Icon__svg-use" xlink:href="#new"></use>
				</svg>
			</div>
		</span>
		<span class="Icon Icon--gray  Icon--theme-m">
			<div class="Icon__content">
				<svg class="Icon__svg">
					<use class="Icon__svg-use" xlink:href="#bestseller"></use>
				</svg>
			</div>
		</span>
		<span class="Icon Icon--gray  Icon--theme-m">
			<div class="Icon__content">
				<svg class="Icon__svg">
					<use class="Icon__svg-use" xlink:href="#flame"></use>
				</svg>
			</div>
		</span>



		<div class="Badges__offer-last">
			<span class="Icon  Icon--gray Icon--theme-m">
				<div class="Icon__content">
					<svg class="Icon__svg">
						<use class="Icon__svg-use" xlink:href="#video-card"></use>
					</svg>
				</div>
			</span>
			<div class="Palette Pos Pos--centerXY">
				<div class="Palette__color-selection">
					<ul class="Palette__list-color-selection">
						<li class="Palette__item-color-selection Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
									src="img/blue.jpg" alt="blue">
							</span>
						</li>
						<li class="Palette__item-color-selection Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
									src="img/orange.jpg" alt="blue">
							</span>
						</li>
						<li class="Palette__item-color-selection Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
									src="img/blue.jpg" alt="blue">
							</span>
						</li>
						<li class="Palette__item-color-selection Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
									src="img/blue.jpg" alt="blue">
							</span>
						</li>
						<li class="Palette__item-color-selection Palette__item-color-selection--color">
							<span class="Palette__btn-color-selection"> <img class="Palette__btn-color-selection-img"
									src="img/blue.jpg" alt="blue">
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<div class="Badges__interaction">

		<span class="Icon Icon--gray Icon--theme-m">
			<div class="Icon__content">
				<svg class="Icon__svg">
					<use class="Icon__svg-use" xlink:href="#like"></use>
				</svg>
			</div>
		</span>
		<span class="Icon Icon--gray Icon--theme-m">
			<div class="Icon__content">
				<svg class="Icon__svg">
					<use class="Icon__svg-use" xlink:href="#scales"></use>
				</svg>
			</div>
		</span>

		<div class="Badges__interaction-last">
			<span class="Button Button--lime-light Button--theme-s Button--theme-s-n ">
				<span class="Button__icon">
					<svg class="Button__icon-svg">
						<use class="Button__icon-svg-use" xlink:href="#feature"></use>
					</svg>
				</span>
			</span>
		</div>


	</div>
</div>