.Badges {

  &__offer {
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 5;
		pointer-events: none;

		.Icon {
			&:not(:first-child) {
				margin-top: 10px;
			}
		}
  }
	&__offer-last {
		margin-top: auto;
	}
  &__offer-discount {
    border-radius: 2px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    background: #d84040;
  }
  &__interaction {
    position: absolute;
    z-index: 5;
    right: 4px;
    top: 0;
		bottom: 0;
    display: flex;
    flex-direction: column;
		align-items: flex-end;
    height: 100%;

		.Icon {
			&:not(:first-child) {
				margin-top: 10px;
			}
		}

  }
	&__interaction-last {
		margin-top: auto;
		.Button {
			&__icon-svg {
				margin: 0;
			}

			&--theme-s {
				width: 42px;
			}
		}
	}
  .Icon {
    &__content {
    }
    &__svg {
    }
    &__svg-use {
    }
    &--gray {
    }
    &--lime {
    }
    &--theme-m {
    }
  }
}
