.Navigation {
  display: flex;
  justify-content: center;
  margin: 50px 0;

  &__list {
    display: flex;
    margin: 0 -10px;
  }

  &__item {
  }

  &__button {
    display: block;

    &:disabled,
    &--disabled {
      opacity: 0.6;
      cursor: initial;

      .Navigation__button-text {
        color: #888;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__button--bg {
    margin: 0 10px;
    border-radius: 17px;
    width: 99px;
    height: 39px;

    .Navigation__button-text {
      @include adaptiv-font(14, 11);
    }
  }

  &__button--sm {
    margin: 0 5px;
    width: 15px;
    height: 20px;

    .Navigation__button-text {
      @include adaptiv-font(17, 14);
    }
  }

  &__button--active {
    .Navigation__button-text {
      color: $lime;
    }

    &:hover {
      opacity: 1;
      cursor: auto;
    }
  }

  &__button--bg,
  &__button--sm {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;

    &:hover > .Navigation__button-text {
      color: $lime;
    }
  }
}
