<div class="Navigation">
	<ul class="Navigation__list">
		<li class="Navigation__item">
			<a href="#" class="Navigation__button Navigation__button--sm Navigation__button--active">
				<span class="Navigation__button-text">1</span>
			</a>
		</li>
		<li class="Navigation__item">
			<a href="#" class="Navigation__button Navigation__button--sm">
				<span class="Navigation__button-text">2</span>
			</a>
		</li>
		<li class="Navigation__item">
			<a href="#" class="Navigation__button Navigation__button--sm">
				<span class="Navigation__button-text">3</span>
			</a>
		</li>
		<li class="Navigation__item">
			<a href="#" class="Navigation__button Navigation__button--sm Navigation__button--disabled">
				<span class="Navigation__button-text">...</span>
			</a>
		</li>
		<li class="Navigation__item">
			<a href="#" class="Navigation__button Navigation__button--sm">
				<span class="Navigation__button-text">24</span>
			</a>
		</li>
	</ul>
</div>