.Checkout {
  &--mobile {
    .Checkout {
      &__wrapper {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &__btn {
    @include adaptiv-value("padding-top", 22, 0, 1);
    @include adaptiv-value("padding-bottom", 22, 0, 1);
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .Button {
      &__icon {
      }

      &__icon-svg {
      }

      &__icon-svg-use {
      }

      &__text {
      }

      &--lime {
      }

      &--theme-xl {
        @include adaptiv-value("width", 340, 200, 1);
      }
    }
  }
  &__bonus {
    @include adaptiv-value("padding-top", 22, 30, 1);
    @include adaptiv-value("padding-bottom", 22, 15, 1);
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);
    background: #e5ffcb;

    .Checkout {
      &__bonus-text,
      &__bonus-toggle-text {
        color: $black;
      }
      &__bonus-text-decor {
        font-weight: 600;
      }
      &__bonus-wrapper {
        // padding: 22px;
      }
    }
  }

  &__content {
    @include adaptiv-value("padding-top", 22, 30, 1);
    @include adaptiv-value("padding-bottom", 22, 15, 1);
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);

    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
  }

  &__desc {
    @include adaptiv-value("margin-top", 30, 15, 1);
  }

  &__desc-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(first-child) {
      margin-top: 15px;
    }
  }

  &__desc-num {
    @include adaptiv-value("font-size", 18, 16, 1);
    @include adaptiv-value("line-height", 21, 19, 1);

    font-weight: 600;
    color: $black;
  }

  &__desc-num-total {
    @include adaptiv-value("font-size", 18, 16, 1);
    @include adaptiv-value("line-height", 21, 19, 1);

    font-weight: 600;
    color: $lime;
  }

  &__desc-text {
    color: $black;
  }

  &__desc-text-total {
    color: $lime;
  }

  &__result {
    @include adaptiv-value("padding-top", 22, 15, 1);
    @include adaptiv-value("padding-bottom", 22, 15, 1);
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 40px;
  }

  &__result-text {
    @include adaptiv-value("font-size", 22, 18, 1);
    @include adaptiv-value("line-height", 26, 21, 1);

    color: $black;
  }

  &__result-total-text {
    @include adaptiv-value("font-size", 28, 22, 1);
    @include adaptiv-value("line-height", 33, 26, 1);

    font-weight: 600;
    color: $black;
  }

  &__title {
  }

  &__title-text {
    @include adaptiv-value("font-size", 22, 18, 1);
    @include adaptiv-value("line-height", 26, 21, 1);

    font-weight: 600;
    color: $black;
  }

  &__total-text {
  }

  &__wrapper {
    max-width: 100%;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  }
}
