<div class="Checkout">
	<div class="Checkout__wrapper">

		<div class="Checkout__btn">
			<a class="Button Button--lime Button--theme-xl" href="#">
				<span class="Button__icon">
					<svg class="Button__icon-svg">
						<use class="Button__icon-svg-use" xlink:href="#confirmed"></use>
					</svg>
				</span>
				<span class="Button__text">Оформить заказ</span>
			</a>
			<a class="Button Button--lime Button--theme-xl" href="#popup-attention" data-fancybox-window>
				<span class="Button__icon">
					<svg class="Button__icon-svg">
						<use class="Button__icon-svg-use" xlink:href="#confirmed"></use>
					</svg>
				</span>
				<span class="Button__text">Попап Внимание</span>
			</a>
		</div>

		<div class="Checkout__box-content-result">
			<div class="Checkout__content">

				<div class="Checkout__title">
					<h3 class="Checkout__title-text">
						Ваша корзина
					</h3>
				</div>

				<div class="Checkout__desc">

					<div class="Checkout__desc-item">
						<span class="Checkout__desc-text">Товаров в корзине</span>
						<span class="Checkout__desc-num">3 шт.</span>
					</div>

					<div class="Checkout__desc-item">
						<span class="Checkout__desc-text">Розничная цена</span>
						<span class="Checkout__desc-num">24 567 ₽</span>
					</div>

					<div class="Checkout__desc-item">
						<span class="Checkout__desc-text-total">Ваша выгода</span>
						<span class="Checkout__desc-num-total">567 ₽</span>
					</div>

				</div>

			</div>
			<div class="Checkout__bonus">
				<div class="Checkout__bonus-wrapper">
					<span class="Checkout__bonus-text">
						У вас имеется <span class="Checkout__bonus-text-decor">5 000 бонусов</span>
					</span>
					<div class="Checkout__bonus-toggle">
						<div class="mg-checkbox">
							<label class="mg-checkbox__label">
								<a href="/" class="mg-avatar__link">Хотите применить их к покупке?</a>
								<span class="mg-checkbox-ios">
									<input type="checkbox" class="mg-checkbox__input">
									<div class="checkbox-on-off checkbox-on-off-round">
										<span class="mg-checkbox-on">Да</span>
										<span class="mg-checkbox-off">Нет</span>
									</div>
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="Checkout__result">

				<span class="Checkout__result-text">Итого к оплате</span>
				<span class="Checkout__result-total-text">18 567 ₽</span>

			</div>
		</div>
	</div>
</div>