<div class="Search">
	<div class="Search__block">
		<div class="Search__form">
			<form action="">
				<input type="text" placeholder="Поиск по каталогу..." class="Search__input" name="" value="" size="15"
					maxlength="50" />
				<button name="" type="submit" value="Поиск по каталогу" class="Search__button">
					<div class="Search__block-icon" data-search-index="1">
						<svg class="Search__svg">
							<use xlink:href="#search" class="Search__use"></use>
						</svg>
					</div>
				</button>
			</form>
		</div>
	</div>
</div>