.Search {
  &__block {
  }

  &__block-icon {
    position: absolute;
    position: absolute;
    left: 19px;
    top: 8px;
    z-index: 10;
    display: flex;
    align-items: center;
    outline: none;
    transform: translate(-50%);
    transition: 0.3s all;
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border: 1px solid #e3e6f3;
    border-radius: 0 6px 6px 0;
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;

    &:hover > .Search__block-icon > .Search__svg,
    &:focus > .Search__block-icon > .Search__svg {
      fill: $lime;
    }
  }

  &__form {
    position: relative;
  }

  &__input {
    outline: none;
    border: 1px solid #e3e6f3;
    border-radius: 6px;
    padding-right: 50px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    color: $black;
    background: transparent;

    &::placeholder {
      color: $gray;
    }
  }

  &__svg {
    width: 22px;
    height: 22px;
    fill: $gray;
    cursor: pointer;
  }

  &__use {
  }
}
