<div class="mg-add-social">
    <div class="mg-add-social__container">
        <form class="ordering-page__form js-form-validation" action="" novalidate="novalidate">
            <div class="ordering-page__block-inputs">

                <div class="Input input">
                    <label class="Input__label">
                        <span class="Input__label-inner">
                            <span class="Input__label-text">Instagram</span>
                            <span class="Input__label-icon">
                                <svg class="Button__icon-svg">
                                    <use class="Button__icon-svg-use" xlink:href="#mg-social-instagram">
                                    </use>
                                </svg>
                            </span>
                        </span>
                        <input class="Input__inp mg-socials" type="text" name="Instagram" required=""
                            placeholder="https://instagram.com/..."></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input input">
                    <label class="Input__label">
                        <span class="Input__label-inner">
                            <span class="Input__label-text">Facebook</span>
                            <span class="Input__label-icon">
                                <svg class="Button__icon-svg">
                                    <use class="Button__icon-svg-use" xlink:href="#mg-social-facebook">
                                    </use>
                                </svg>
                            </span>
                        </span>
                        <input class="Input__inp mg-socials" type="text" name="Facebook"
                            placeholder="https://facebook.com/..." required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input input">
                    <label class="Input__label">
                        <span class="Input__label-inner">
                            <span class="Input__label-text">VK</span>
                            <span class="Input__label-icon">
                                <svg class="Button__icon-svg">
                                    <use class="Button__icon-svg-use" xlink:href="#mg-social-vk">
                                    </use>
                                </svg>
                            </span>
                        </span>
                        <input class="Input__inp mg-socials" type="text" name="VK" placeholder="https://vk.com/... "
                            required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>

                <div class="Input input">
                    <label class="Input__label">
                        <span class="Input__label-inner">
                            <span class="Input__label-text">YouTube</span>
                            <span class="Input__label-icon">
                                <svg class="Button__icon-svg">
                                    <use class="Button__icon-svg-use" xlink:href="#mg-social-youtube">
                                    </use>
                                </svg>
                            </span>
                        </span>
                        <input class="Input__inp mg-socials" type="text" name="youtube" required=""
                            placeholder="https://www.youtube.com/... "></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>


                <div class="Input  input">
                    <label class="Input__label">
                        <span class="Input__label-inner">
                            <span class="Input__label-text">Telegram</span>
                            <span class="Input__label-icon">
                                <svg class="Button__icon-svg">
                                    <use class="Button__icon-svg-use" xlink:href="#mg-social-telegram">
                                    </use>
                                </svg>
                            </span>
                        </span>
                        <input class="Input__inp mg-socials" type="text" name="Telegram" required=""
                            placeholder="https://www.telegram.com/... "></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input  input">
                    <label class="Input__label">
                        <span class="Input__label-inner">
                            <span class="Input__label-text">TikTok</span>
                            <span class="Input__label-icon">
                                <svg class="Button__icon-svg">
                                    <use class="Button__icon-svg-use" xlink:href="#mg-social-tiktok">
                                    </use>
                                </svg>
                            </span>
                        </span>
                        <input class="Input__inp mg-socials" type="text" name="TikTok" required=""
                            placeholder="https://www.tiktok.com/... "></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
            </div>
        </form>
    </div>
</div>