<section class="profile-section">
  <div class="Container Max-width">
    <div class="profile-section__content">
      <form action="" class="profile-section__form profile-section__form--js">
        <div class="profile-section__block-info">
          <div class="profile-section__block-data">
            <div class="profile-section__block-element">
              <span class="profile-section__name-element">Фамилия</span>
              <div class="profile-section__block-input">
                <span class="profile-section__name-element-value profile-section__name-element-value--js">Хлебников</span>
                <input type="text" placeholder="" class="profile-section__input profile-section__input--js">
              </div>
            </div>
            <div class="profile-section__block-element">
              <span class="profile-section__name-element">Имя</span>
              <div class="profile-section__block-input">
                <span class="profile-section__name-element-value profile-section__name-element-value--js">Михаил</span>
                <input type="text" placeholder="" class="profile-section__input profile-section__input--js">
              </div>
            </div>
            <div class="profile-section__block-element">
              <span class="profile-section__name-element">Отчество</span>
              <div class="profile-section__block-input">
                <span class="profile-section__name-element-value profile-section__name-element-value--js">Викторович</span>
                <input type="text" placeholder="" class="profile-section__input profile-section__input--js">
              </div>
            </div>
            <div class="profile-section__block-element">
              <span class="profile-section__name-element">Телефон</span>
              <div class="profile-section__block-input">
                <span class="profile-section__name-element-value profile-section__name-element-value--js">+7 (909) 654-67-00</span>
                <input type="tel" placeholder="" class="profile-section__input profile-section__input--js mask-phone-placeholder-js">
              </div>
            </div>
            <div class="profile-section__block-element">
              <span class="profile-section__name-element">E-mail</span>
              <div class="profile-section__block-input">
                <span class="profile-section__name-element-value profile-section__name-element-value--js">mihail.hlebnikov@romashka.ru</span>
                <input type="email" placeholder="" class="profile-section__input profile-section__input--js">
              </div>
            </div>
          </div>
        </div>
        <div class="profile-section__inner-image">
          <div class="profile-section__block-image">
            <img src="../../../img/not-img.jpg" class="profile-section__image" alt="">

            <div class="dragfiles">
              <span id="upload">
                  <div class="">
                    <label>
                      <input type="file" id="fileselect" name="fileselect" data-file-size="5" multiple="multiple">
                      <span id="filedrag">
                        <span class="dragfiles__content">
                          <span class="dragfiles__block-icon">
                            <svg class="dragfiles__icon">
                              <use xlink:href="#download"></use>
                            </svg>
                          </span>
                          <span class="dragfiles__title-upload">Загрузить вашу фотографию</span>
                          <span class="dragfiles__text-warning-upload" id="messages"></span>
                        </span>
                      </span>
                    </label>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="profile-section__block-buttons">
          <a href="#" class="Button Button--gray-light Button--theme-xl profile-section__btn-edit profile-section__btn-edit-js">
            <span class="Button__icon">
              <svg class="Button__icon-svg">
                <use class="Button__icon-svg-use" xlink:href="#edit"></use>
              </svg>
            </span>
            <span class="Button__text">Редактировать профиль</span>
          </a>
					<div class="profile-section__btn-save">
          <button id="submitbutton" class="Button Button--lime Button--theme-xl  profile-section__btn-save-js" type="submit">
            <span class="Button__icon">
              <svg class="Button__icon-svg">
                <use class="Button__icon-svg-use" xlink:href="#confirmed"></use>
              </svg>
            </span>
            <span class="Button__text">Сохранить изменения</span>
		      </button>
				</div>
          <a href="#popup-change-password" data-fancybox-window class="Button Button--lime Button--theme-xl profile-section__btn-password profile-section__btn-password-js">
            <span class="Button__text">Изменить пароль</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
