.dragfiles {

	&--documents {
			visibility: visible;
			opacity: 1;
	}

  visibility: hidden;
  opacity: 0;
  transition: $transition;

  &--hover {
    opacity: 1;
  }

  &__content {
    width: 80%;
  }

  &__block-icon {
    display: flex;
    justify-content: center;
  }

  &__icon {
    fill: $white;
    width: 51px;
    height: 51px;
  }

  &__title-upload {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: $white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  &__text-warning-upload {
    display: block;
    margin-top: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: $white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: $transition;

    &--warning {
      color: $red;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    }

    &--success {
      color: $lime;
    }
  }
}

#filedrag {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: $transition;
}

#fileselect {
  display: none;
}
