<div class="dragfiles ">
	<span id="upload">
			<div class="">
				<label>
					<input type="file" id="fileselect" name="fileselect" data-file-size="5" multiple="multiple">
					<span id="filedrag">
						<span class="dragfiles__content">
							<span class="dragfiles__block-icon">
								<svg class="dragfiles__icon">
									<use xlink:href="#download"></use>
								</svg>
							</span>
							<span class="dragfiles__title-upload">Загрузить вашу фотографию</span>
							<span class="dragfiles__text-warning-upload" id="messages"></span>
						</span>
					</span>
				</label>
		</div>
	</span>
</div>