<div class="receipt-date">
	<div class="receipt-date__wrapper">
		<div class="receipt-date__icon">
			<svg class="receipt-date__icon-svg">
				<use class="receipt-date__icon-svg-use" xlink:href="#calendar"></use>
			</svg>
		</div>
		<div class="receipt-date__block-information">
			<span class="receipt-date__title">20.09.2020</span>
		</div>
	</div>
</div>