.receipt-date {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 172px;
		align-items: center;
  }

  &__icon-svg {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    fill: $red;
  }

  &__block-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__title {
    color: $red;
  }

  &__description {
    line-height: 19px;
    color: $white;
  }
}
