
.popup-header-city {
  width: 700px;
	background: $white;

  &__location-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;

    li {
      flex: 0 0 33.33333%;
      margin-top: 10px;
      padding: 0 15px;
      cursor: pointer;

      &:hover {
        color: $lime;
      }
    }
  }

  &__title-text {
    @include adaptiv-value("font-size", 22, 18, 1);
    @include adaptiv-value("line-height", 33, 19, 1);

    font-weight: 600;
    color: $black;

    :last-child {
      margin-top: 15px;
    }
  }

  &__wrapper {
  }

  .Search {
    &__block {
      margin-top: 15px;
    }

    &__block-icon {
    }

    &__button {
    }

    &__form {
    }

    &__input {
    }

    &__svg {
    }

    &__use {
    }
  }

  .location {
    &__list {
    }
  }
}
