.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  a {
    display: block;
  }

  &__image {
    max-width: 100%;
    object-fit: cover;

    &--size {
      &-xs {
        width: 130px;
        max-height: 36px;
      }

      &-s {
        width: 149px;
        max-height: 42px;
      }

      &-m {
        width: 212px;
        max-height: 60px;
      }

      &-l {
        width: 289px;
        max-height: 81px;
      }
    }
  }
}
