<div class="gui-page__block-theme">
	<div class="gui-page__block-element">
		<div class="Logo">
			<a href="#">
				<img class="Logo__image Logo__image--size-xs" src="img/logo-svg.svg" alt="" />
			</a>
		</div>
	</div>
	<div class="gui-page__block-element">
		<div class="Logo">
			<a href="#">
				<img class="Logo__image Logo__image--size-s" src="img/logo-svg.svg" alt="" />
			</a>
		</div>
	</div>
	<div class="gui-page__block-element">
		<div class="Logo">
			<a href="#">
				<img class="Logo__image Logo__image--size-s" src="img/logo-2.svg" alt="" />
			</a>
		</div>
	</div>
	<div class="gui-page__block-element">
		<div class="Logo">
			<a href="#">
				<img class="Logo__image Logo__image--size-m" src="img/logo-svg.svg" alt="" />
			</a>
		</div>
	</div>
	<div class="gui-page__block-element">
		<div class="Logo">
			<a href="#">
				<img class="Logo__image Logo__image--size-l" src="img/logo-svg.svg" alt="" />
			</a>
		</div>
	</div>
</div>