.Description {
  &__content {
  }
  &__content-list {
  }
  &__list {
    display: flex;
    padding: 10px 40px;
    &:not(:last-child) {
      border-bottom: 1px solid $gray-border;
    }
  }
  &__list-term,
  &__list-desc {
    @include adaptiv-value("font-size", 18, 14, 1);
    line-height: 116%;
    display: flex;
    flex-direction: column;
  }
  &__list-desc {
    flex: 1 1 63%;
    color: $black;
    margin-left: 15px;
  }
  &__list-term {
    flex: 1 1 37%;
  }
  &__title {
    padding: 14px 40px;
  }
  &__title-text {
    font-size: 22px;
    line-height: 118%;
    color: $black;
  }
  &__wrapper {
  }
}
