<div class="Description">
	<div class="Description__wrapper">

		<div class="Description__content">
			<div class="Description__title">
				<h3 class="Description__title-text">Характеристики</h3>
			</div>
			<div class="Description__content-list">
				<dl class="Description__list">
					<dt class="Description__list-term">Вид номенклатуры</dt>
					<dd class="Description__list-desc">Межкомнатные двери</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Модель</dt>
					<dd class="Description__list-desc">Гладкие</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Дизайн</dt>
					<dd class="Description__list-desc">Классика</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Особенность</dt>
					<dd class="Description__list-desc">Усиленный каркас из массива сосны</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Покрытие</dt>
					<dd class="Description__list-desc">Ламинированное покрытие</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Покрытие двери</dt>
					<dd class="Description__list-desc">Ламинированное покрытие</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Размер (мм)</dt>
					<dd class="Description__list-desc">2000х800</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Стекло</dt>
					<dd class="Description__list-desc">—</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Тип двери</dt>
					<dd class="Description__list-desc">Глухая</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Цветовая гамма</dt>
					<dd class="Description__list-desc">Светлая</dd>
				</dl>
				<dl class="Description__list">
					<dt class="Description__list-term">Цвет:</dt>
					<dd class="Description__list-desc">Итальянский орех</dd>
				</dl>
			</div>
		</div>



	</div>
</div>