<div class="Feedback">
	<div class="Feedback__wrapper">
		<div class="Feedback__block-number">
			<div class="Feedback__number-icon">
				<svg class="Feedback__icon-svg">
					<use class="Feedback__icon-svg-use" xlink:href="#phone"></use>
				</svg>
			</div>
			<div class="Feedback__number">
				<a class="Link Link--white" href="tel:8(909)678-00-56">
					8 (800) 505-75-70
				</a>
			</div>
		</div>
		<div class="Feedback__call">
			<a class="Link Link--theme-s Link--lime-decor" href="#">Заказать звонок</a>
		</div>
	</div>
</div>