.slider {
	height: 100%;
	&__btns {
		
	}
  &__corusel {
    height: 100%;
  }
  &__count {
  }
  &__counter {
    position: absolute;
    left: 15px;
    top: 5px;
  }
  &__count {
    position: relative;
    color: $white;
    &:not(:first-child) {
      margin-left: 10px;
      &::before {
        content: "/";
        position: absolute;
        left: -10px;
        color: $white;
      }
    }
  }
  &__img {
    height: 100%;
    .Img {
      height: 100%;
      padding-bottom: 59%;
			&__item {
				object-fit: contain;
			}
    }
  }
  &__slide {
    height: 100%;
    background: #000;
  }
  &__wrapper {
    position: relative;
    height: 100%;
  }
}
