<div class="slider">
	<div class="slider__wrapper">

		<div class="slider__counter">
			<span class="slider__count">
				3
			</span>

			<span class="slider__count">
				15
			</span>

		</div>

		<div class="slider__btns">
			<div class="Swiper-button-prev-video-reviews Swiper-button-default">

				<svg class="Swiper-button-default__svg">
					<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
				</svg>

			</div>
			<div class="Swiper-button-next-video-reviews Swiper-button-default">
				<div class="Swiper-button-next-video-reviews Swiper-button-default">

					<svg class="Swiper-button-default__svg">
						<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
					</svg>



				</div>
			</div>
		</div>

		<ul class="slider__corusel">
			<li class="slider__slide">
				<div class="slider__img">
					<div class="Img">
						<img class="Img__item" src="img/card-product-1.png" alt="">
					</div>
				</div>
			</li>

		</ul>


	</div>


</div>