.mg-add-workers {
    &__container {
        .mg-table {
            &__header {
                .mg-table {
                    &__headlines {
                        &:not(:first-child) {
                            @include adaptiv-value(padding-left, 7, 5, 1);
                        }
                        &:nth-child(1) {
                            max-width: 7.634%;
                        }
                        &:nth-child(2) {
                            max-width: 16.344%;
                        }
                        &:nth-child(3) {
                            max-width: 13.441%;
                        }
                        &:nth-child(4) {
                            max-width: 16.882%;
                        }
                        &:nth-child(5) {
                            max-width: 28.387%;
                        }
                        &:nth-child(6) {
                            max-width: 9.677%;
                        }
                        &:nth-child(7) {
                            max-width: 7.527%;
                        }
                    }
                    &__title {}
                }
            }
            &__body {
                min-height: 60px;
                &-container {
                    height: 408px;
                    overflow-y: scroll;
                }
                &-container::-webkit-scrollbar {
                    width: 3px;
                    height: 3px;
                }
                &-container::-webkit-scrollbar-track {
                    background-color: inherit;
                }
                &-container::-webkit-scrollbar-thumb {
                    background-color: $checkbox-off;
                    border-radius: 5px;
                }
                .mg-table {
                    &__subtitle {
                        &:not(:first-child) {
                            @include adaptiv-value(padding-left, 7, 5, 1);
                        }
                        &:nth-child(1) {
                            max-width: 7.634%;
                        }
                        &:nth-child(2) {
                            max-width: 16.344%;
                        }
                        &:nth-child(3) {
                            max-width: 13.441%;
                        }
                        &:nth-child(4) {
                            max-width: 16.882%;
                        }
                        &:nth-child(5) {
                            max-width: 28.387%;
                            @include adaptiv-value(padding-left, 7, 5, 1);
                            text-align: inherit;
                        }
                        &:nth-child(6) {
                            max-width: 9.677%;
                        }
                        &:nth-child(7) {
                            max-width: 7.527%;
                            text-align: center;
                            @include adaptiv-value(padding-left, 9, 5, 1);
                            @include adaptiv-value(padding-right, 9, 5, 1);
                        }
                    }
                    &__title {}
                }
            }
        }
    }
}