<div class="miniature miniature--close">
	<div class="miniature__wrapper">
		<span class="miniature__close">
			<span class="Icon Icon--black Icon--theme-m">
				<div class="Icon__content">
					<svg class="Icon__svg">
						<use class="Icon__svg-use" xlink:href="#close-mini"></use>
					</svg>
				</div>
			</span>
		</span>
	</div>
</div>