<div class="miniature">
	<div class="miniature__wrapper">
		<div class="miniature__block-img Pos--relative">
			<img class="miniature__img Bgi" src="img/promo-item-1.jpg" alt="">
		</div>
	</div>
</div>