.miniature {
	&--close {

		.miniature {
			&__wrapper {
				width: 30px;
				height: 30px;
			}
			&__close {
				&:hover {
					opacity: 0.6;
				}
				.Icon--theme-m .Icon__svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
	filter: drop-shadow(0px 5px 15px rgba(143, 150, 176, 0.3));
  &__block-img {
		padding: 25px;
		border-radius: 50%;
		overflow: hidden;
  }
  &__img {
  }
  &__wrapper {
		width: 62px;
		height: 60px;
		padding: 5px;
		background: $white;
		overflow: hidden;
		border-radius: 50% 0 0 50%;
		cursor: pointer;
  }
}
