@import "_fonts";
@import "_settings";
@import "_vars";
@import "_mixins";

* {
  box-sizing: border-box;
  outline: none;
  ::selection {
    background: #acff05bb;
  }
}

a {
  color: $gray;

  &:hover {
    color: $lime;
  }
}

html,
body {
  width: 100%;
  font-family: $font-family-Exo2;
  font-weight: 400;
  font-size: 16px;
	line-height: 1.18;
  color: $gray;
  overflow-x: hidden;
	
  // scroll-behavior: smooth;
}

// !Модификаторы для страниц
//TODO: Скрытие объектов
.Visually-hidden,
.Vh {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.Visibility,
.Vb,
.V {
  &--hidden {
    opacity: 0;
    visibility: hidden;
    display: none !important;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

//TODO: Шрифт
.Font,
.F {
  //! Color
  &--color-inherit {
    color: currentColor;
  }
  //! Theme
  &--xs {
    font-size: inherit;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: normal;
  }
  //! Position
  &--center {
    text-align: center;
  }
  &--left {
    text-align-last: left;
  }
  &--right {
    text-align: right;
  }
}
//TODO: Адаптивное изображение
.Background-image,
.Bgi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
//TODO: Позиционирование
._flex,
._fx {
  display: flex;
  &-row {
    display: flex;
    flex-direction: row;
    &-center,
    &-cr,
    &-c {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    &-space-between,
    &-sb {
      display: flex;
      flex-direction: row;
      align-items: space-between;
      justify-content: space-between;
      width: 100%;
    }
    &-flex-start,
    &-fs {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }
    &-flex-end,
    &-fe {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
    }
  }
  &-col {
    display: flex;
    flex-direction: column;
    &-center,
    &-cr,
    &-c {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &-space-between,
    &-sb {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      justify-content: space-between;
      height: 100%;
    }
    &-flex-start,
    &-fs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
    }
    &-flex-end,
    &-fe {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
    }
  }
}

.Position,
.Pos,
.Pn {
  position: absolute;
  &--centerXY {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--centerX {
    left: 50%;
    transform: translate(-50%);
  }
  &--centerY {
    top: 50%;
    transform: translate(-50%);
  }
  &--relative {
    position: relative;
  }
}
._box-shadow,
._bs {
  box-shadow: 0px 5px 15px rgba(143, 150, 176, 0.3);
}
// TODO: Затемнение для страницы
.blackout {
  position: fixed;
  z-index: 550;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: $transition;

  &--active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
// ! Позиционирование страниц

.body-scroll-hidden {
  overflow-y: hidden;
}

.Container {
  margin: 0 auto;
}

.container {
  position: relative;
}

.Max-width {
  min-width: 320px;
  max-width: $maxWidthContainer + px;

  @media screen and (max-width: $md1 + px) {
    padding: 0 20px;
  }

  @media screen and (max-width: $md2 + px) {
    padding: 0 15px;
  }
}
// [attr] [attr=value] [attr~=value] [attr|=value] [attr^=value] [attr$=value] [attr*=value]
// !Popups
// [class*="-Bs"] {
//   box-shadow: 0px 5px 15px rgba(143, 150, 176, 0.3);

// }
// !Fancybox
.fancybox-close-small {
  width: 52px;
  height: 52px;
}

// !Scroll decor

::-webkit-scrollbar {
	width: 10px; /* ширина для вертикального скролла */
	height: 10px; /* высота для горизонтального скролла */
	background-color: transparent;
	
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: $gray;
	border-radius: 9em;
	box-shadow: inset 1px 1px 6px #f3faf7;

}

::-webkit-scrollbar-thumb:hover {
	background-color: $lime;
	cursor: pointer;
	
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
	background: transparent;
	background-color: transparent;
	display: none;
}

// Изменения скролла для FireFox
* {
	scrollbar-color: $gray transparent; /* «цвет ползунка» «цвет полосы скроллбара» */
	scrollbar-width: thin; /* толщина */
}
