@import './_vars.scss';
@import './mixins.scss';

/* * */

a {
    cursor: pointer;
}


/* manager */

.manager {
    &-background {
        background-color: $manager-bg;
    }
    &-page {
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 60px;
    }
    &-index {}
    &-container {
        color: $black-mg;
        max-width: 1380px;
        padding: 0 40px;
        margin: 0 auto;
    }
}

.mg-h1 {
    font-family: $font-family-Exo2;
    font-style: normal;
    font-weight: 600;
    // font-size: 22px;
    // line-height: 26px;
    @include adaptiv-value(font-size, 22, 16, 1);
    @include adaptiv-value(line-height, 26, 16, 1);
}

.mg-h1-normal {
    font-family: $font-family-Exo2;
    font-style: normal;
    font-weight: 400;
    @include adaptiv-value(font-size, 22, 16, 1);
    @include adaptiv-value(line-height, 26, 16, 1);
}

.mg-h2 {
    font-family: $font-family-Exo2;
    font-style: normal;
    font-weight: 600;
    @include adaptiv-value(font-size, 18, 12, 1);
    @include adaptiv-value(line-height, 22, 12, 1);
    color: #222631;
}

.mg-default {
    font-family: $font-family-Exo2;
    font-style: normal;
    font-weight: normal;
    // font-size: 16px;
    // line-height: 19px;
    @include adaptiv-value(font-size, 16, 12, 1);
    @include adaptiv-value(line-height, 19, 14, 1);
}

.mg-h1-big {
    font-family: $font-family-Exo2;
    font-style: normal;
    font-weight: normal;
    // font-size: 28px;
    // line-height: 19px;
    @include adaptiv-value(font-size, 28, 16, 1);
    @include adaptiv-value(line-height, 34, 24, 1);
}

.mg-table-container {
    &--border {
        border: 1px solid #E3E6F3;
        border-radius: 6px;
        margin-top: 24px;
        overflow: hidden;
    }
}

.mg-bold {
    font-weight: 600;
}

.mg-main__padding {
    padding: 10px 0;
}

.toggle-rotate {
    //transform: rotate(90deg)
    .Button__icon-svg {
        transform: rotate(90deg);
    }
}


/* mg-cursor-pointer */

.mg-cursor-pointer {
    cursor: pointer;
}


/* colors for text */

.mg-colors {
    &--gray {
        color: $gray;
    }
    &--lime {
        color: $lime;
    }
    &--default {
        color: $black;
    }
    &--red {
        color: $red;
    }
}


/*  */

.mg-display {
    &--theme {
        &--flex {
            display: flex;
        }
    }
}