<div class="popup-video-reviews _bs" id="popup-video-reviews" style="display: none;">
	<div class="popup-video-reviews__wrapper">
			<video class="popup-video-reviews__video" preload="metadata" controls loop>
				<source src="/video/test.webm" type="video/webm">
				<source src="/video/test.mp4" type="video/mp4">
			</video>
	</div>
</div>
