.popup-video-reviews {
  padding: 10px;
  background: none;
  filter: drop-shadow(0 0 70px rgb(105, 103, 103));


  &__svg {
    position: absolute;
    z-index: 55;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
  }
}
