.Card-elementary {
  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(58%, 727px));
  }

  &__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .item-Card-elementary__block-img {
      filter: brightness(1.1);
    }
  }

  .Contacts {
    &__block-info {
      @include adaptiv-value("margin-top", 38, 0, 1);

      .Contacts {
        &__item-content {
          @include adaptiv-value("margin-top", 20, 10, 1);
        }
      }
    }

    &__item-content {
    }

    &__item-icon {
    }

    &__item-icon-svg {
      @include adaptiv-value("height", 24, 18, 1);
      @include adaptiv-value("width", 24, 18, 1);
    }

    &__item-icon-svg-use {
    }

    &__item-information {
      p {
        @include adaptiv-value("font-size", 22, 14, 1);
        @include adaptiv-value("line-height", 26, 16, 1);

        color: $black;
      }
    }

    &__item-information-link {
      @include adaptiv-value("font-size", 22, 14, 1);
      @include adaptiv-value("line-height", 26, 16, 1);
    }

    &__item-title {
      @include adaptiv-value("margin-top", 10, 5, 1);

      margin-left: 35px;
    }

    &__item-city {
    }

    &__item-title-text {
      @include adaptiv-value("font-size", 28, 16, 1);
      @include adaptiv-value("line-height", 33, 19, 1);
    }

    &__list {
      grid-template-columns: auto;
    }

    &__list-item {
    }
  }

  .item-Card-elementary {
    &__block-img {
      width: 100%;
      height: 100%;
      transition: $transition;
    }

    &__block-img-size {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      @include adaptiv-value("padding-top", 10, 10, 1);
      @include adaptiv-value("padding-bottom", 10, 10, 1);
      @include adaptiv-value("padding-left", 50, 19, 1);
      @include adaptiv-value("padding-right", 20, 19, 1);

      display: flex;
      align-items: center;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__slide {
      max-height: 380px;
    }

    &__swiper-container {
      width: 100%;
      height: 100%;
    }

    &__wrapper {
      display: flex;
      align-items: center;
    }

    .Swiper-button-default__svg {
      fill: $lime;
    }
  }
}
