.mg-add-logo {
    margin-top: 16px;
    margin-bottom: 59px;
    &__container {
        display: flex;
        justify-content: center;
        max-width: 760px;
        margin: 0 auto;
        padding: 0 21px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        &:nth-child(2) {
            padding-left: 39px;
        }
    }
    &__inner {
        display: flex;
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 270px;
        min-height: 270px;
        background: #E3E6F3;
        border-radius: 6px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 31px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.5);
            .Button__icon-svg {
                fill: $white;
            }
            color: $white;
        }
        .img-area{
            width: 100%;
            height: 100%;
            position: absolute;
            text-indent: -10000px;
        }
    }
    &__icon {
        .Button__icon-svg {
            width: 62px;
            height: 62px;
            fill: $gray;
        }
    }
    &__text {
        font-weight: 600;
        @include adaptiv-value(font-size, 22, 16, 1);
        @include adaptiv-value(line-height, 22, 14, 1);
        padding-top: 14px;
        text-align: center;
    }
    &__warnings {
        margin-top: 11px;
        .popup-img__img-desc {
            &:not(:first-child) {
                padding-top: 20px;
            }
        }
    }
    &__button {
        &-text {
            line-height: 19px;
            color: #000000;
        }
        .Button {
            margin-top: 12px;
            background: inherit;
            border-color: $checkbox-off;
            &__text {
                display: flex;
                align-items: center;
                & span,
                svg {
                    color: $gray;
                    fill: $gray;
                }
            }
            &:hover {
                background-color: $lime;
                border-color: $lime;
                & span,
                svg {
                    color: $white;
                    fill: $white;
                }
            }
        }
    }
}

.mg-add-logo__container {
    // max-width: 400px;
    // max-height: 400px;
    // #mg-crop {
    //     display: block;
    //     /* This rule is very important, please don't ignore this */
    //     max-width: 100%;
    // }
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

.over {
    .mg-add-logo {
        &__inner {
            background: rgba(0, 0, 0, 0.5);
            .Button__icon-svg {
                fill: $white;
            }
            color: $white;
        }
    }
}