<div class="mg-add-logo">
    <div class="mg-add-logo__container">
        <div class="mg-add-logo__item">
            <div class="mg-add-logo__inner mg-drop-region">
                <div class="mg-add-logo__icon">
                    <svg class="Button__icon-svg">
                        <use class="Button__icon-svg-use" xlink:href="#download">
                        </use>
                    </svg>
                </div>
                <div class="mg-add-logo__text">Загрузить изображение логотипа</div>
                <img src="" alt="" class="img-area" alt="logo">
            </div>
        </div>
        <div class="mg-add-logo__item">
            <div class="mg-add-logo__warnings">
                <div class="img__body-wrapper">
                    <div class="popup-img__img-desc">
                        <div class="popup-img__img-desc-icon">
                            <button class="Icon Icon--gray  Icon--theme-m">
                                <div class="Icon__content">
                                    <svg class="Icon__svg">
                                        <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <p class="popup-img__img-desc-text error-format">
                            Логотип вашей компании должен быть в формате: <strong>.jpg</strong> или
                            <strong>.png</strong>
                        </p>
                    </div>
                    <div class="popup-img__img-desc">
                        <div class="popup-img__img-desc-icon">
                            <button class="Icon Icon--gray  Icon--theme-m">
                                <div class="Icon__content">
                                    <svg class="Icon__svg">
                                        <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <p class="popup-img__img-desc-text error-size">
                            Максимальный размер файла <strong>100 Мб.</strong>
                        </p>
                    </div>
                </div>
            </div>
            <!-- @include('../../../popups/popup-img/popup-img-slide.html') -->
            <div class="mg-add-logo__button">
                <div class="mg-add-logo__button-text">Перетащите сюда файл или найдите его на своем устройстве</div>
                <div class="Button Button--lime Button--theme-m mg-get-logo">
                    <span class="Button__text">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-pluss">
                                </use>
                            </svg>
                        </span>
                        <span>Выберите файл</span>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <form method="post">
    <input type="file" name="crop_image" class="crop_image" id="upload_image" />
</form>
<img id="sample_image" src="" alt="">
<div class="preview"></div> -->