<div class="Privacy-policy">
	<label class="Privacy-policy__checkbox checkbox">
		<input class="Privacy-policy__input" type="checkbox" name="checkbox" required="">
		<span class="Privacy-policy__label">
			<span class="Privacy-policy__text Privacy-policy__text--policy">
				Я принимаю условия Публичной оферты <a href="##"
					target="_blank">(https://optovikk.ru/offer/)</a>
			</span>
		</span>
		<span class="input-validation__message input-validation__message-mod"></span>
	</label>
</div>