<div class="mg-add-categories">
    <div class="mg-add-categories__container">
        <ul class="mg-add-categories__list">
            <!-- <li class="mg-add-categories__item">
                <div class="mg-add-categories__close">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg" onclick="mgCategory(this)">
                            <use class="Button__icon-svg-use"
                                xlink:href="#mg-pluss">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="mg-add-categories__inner">
                    <div class="photo">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use"
                                    xlink:href="#mg-category-others">
                                </use>
                            </svg>
                        </span>
                    </div>
                    <div class="text mg-colors--default">
                        <span>Двери</span>
                    </div>
                </div>
            </li>
            <li class="mg-add-categories__item">
                <div class="mg-add-categories__close">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use"
                                xlink:href="#mg-pluss">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="mg-add-categories__inner">
                    <div class="photo">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use"
                                    xlink:href="#mg-category-others">
                                </use>
                            </svg>
                        </span>
                    </div>
                    <div class="text mg-colors--default">
                        <span>Напольные покрытия</span>
                    </div>
                </div>
            </li>
            <li class="mg-add-categories__item">
                <div class="mg-add-categories__close">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use"
                                xlink:href="#mg-pluss">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="mg-add-categories__inner">
                    <div class="photo">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use"
                                    xlink:href="#mg-category-others">
                                </use>
                            </svg>
                        </span>
                    </div>
                    <div class="text mg-colors--default">
                        <span>Краски</span>
                    </div>
                </div>
            </li>
            <li class="mg-add-categories__item">
                <div class="mg-add-categories__close">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use"
                                xlink:href="#mg-pluss">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="mg-add-categories__inner">
                    <div class="photo">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use"
                                    xlink:href="#mg-category-others">
                                </use>
                            </svg>
                        </span>
                    </div>
                    <div class="text mg-colors--default">
                        <span>Сад и огород</span>
                    </div>
                </div>
            </li>
            <li class="mg-add-categories__item">
                <div class="mg-add-categories__close">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use"
                                xlink:href="#mg-pluss">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="mg-add-categories__inner">
                    <div class="photo">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use"
                                    xlink:href="#mg-category-others">
                                </use>
                            </svg>
                        </span>
                    </div>
                    <div class="text mg-colors--default">
                        <span>Потолки</span>
                    </div>
                </div>
            </li>
            <li class="mg-add-categories__item">
                <div class="mg-add-categories__close">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use"
                                xlink:href="#mg-pluss">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="mg-add-categories__inner">
                    <div class="photo">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use"
                                    xlink:href="#mg-category-others">
                                </use>
                            </svg>
                        </span>
                    </div>
                    <div class="text mg-colors--default">
                        <span>Другое</span>
                    </div>
                </div>
            </li> -->
        </ul>
        <div class="mg-add-categories__add">
            <button class="Button Button--lime Button--theme-m" href="#popup-category-list" data-fancybox-window>
                <span class="Button__text">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use"
                                xlink:href="#mg-pluss">
                            </use>
                        </svg>
                    </span>
                    <span>Добавить</span>
                </span>
            </button>
        </div>
    </div>
</div>