<footer class="footer">
	<div class="Container Max-width">
		<div class="footer__wrapper">
			<div class="footer__content-informations">
				<div class="Logo footer__logo">
					<a href="#">
						<img class="Logo__image Logo__image--size-s" src="img/logo-2.svg" alt="" />
					</a>
				</div>
				<div class="Feedback footer__feedback">
					<div class="Feedback__wrapper">
						<div class="Feedback__block-number">
							<div class="Feedback__number-icon">
								<svg class="Feedback__icon-svg">
									<use class="Feedback__icon-svg-use" xlink:href="#phone"></use>
								</svg>
							</div>
							<div class="Feedback__number">
								<a class="Link Link--white" href="tel:8(909)678-00-56">
									8(909)678-00-56
								</a>
							</div>
						</div>
						<div class="Feedback__call">
							<a class="Link Link--theme-s Link--lime-decor" href="#">Заказать звонок</a>
						</div>
					</div>
				</div>
				<div class="Schedule footer__shedule">
					<div class="Schedule__wrapper">
						<div class="Schedule__icon">
							<svg class="Schedule__icon-svg">
								<use class="Schedule__icon-svg-use" xlink:href="#clock"></use>
							</svg>
						</div>
						<div class="Schedule__block-information">
							<h5 class="Schedule__title">График работы</h5>
							<p class="Schedule__description">пн-пт 09:00 - 18:00</p>
							<p class="Schedule__description">сб-вс 10:00 - 15:00</p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__content-navs">
				<div class="footer__block-nav footer__block-nav-buyer">
					<div class="footer__block-title-nav">
						<h3 class="footer__title-nav">Покупателям</h3>
					</div>
					<div class="footer__nav">
						<ul class="footer__nav-list">
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Контакты</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">О компании</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Акции</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Вакансии</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Статьи</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer__block-nav footer__block-nav-catalog">
					<div class="footer__block-title-nav">
						<h3 class="footer__title-nav">Каталог</h3>
					</div>
					<div class="footer__nav">
						<ul class="footer__nav-list">
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Межкомнатные двери</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Входные двери</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Фурнитура</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Аксессуары</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer__block-nav footer__block-nav-partners">
					<div class="footer__block-title-nav">
						<h3 class="footer__title-nav">Партнерам</h3>
					</div>
					<div class="footer__nav">
						<ul class="footer__nav-list">
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Дилеры</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Застройщики</a>
							</li>
							<li class="footer__nav-item">
								<a class="Link Link--gray-lime" href="#">Постановщик</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__content-social-networks">
				<div class="footer__block-title-social-networks">
					<h3 class="footer__title-social-networks">Узнавайте о новинках</h3>
				</div>
				<div class="footer__inner-social-networks">
					<div class="
              Social-network
              Social-network--theme-s
              Social-network--gray
              Social-network--gray-blue
              footer__block-social-network
            ">
						<div class="Social-network__wrapper">
							<div class="Social-network__icon">
								<svg class="Social-network__icon-svg">
									<use class="Social-network__icon-svg-use" xlink:href="#vk"></use>
								</svg>
							</div>
							<div class="Social-network__block-information">
								<h5 class="Social-network__title">Вконтакте</h5>
								<div class="Social-network__subscribe">
									<a class="Link Link--theme-s Link--gray-decor" href="#" target="_blank">Подписаться</a>
								</div>
							</div>
						</div>
					</div>
					<div class="
              Social-network
              Social-network--theme-s
              Social-network--gray
              Social-network--gray-purple
              footer__block-social-network
            ">
						<div class="Social-network__wrapper">
							<div class="Social-network__icon">
								<svg class="Social-network__icon-svg">
									<use class="Social-network__icon-svg-use" xlink:href="#instagram"></use>
								</svg>
							</div>
							<div class="Social-network__block-information">
								<h5 class="Social-network__title">Instagram</h5>
								<div class="Social-network__subscribe">
									<a class="Link Link--theme-s Link--gray-decor" href="#" target="_blank">Подписаться</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#scroll-top" class="Button Button--white Button--theme-s Button--theme-s-n" >
				<span class="Button__icon">
					<svg class="Button__icon-svg">
						<use class="Button__icon-svg-use" xlink:href="#up"></use>
					</svg>
				</span>
				<span class="Button__text">Наверх</span>
			</a>
		</div>
	</div>
	<div class="footer__copyright">
		<div class="Container Max-width">
			<div class="footer__wrapper-copyright">
				<div class="footer__block-copyright-title">
					<h4 class="footer__block-copyright-title-text">Стоимость товаров и услуг, указанная на сайте,
						НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ </h4>
				</div>
				<div class="footer__block-copyright-informations">
					<ul class="footer__list-copyright-informations">
						<li class="footer__item-copyright-informations">
							<a class="Link Link--theme-s Link--dimgray-decor" href="#">Правила эксплутации входных и межкомнатных
								дверей</a>
						</li>
						<li class="footer__item-copyright-informations">
							<a class="Link Link--theme-s Link--dimgray-decor" href="#">Политика обработкт персональных данных</a>
						</li>
						<li class="footer__item-copyright-informations">
							<a class="Link Link--theme-s Link--dimgray-decor" href="#">Карта сайта</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="blackout"></div>
</footer>