.Bread-crumbs {
  &__list {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__list-item {
    &:not(:last-child) {
      position: relative;
      margin-right: 3px;
      padding-right: 5px;

      &::after {
        content: "/";
        position: absolute;
        right: 0;
        top: 50%;
        width: 4px;
        height: 8px;
        font-size: 11px;
        transform: translateY(-50%);
      }
    }
  }

  &__list-item--black {
    &::after {
      filter: blur(2px);
    }

    .Bread-crumbs__link {
      &:hover {
        border-bottom-color: $black;
      }
    }

    .Bread-crumbs__link-text {
      color: $black;
    }
  }

  &__link {
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    transition: 0.3s all;

    &:hover {
      border-bottom-color: $gray;
    }
  }

  &__link-text {
    font-size: 12px;
    line-height: 14px;
  }
}
