<div class="Schedule">
	<div class="Schedule__wrapper">
		<div class="Schedule__icon">
			<svg class="Schedule__icon-svg">
				<use class="Schedule__icon-svg-use" xlink:href="#clock"></use>
			</svg>
		</div>
		<div class="Schedule__block-information">
			<h5 class="Schedule__title">График работы</h5>
			<p class="Schedule__description">пн-пт 09:00 - 18:00</p>
			<p class="Schedule__description">сб-вс 10:00 - 15:00</p>
		</div>
	</div>
</div>