.Link {
  text-decoration-line: none;
  transition: $transition;
  cursor: pointer;

  &:disabled {
    color: rgb(0, 0, 0);
    cursor: initial;
  }
}

// Themes

.Link--theme-s {
  font-size: 12px;
  line-height: 5px;
}

.Link--theme-m {
  font-size: 22px;
  line-height: 26px;
}

.Link--theme-l {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

// Colors

.Link--lime {
  $colorAccent: $lime;

  color: $colorAccent;

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: $colorAccent;
      opacity: 0.7;
    }
  }

  &-decor {
    position: relative;
    color: $colorAccent;
  }

  &-decor::before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    height: 1px;
    background: $colorAccent;
    transform: scale(0);
    transition: $transition;
  }

  &-decor:hover::before {
    transform: scale(1);
    transition: $transition;
  }
}
.Link--blue {
  $colorAccent: #0063f9;

  color: $colorAccent;

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: $colorAccent;
      opacity: 0.7;
    }
  }

  &-decor {
    position: relative;
    color: $colorAccent;
  }

  &-decor::before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    height: 1px;
    background: $lime;
    transform: scale(0);
    transition: $transition;
  }

  &-decor:hover::before {
    transform: scale(1);
    transition: $transition;
  }
}

.Link--gray {
  $colorAccent: $gray;

  color: $colorAccent;

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: $colorAccent;
      opacity: 0.7;
    }
  }

  &-decor {
    position: relative;
    color: $colorAccent;
  }

  &-decor::before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    height: 1px;
    background: $colorAccent;
    transform: scale(0);
    transition: $transition;
  }

  &-decor:hover::before {
    transform: scale(1);
    transition: $transition;
  }
}

.Link--gray-lime {
  $colorAccent: $gray;

  color: $colorAccent;

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: $lime;
    }
  }
	&-decor {
    position: relative;
    color: $colorAccent;
  }

  &-decor::before {
    content: "";
    position: absolute;
    top: 150%;
    display: block;
    width: 100%;
    height: 2px;
    background: $lime;
    transform: scale(0);
    transition: $transition;
  }

  &-decor:hover::before {
    transform: scale(1);
    transition: $transition;
  }
}

.Link--white {
  $colorAccent: $white;

  color: $colorAccent;

  &:not(:disabled) {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &-decor {
    position: relative;
    color: $colorAccent;
  }

  &-decor::before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    height: 1px;
    background: $colorAccent;
    transform: scale(0);
    transition: $transition;
  }

  &-decor:hover::before {
    transform: scale(1);
    transition: $transition;
  }
}

.Link--black {
  $colorAccent: $black;
  
  color: $colorAccent;

  &:not(:disabled) {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &-decor {
    position: relative;
    color: $colorAccent;
  }

  &-decor::before {
    content: "";
    position: absolute;
    top: 150%;
    display: block;
    width: 100%;
    height: 2px;
    background: $lime;
    transform: scale(0);
    transition: $transition;
  }

  &-decor:hover::before {
    transform: scale(1.3);
    transition: $transition;
  }
}
.Link--dimgray {
  $colorAccent: $dimgray;
  
  color: $colorAccent;

  &:not(:disabled) {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &-decor {
    position: relative;
    color: $colorAccent;
  }

  &-decor::before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    height: 1px;
    background: $colorAccent;
    transform: scale(0);
    transition: $transition;
  }

  &-decor:hover::before {
    transform: scale(1);
    transition: $transition;
  }
}