<div class="mg-orders">
     <div class="mg-orders-table">
          <div class="mg-orders-table__container">
               <!-- mg-table -->
               <!-- mg-my-order -->
               <div class="mg-table mg-my-order">
                    <div class="mg-table__header mg-table--theme--grid">
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">№ Заказа</span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Сформирован</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Организация</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Сумма</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-buttons mg-buttons--unique">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-uneque-doors"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Статус</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Тип доставки</span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">№ Заказа</span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">№ Заказа</span>
                         </div>
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">“Лотос и Роза”</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">223 567 ₽</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="new"></div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--edit">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-edit"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Самовывоз</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Магазин “Ромашка” №1</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-status.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">“Лотос и Роза”</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">223 567 ₽</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="accepted">Принят</div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--edit">
                                   <svg class="mg-buttons mg-buttons--edit--svg" data-href="ss">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-edit"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Самовывоз</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Магазин “Ромашка” №1</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-status.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">“Лотос и Роза”</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">223 567 ₽</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="agreed">Согласован</div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Самовывоз</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Магазин “Ромашка” №1</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-status.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">“Лотос и Роза”</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">223 567 ₽</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="partially-shipped">Частично
                                   отгружен</div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>

                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Самовывоз</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Магазин “Ромашка” №1</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-status.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">“Лотос и Роза”</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">223 567 ₽</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="shipped">Отгружен</div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>

                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Самовывоз</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Магазин “Ромашка” №1</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-status.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">“Лотос и Роза”</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">223 567 ₽</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="completed">Выполнен</div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Самовывоз</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Магазин “Ромашка” №1</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-status.html')
                    </div>
               </div>

               <!-- mg-table mg-no-standard-order -->
               <div class="mg-table mg-no-standard-order">
                    <div class="mg-table__header mg-table--theme--grid">
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">№ Заказа</span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Дата формирования</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Статус</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Предмет заявки</span>
                         </div>
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>

                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="new"></div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--doc">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-doc"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Межкомнатные двери/Ламинированные двери/ Сецилия ДО</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-no-standard.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>

                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="new"></div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--doc">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-doc"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Межкомнатные двери/Ламинированные двери/ Сецилия ДО</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-no-standard.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>

                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="new"></div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--doc">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-doc"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Межкомнатные двери/Ламинированные двери/ Сецилия ДО</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-no-standard.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>

                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="new"></div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--doc">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-doc"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Межкомнатные двери/Ламинированные двери/ Сецилия ДО</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-no-standard.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>

                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="new"></div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--doc">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-doc"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Межкомнатные двери/Ламинированные двери/ Сецилия ДО</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-no-standard.html')
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>

                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="new"></div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--doc">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-doc"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Межкомнатные двери/Ламинированные двери/ Сецилия ДО</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-no-standard.html')
                    </div>

               </div>

               <!-- mg-info-account -->
               <div class="mg-table mg-info-account">
                    <div class="mg-table__header mg-table--theme--grid">
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">№ Заказа</span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Сформирован</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Организация</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Сумма</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-buttons mg-buttons--unique">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-uneque-doors"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Статус</span>
                              <span class="mg-table__icon">
                                   <span class="mg-drop-down">
                                        <svg class="mg-buttons mg-buttons__bottom-svg">
                                             <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                        </svg>
                                   </span>
                              </span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">Тип доставки</span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">№ Заказа</span>
                         </div>
                         <div class="mg-table__headlines">
                              <span class="mg-table__title">№ Заказа</span>
                         </div>
                    </div>
                    <div class="mg-table__body mg-table--theme--grid parent-down">
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">№ 001</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">01.12.2020</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">“Лотос и Роза”</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">223 567 ₽</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                         <div class="mg-table__subtitle mg-cursor-pointer">
                              <div class="mg-table__title mg-bold" data-status-check="new"></div>
                              <span class="mg-drop-down">
                                   <svg class="mg-buttons mg-buttons__bottom-svg">
                                        <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                                   </svg>
                              </span>
                              <span class="mg-buttons mg-buttons--edit">
                                   <svg class="mg-buttons">
                                        <use class="mg-buttons__bottom-use" xlink:href="#mg-edit"></use>
                                   </svg>
                              </span>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Самовывоз</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">Магазин “Ромашка” №1</div>
                         </div>
                         <div class="mg-table__subtitle">
                              <div class="mg-table__title">-</div>
                         </div>
                    </div>
                    <div class="mg-table__status child-down" style="display: none">
                         @include('../../sections/section-status/mg-status.html')
                    </div>
               </div>
          </div>
     </div>
</div>