.section-directory {
	&__btns {
		display: flex;
		align-items: center;
		margin-left: 30px;
		margin-right: 30px;

	}
  &__tabs {
		&:not(:last-child) > .Button {
			margin-right: 10px;
		}
		// margin-top: -10px;
		.Button {
			// margin-top: 10px;
			border: 1px solid $gray-bg;
			transition: $transition;
			&:hover,
			&:focus,
			&:active {
				border: 1px solid transparent;
			}
		}
  }
  &__wrapper {
    margin-top: 20px;
    .Button {
      &--theme-s-n {
        width: auto;
      }
      &__icon-svg {
        margin: 0;
      }
    }
    .Tabs {
      &__block-grid {
        @include adaptiv-value("margin-top", 20, 10, 1);
        display: grid;
        gap: 20px;
      }
			&__block-grid-three {
				grid-template-columns: repeat(3, 32.3%);
			}
			&__block-grid-one,
			&__block-grid-one-aflat {
				grid-template-columns: repeat(1, 1fr);
			}
			&__block-grid-two {
				grid-template-columns: repeat(2, 1fr);
			}
    }
  }
	&__header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__header-box-tabs-btns {
		display: flex;
		align-items: center;
	}
	&__header-box-checkbox-selector-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__Checkbox {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		& > .Checkbox:not(:last-child) {
			margin-right: 20px;
		}
	}
	&__Select {
		@include adaptiv-value("margin-left", 40, 10, 1);
		@include adaptiv-value("font-size", 16, 14, 1);
		// @include adaptiv-value("width", 240, 200, 1);
		width: 240px;
		.Select {
			display: flex;
			align-items: center;
			.Button__icon-svg {
				height: 24px;
				width: 24px;
				fill: $gray;
			}
			.dropdown {
				margin-left: 8px;
				width: 100%;
			}
		}
	}
	&__btn {
		margin-left: 10px;
	}
	&__swiper-container {
		margin-top: 20px;
		padding: 0 24px;
	}
	.swiper-wrapper {
		padding: 17px 30px;
	}
	.Swiper-button-default__use {
		fill: $gray;

	}
	.Swiper-button-default__svg {
		height: 58px;
    width: 52px;
    padding: 23px;
		background: $white;

		
	}
	.Swiper-button-prev-video-reviews {
		padding: 0;
		.Swiper-button-default__svg {
			padding: 23px;
			
			padding-left: 0;
		}
	}
	.Swiper-button-next-video-reviews {
		padding: 0;
		.Swiper-button-default__svg {
			padding: 23px;

			padding-right: 0;
		}
	}
	&__slide {
		text-align: center;
		.section-directory {
			&__link {
				// white-space: nowrap;
			}
		}
		&--active {
      .section-directory {
        &__link {
          position: relative;
        }
        &__link::before {
          content: "";
          position: absolute;
          top: 150%;
          display: block;
          width: 100%;
          height: 2px;
          background: $lime;
          transform: scale(0);
          transition: $transition;
          transform: scale(1);
          transition: $transition;
        }
      }
      .Link {
        &--gray-lime-decor {
          color: $lime;
        }
      }
    }
	}

	.swiper-slide {
		width: max-content;
	}
	.swiper-slide-active {
		// color: red;
	}
	// .Link {
	// 	color: currentColor;
	// }
}
