<div class="Counter Counter--lacks">
	<button class="
				Counter__button Counter__button--js-reduction
			" data-decrement="">
		<svg class="Counter__svg">
			<use xlink:href="#arrow-left" class="Counter__use"></use>
		</svg>
	</button>
	<div class="Counter__block-input">
		<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1" />
		<span class="Counter__lacks">
			ожидается </span>
	</div>
	<button class="Counter__button Counter__button--js-increase" data-increment="">
		<svg class="Counter__svg">
			<use xlink:href="#arrow-right" class="Counter__use"></use>
		</svg>
	</button>
</div>